<script setup lang="ts">
  import { defineEmits, defineProps, ref } from 'vue';
  import type { CustomizerUpdateTextEvent, ITextEditorFontSizeOptions, UniqueTextData } from './types';
  import AddTextCustomizerTextEditor from './AddTextCustomizerTextEditor.vue';
  import CreateTextEditorControl from './CreateTextEditorControl.vue';
  import ConfirmationDialog from '../ConfirmationDialog.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface AddTextCustomizerProps {
    textDataList: UniqueTextData[];
    fontFamilyList: string[];
    googleFontApiKey: string;
    fontSizeOptions: ITextEditorFontSizeOptions;
    preloading?: boolean;
  }

  defineProps<AddTextCustomizerProps>();

  const emit = defineEmits<{
    (e: 'create:text'): void,
    (e: 'update:text', value: CustomizerUpdateTextEvent): void
    (e: 'close', id: string): void,
    (e: 'install:font', fontFamily: string): void,
  }>();
  const { t } = setupI18n();
  const modelConfirmDeleteTextEditor = ref(false);
  let textEditorToDeleteId = '';

  /**
   * Закрытие/удаление текстового редактора (объекта текста из редактора)
   */
  function onTextEditorClose(id: string) {
    modelConfirmDeleteTextEditor.value = true;
    textEditorToDeleteId = id;
  }

  function onConfirmDeleteTextEditor() {
    emit('close', textEditorToDeleteId);
    textEditorToDeleteId = '';
  }
</script>

<template>
  <template
    v-for="textData in textDataList"
    :key="textData.id"
  >
    <AddTextCustomizerTextEditor
      class="q-mb-lg"
      :font-family-list="fontFamilyList"
      :font-api-key="googleFontApiKey"
      :font-size="textData.fontSize"
      :font-size-options="fontSizeOptions"
      :font-family="textData.fontFamily"
      :text="textData.text"
      :text-align="textData.textAlign"
      :text-color="textData.textColor"
      :background-color="textData.backgroundColor"
      @update="emit('update:text', {id: textData.id, data: $event})"
      @close="onTextEditorClose(textData.id)"
      @install-font="emit('install:font', $event)"
    />
  </template>
  <div class="flex justify-center">
    <CreateTextEditorControl
      :class="preloading && 'preloading'"
      @click="emit('create:text')"
    />
  </div>
  <ConfirmationDialog
    v-model:value="modelConfirmDeleteTextEditor"
    :text="t('dialog.removeText')"
    @confirm="onConfirmDeleteTextEditor"
  />

</template>