<script lang="ts" setup>
  import FontSizeListSelection from '../FontSizeListSelection.vue';
  import SimpleColorSelection from '../SimpleColorSelection.vue';
  import TextAlignToggle from '../TextAlignToggle.vue';
  import IconButton from '../IconButton.vue';
  import { close, fill, letter } from '../../icons';
  import FontFamilyListSelection from './FontFamilyListSelection.vue';
  import { QInput } from 'quasar';
  import { computed, ref, watch } from 'vue';
  import type { TextAlignType } from '@mixapixa-masters/types';
  import type { ITextEditorFontSizeOptions, TextEditorEvent, UniqueTextData } from './types';

  const props = defineProps<{
    text: string
    textColor: string
    textAlign: TextAlignType
    fontFamily: string
    fontSize: number
    fontFamilyList: string[]
    fontSizeOptions: ITextEditorFontSizeOptions
    backgroundColor: string
  }>();

  const emit = defineEmits<{
    (e: 'update', value: TextEditorEvent): void
    (e: 'close'): void
    (e: 'install-font', value: string): void
  }>();
  const modelFontFamily = ref(props.fontFamily);
  const modelTextAlign = ref<TextAlignType>(props.textAlign);
  const modelText = ref(props.text);
  const fontFamilyStyle = computed(() => `font-family: ${modelFontFamily.value}`);

  function handlerSimpleColorSelectionInput(textColor: string) {
    dispatchUpdate({ textColor });
  }

  function handlerSimpleBackgroundColorSelectionInput(backgroundColor: string) {
    dispatchUpdate({ backgroundColor });
  }

  function dispatchUpdate(data: Partial<UniqueTextData> = {}) {
    emit('update', {
      text: modelText.value,
      textAlign: modelTextAlign.value,
      textColor: props.textColor,
      fontFamily: modelFontFamily.value,
      fontSize: props.fontSize,
      backgroundColor: props.backgroundColor,
      ...data,
    });
  }

  function onUpdateValueFontFamilyList(fontFamily: string) {
    emit('install-font', fontFamily);
  }

  function onFontSizeChange(fontSize: number) {
    dispatchUpdate({ fontSize });
  }

  watch([modelText, modelTextAlign, modelFontFamily], dispatchUpdate);
  watch(() => props.text, (value) => {
    modelText.value = value;
  });
  watch(() => props.textAlign, (value) => {
    modelTextAlign.value = value;
  });
  watch(() => props.fontFamily, (value) => {
    modelFontFamily.value = value;
  });

  function handlerClickClose() {
    emit('close');
  }
</script>

<style lang="scss" scoped>
  .textarea-grid {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 4px;
    grid-auto-flow: row dense;
    align-items: start;
    grid-template-areas:
    ". .";
  }

  .toolbar-grid {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min-content;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 4px;
    grid-auto-flow: row dense;
    align-items: center;
    grid-template-areas:
    ". . . . .";
  }

</style>

<template>
  <div>
    <div class="textarea-grid">
      <QInput
        class="q-mb-xs"
        :style="fontFamilyStyle"
        v-model="modelText"
        autogrow
        input-class="bg-white text-black q-px-sm rounded-borders"
      />
      <IconButton
        button-size="8px"
        size="25px"
        :icon="close"
        @click="handlerClickClose"
      />
    </div>
    <div class="toolbar-grid">
      <TextAlignToggle
        class="bg-master-background-control"
        v-model:value="modelTextAlign"
      />
      <FontFamilyListSelection
        v-model:value="modelFontFamily"
        bg-color="master-background-control"
        :list="fontFamilyList"
        @update:value="onUpdateValueFontFamilyList"
      />
      <FontSizeListSelection
        bg-color="master-background-control"
        :value="fontSize"
        :start="fontSizeOptions.start"
        :end="fontSizeOptions.end"
        :step="fontSizeOptions.step"
        @update:value="onFontSizeChange"
      />
      <SimpleColorSelection
        class="bg-master-background-control"
        :value="textColor"
        :icon="letter"
        format="rgba"
        @input="handlerSimpleColorSelectionInput"
      />
      <SimpleColorSelection
        class="bg-master-background-control"
        :value="backgroundColor"
        :icon="fill"
        format="rgba"
        @input="handlerSimpleBackgroundColorSelectionInput"
      />
    </div>
  </div>
</template>