<script lang="ts" setup>
  import IconTextButton from '../IconTextButton.vue';
  import { plus } from '../../icons';
  import { setupI18n } from '@mixapixa-masters/locales';

  const { t } = setupI18n();
</script>

<template>
  <IconTextButton
    :icon="plus"
    :label="t('addText')"
  />
</template>