<script lang="ts" setup>
  import { defineEmits } from 'vue';
  import { QIcon, QItem } from 'quasar';
  import MasterSelect from '../MasterSelect.vue';
  import { check } from '../../icons';

  interface FontFamilySelectionProps {
    value: string;
    list: string[];
    bgColor?: string;
    color?: string;
  }

  withDefaults(defineProps<FontFamilySelectionProps>(), {
    bgColor: 'master-background',
    color: 'white',
  });

  const emit = defineEmits<{
    (e: 'update:value', value: string): void
  }>();

  function handlerUpdateModelValueFontFamily(value: string) {
    emit('update:value', value);
  }
</script>

<style lang="scss" scoped>
  .item-grid {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0 8px;
    grid-template-areas:
    ". .";
    align-items: center;
  }
</style>

<template>
  <MasterSelect
    :model-value="value"
    :options="list"
    :bg-color="bgColor"
    options-selected-class="text-master-text-color"
    @update:model-value="handlerUpdateModelValueFontFamily"
  >
    <template #option="scope: {label: string, itemProps: any}">
      <QItem
        class="ellipsis"
        :class="value === scope.label && ('bg-' + bgColor)"
        v-bind="scope.itemProps"
      >
        <div class="item-grid full-width">
          <div :style="`font-family:${scope.label}`">{{ scope.label }}</div>
          <QIcon
            v-if="value === scope.label"
            :name="check"
          />
        </div>
      </QItem>
    </template>
    <template #selected-item="scope: {opt: any}">
      <span class="ellipsis">{{ scope.opt }}</span>
    </template>
  </MasterSelect>
</template>