<script lang="ts" setup>
  import { computed, ref } from 'vue';
  import { useDragMove } from '../useDragMove';
  import { useDragRotate } from '../useDragRotate';
  import { useDragResize } from '../useDragResize';
  import GridRotateControl from './Grid/GridRotateControl.vue';
  import GridCorner from './Grid/GridCorner.vue';
  import GridBorder from './Grid/GridBorder.vue';
  import GridBorderHControl from './Grid/GridBorderHControl.vue';
  import GridBorderVControl from './Grid/GridBorderVControl.vue';
  import GridCloseControl from './Grid/GridCloseControl.vue';
  import type { IGridData } from "./types";

  interface Emits {
    (e: 'update', payload: IGridData): void

    (e: 'resize', payload: IGridData): void

    (e: 'move', payload: IGridData): void

    (e: 'moveend', payload: IGridData): void

    (e: 'close'): void
  }

  interface Props {
    gridData: IGridData
    scale: number
    targetContainer: HTMLElement | null
    borderControls?: boolean
    rotateControl?: boolean
    closeControl?: boolean
  }

  const {
    dragMove,
    dragStart,
    dragEnd,
  } = useDragMove();

  const {
    dragRotate,
    dragRotateStart,
  } = useDragRotate();

  const {
    dragResizeStart,
    dragResize,
  } = useDragResize('center');

  const {
    dragResizeStart: dragResizeStartFromTopLeft,
    dragResize: dragResizeFromTopLeft,
  } = useDragResize('topleft');

  const {
    dragResizeStart: dragResizeStartFromBottomRight,
    dragResize: dragResizeFromBottomRight,
  } = useDragResize('bottomright');

  const emit = defineEmits<Emits>();
  const props = withDefaults(defineProps<Props>(), {
    rotateControl: true,
  });
  const dragContainer = ref<HTMLElement>();
  const hasBorderControls = computed(() => props.borderControls);
  const hasRotateControl = computed(() => props.rotateControl);
  let startRotateValue = 0;

  function updateData(data: any) {
    return {
      ...props.gridData,
      ...data,
    }
  }

  function emitUpdate(data: any) {
    emit('update', updateData(data));
  }

  function emitResize(data: any) {
    emit('resize', updateData(data));
  }

  function emitMove(data: any) {
    emit('move', updateData(data));
  }

  function emitMoveEnd(data: any) {
    emit('moveend', updateData(data));
  }

  function emitClose() {
    emit('close');
  }

  function onDragStart(event: DragEvent) {
    const x = props.gridData.x;
    const y = props.gridData.y;
    dragStart(event, x, y);
  }

  function onDrag(event: DragEvent) {
    const position = dragMove(event, props.scale);
    const x = position.x;
    const y = position.y;
    emitUpdate({x, y});
    emitMove({x, y});
  }

  function onDragEnd() {
    const position = dragEnd();
    const x = position.x;
    const y = position.y;
    emitUpdate({x, y});
    emitMove({x, y}); // оставлено для совместимости
    emitMoveEnd({x, y});
  }

  function onDragRotate(event: any) {
    const rotate = dragRotate(event) + startRotateValue;
    emitUpdate({rotate});
  }

  function onDragStartRotate(event: any) {
    startRotateValue = props.gridData.rotate;
    dragRotateStart(event, props.gridData.element);
  }

  function onDragStartResize(event: any) {
    const {gridData} = props;
    dragResizeStart(event, {
      x: gridData.x,
      y: gridData.y,
      width: gridData.width,
      height: gridData.height,
      rotate: gridData.rotate * Math.PI / 180,
    });
  }

  function onDragResize(event: any) {
    const {scale} = props;

    const result = dragResize(event, {scale});

    if (result) {
      emitUpdate(result);
      emitResize({...result, proportional: true});
    }
  }

  function onDragResizeStartFromTopLeft(event: any) {
    const {gridData} = props;
    dragResizeStartFromTopLeft(event, {
      x: gridData.x,
      y: gridData.y,
      width: gridData.width,
      height: gridData.height,
      rotate: gridData.rotate * Math.PI / 180,
    });
  }

  function onDragResizeSideFromTopLeft(event: any, vectorDirection: [number, number], proportional: boolean) {
    const {scale} = props;
    const result = dragResizeFromTopLeft(event, {scale, vectorDirection, proportional});
    if (result) {
      emitUpdate(result);
      emitResize(result);
    }
  }

  function onDragResizeStartFromBottomRight(event: any) {
    const {gridData} = props;
    dragResizeStartFromBottomRight(event, {
      x: gridData.x,
      y: gridData.y,
      width: gridData.width,
      height: gridData.height,
      rotate: gridData.rotate * Math.PI / 180,
    });
  }

  function onDragResizeSideFromBottomRight(event: any, vectorDirection: [number, number], proportional: boolean) {
    const {scale} = props;
    const result = dragResizeFromBottomRight(event, {scale, vectorDirection, proportional});
    if (result) {
      emitUpdate(result);
      emitResize(result);
    }
  }

  function onClickClose() {
    emitClose();
  }
</script>

<style lang="scss" scoped>
  .text-area-grid {
    position: absolute;

    &::v-deep(.grid-rotate-control) {
      left: 50%;
      bottom: -30px;
      transform: translateX(-50%);
    }
  }

</style>
<template>
  <div
      ref="dragContainer"
      class="text-area-grid"
      v-draggable="{container: targetContainer}"
      @drag="onDrag"
      @dragstart="onDragStart"
      @dragend="onDragEnd"
  >
    <GridBorder/>
    <template v-if="hasBorderControls">
      <!--  Top border  -->
      <GridBorderHControl
          style="top: 0"
          v-draggable="{container: targetContainer}"
          @dragstart="onDragResizeStartFromBottomRight"
          @drag="onDragResizeSideFromBottomRight($event, [0,-1], false)"
      />
      <!--  Right border  -->
      <GridBorderVControl
          style="right: -14px"
          v-draggable="{container: targetContainer}"
          @dragstart="onDragResizeStartFromTopLeft"
          @drag="onDragResizeSideFromTopLeft($event, [1,0], false)"
      />

      <!--  Bottom border  -->
      <GridBorderHControl
          style="bottom: -13px"
          v-draggable="{container: targetContainer}"
          @dragstart="onDragResizeStartFromTopLeft"
          @drag="onDragResizeSideFromTopLeft($event, [0,1], false)"
      />
      <!--    Left border-->
      <GridBorderVControl
          style="left: 1px"
          v-draggable="{container: targetContainer}"
          @dragstart="onDragResizeStartFromBottomRight"
          @drag="onDragResizeSideFromBottomRight($event, [-1,0], false)"
      />
    </template>
    <GridCorner
        style="right: -25px; bottom: -25px"
        v-draggable="{container: targetContainer}"
        @dragstart="onDragStartResize"
        @drag="onDragResize($event)"
    />
    <GridRotateControl
        v-if="hasRotateControl"
        v-draggable="{container: targetContainer}"
        @drag="onDragRotate"
        @dragstart="onDragStartRotate"
    />
    <GridCloseControl
        v-if="closeControl"
        @click="onClickClose"
    />
  </div>
</template>