<script lang="ts" setup>
  import HorizontalGridBorder from './HorizontalGridBorder.vue';
  import VerticalGridBorder from './VerticalGridBorder.vue';
  import { computed } from 'vue';

  interface GridBorderProps {
    color?: string;
  }

  const props = withDefaults(defineProps<GridBorderProps>(), {
    color: 'master-brand',
  });

  const bgColorClassName = computed(() => 'bg-' + props.color);
</script>

<template>
  <HorizontalGridBorder :class="bgColorClassName"/>
  <HorizontalGridBorder class="absolute-bottom" :class="bgColorClassName"/>
  <VerticalGridBorder :class="bgColorClassName"/>
  <VerticalGridBorder class="absolute-right" :class="bgColorClassName"/>
</template>