<script lang="ts" setup>
  import { close } from "../../../icons";
  import { QIcon } from "quasar";
</script>

<style lang="scss" scoped>
  $r: 20px;

  .grid-close {
    transform: translate(-50%, -50%);
    width: $r;
    height: $r;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0.5);
  }
</style>

<template>
  <div class="grid-close control-pointer-behavior absolute bg-white cursor-pointer">
    <div class="flex grid-rotate-control-inner control-pointer-behavior fit items-center justify-center text-black">
      <QIcon
          :name="close"
          size="18px"
      />
    </div>
  </div>
</template>