<style lang="scss" scoped>
  .grid-corner {
    width: 24px;
    height: 24px;

    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 1px -1px rgba(0, 0, 0, 0.5);
      background: currentColor;
    }
  }
</style>

<template>
  <div class="grid-corner control-pointer-behavior absolute text-white flex items-center justify-center"/>
</template>