<script lang="ts" setup>
  import { rotate } from "../../../icons";
  import { QIcon } from "quasar";
</script>

<style lang="scss" scoped>
  $r: 20px;

  .grid-rotate-control {
    position: absolute;
    width: $r;
    height: $r;

    &-inner {
      border-radius: 100%;
    }
  }
</style>

<template>
  <div class="grid-rotate-control cursor-pointer">
    <div class="flex grid-rotate-control-inner control-pointer-behavior fit items-center justify-center text-black bg-white">
      <QIcon
          :name="rotate"
          size="18px"
      />
    </div>
  </div>
</template>