<style lang="scss" scoped>
  .grid__border {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5px;
  }

  .grid__border__control {
    width: 12px;
    height: 5px;
  }
</style>

<template>
  <div class="grid__border">
    <div class="grid__border__control bg-white shadow-1"/>
  </div>
</template>