<script setup lang="ts">
  import { computed, ref } from 'vue';

  interface MasterImagePlayerProps {
    duration: number,
    background: string
  }

  const props = defineProps<MasterImagePlayerProps>();
  const emit = defineEmits(['timeupdate', 'loaded', 'ended', 'pause', 'play']);
  const refImage = ref<HTMLImageElement | null>(null);
  const refElement = ref();
  const currentTime = ref(0);
  const DELTA_TIME_UPDATE = 0;

  let isPlaying = false;
  let prevTimeUpdate = 0;
  let playTimeStart = 0;
  let currentTimeStart = 0;
  let playTimer = 0;

  function play() {
    if (isPlaying) return;

    emit('play');
    isPlaying = true;
    prevTimeUpdate = Date.now();
    playTimeStart = Date.now();
    currentTimeStart = currentTime.value;
    playStep();
  }

  function playStep() {
    const playTime = Date.now();
    const dTimeUpdate = playTime - prevTimeUpdate;
    if (dTimeUpdate > DELTA_TIME_UPDATE) {
      emit('timeupdate', currentTime.value);
      prevTimeUpdate = playTime;
    }

    let time = currentTimeStart + (playTime - playTimeStart) / 1000;
    if (time < props.duration) {
      setCurrentTime(time);
      playTimer = requestAnimationFrame(playStep);
    } else {
      time = props.duration;
      emit('timeupdate', time);
      setCurrentTime(0);
      stopPlaying();
      emit('ended');
    }
  }

  function stopPlaying() {
    if (!isPlaying) return false;
    isPlaying = false;
    if (playTimer) {
      cancelAnimationFrame(playTimer);
      playTimer = 0;
    }
    return true;
  }

  function pause() {
    if (stopPlaying()) {
      emit('pause');
    }
  }

  function setCurrentTime(time: number) {
    currentTime.value = Math.max(0, time);
  }

  function getCurrentTime() {
    return currentTime.value;
  }

  function seek(time: number) {
    return Promise.resolve()
    .then(() => setCurrentTime(time));
  }

  const width = computed(() => {
    return refImage.value?.naturalWidth;
  });

  const height = computed(() => {
    return refImage.value?.naturalHeight;
  });

  const clientWidth = computed(() => {
    return refElement.value?.clientWidth;
  });

  const clientHeight = computed(() => {
    return refElement.value?.clientHeight;
  });

  defineExpose({
    video: refImage,
    get currentTime() {
      return currentTime.value;
    },
    width,
    height,
    clientWidth,
    clientHeight,
    pause,
    play,
    setCurrentTime,
    getCurrentTime,
    seek,
  });
</script>

<template>
  <div class="fit relative-position">
    <div class="absolute-full no-scroll">
      <div
          ref="refElement"
          class="fit"
          :style="`background: url(${background}); background-size: contain`"
      />
    </div>
    <div class="absolute-full">
      <slot name="grid"/>
    </div>
  </div>
</template>