<script setup lang="ts">
  import type { ObjectFitProperty } from 'csstype';
  import type { StyleValue } from 'vue';
  import { computed, ref, watch } from 'vue';
  import { QInnerLoading } from 'quasar';
  import { initVideoPlayer } from '@mixapixa-masters/utils';
  import type { IEventLoadedMasterVideoPlayer } from '../index';
  import type { WatchStopHandle } from '@vue/runtime-core';

  interface MastersVideoPlayerProps {
    src: string

    controls?: boolean | {
      play?: boolean,
      timeline?: boolean,
      mute?: boolean,
    },

    fit?: ObjectFitProperty,

    autoplay?: boolean,

    muted?: boolean,
    /**
     * Класс, устанавливающийся в тэг video
     */
    videoClass?: any,
    /**
     * Стиль, устанавливающийся в тэг video
     */
    videoStyle?: StyleValue | undefined,

    poster?: string,
    preload?: 'auto' | 'metadata' | 'none',
  }

  const props = withDefaults(defineProps<MastersVideoPlayerProps>(), {
    controls: false,
    fit: 'cover',
    autoplay: false,
    muted: true,
    poster: '',
    preload: 'auto',
  });

  interface MasterVideoPlayerEmit {
    (e: 'timeupdate', time: number): void,

    (e: 'ended'): void,

    (e: 'loaded', payload: IEventLoadedMasterVideoPlayer): void,

    (e: 'pause'): void,

    (e: 'seeked'): void,

    (e: 'playing'): void,
  }

  const emit = defineEmits<MasterVideoPlayerEmit>();

  const refVideo = ref<HTMLVideoElement | null>(null);
  const duration = ref<number>(0);
  const isPlaying = ref<boolean>(false);
  const currentPlaying = ref<boolean>(false);
  const playingStarted = ref<boolean>(false);
  const loadedData = ref<boolean>(false);
  const playerInited = ref<boolean>(false);
  const clientWidth = computed(() => refVideo.value?.clientWidth);
  const clientHeight = computed(() => refVideo.value?.clientHeight);
  const initDone = computed<boolean>(() => playerInited.value/* && loadedData.value*/);
  const showSeekLoader = ref<boolean>(false);
  const tasksWaitInit = new Map<() => void, any[] | undefined>();
  let unwatchWaitInit: WatchStopHandle | null = null;
  const initStarted = ref<boolean>(false);

  let scheduledTime = -1;
  let playingFrame = 0;

  const play = (time = -1) => {
    isPlaying.value = true;
    runInitPlayer();
    waitForPlayerInit(runPlay, [time]);
  };

  const runPlay = async (time = -1) => {
    if (!isPlaying.value) return;

    playingStarted.value = false;
    if (time !== -1) {
      setCurrentTime(time);
    }
    const started = await refVideo.value?.play()
    .then(() => isPlaying.value)
    .catch(() => false);
    if (!started) {
      pause();
    } else {
      playingStarted.value = true;
    }
    return started;
  };

  let prevCurrentTime = 0;

  function startFakePlay() {
    prevCurrentTime = refVideo.value?.currentTime || 0;
    playingFrame = requestAnimationFrame(fakePlayStep);
  }

  function stopFakePlay() {
    cancelAnimationFrame(playingFrame);
  }

  function seek(time: number) {
    return new Promise((resolve) => {
      // runSeek(time, resolve);
      waitForPlayerInit(runSeek, [time, resolve]);
    });
  }

  function runSeek(time: number, resolve: () => void) {
    const video = refVideo.value;
    if (!video) {
      resolve();
      return;
    }

    let seekTimer = setTimeout(() => {
      showSeekLoader.value = true;
    }, 200);
    const OnSeek = () => {
      clearTimeout(seekTimer);
      showSeekLoader.value = false;
      video.removeEventListener('seeked', OnSeek);
      resolve();
    };
    video.addEventListener('seeked', OnSeek);
    setCurrentTime(time);
  }

  function fakePlayStep() {
    const currentTime = refVideo.value?.currentTime || 0;
    if (currentTime > prevCurrentTime) {
      emit('timeupdate', currentTime);
      prevCurrentTime = currentTime;
    }
    playingFrame = requestAnimationFrame(fakePlayStep);
  }

  const pause = () => {
    refVideo.value?.pause();
    isPlaying.value = false;
  };

  const setCurrentTime = (time: number) => {
    if (refVideo.value) {
      refVideo.value.currentTime = Math.max(0, time);
    }
  };

  const setMute = (value: boolean) => {
    if (!refVideo.value) return;
    refVideo.value.muted = value;
  };

  const setSpeed = (value: number) => {
    if (!refVideo.value) return;
    refVideo.value.playbackRate = value;
  }

  const onLoadMetadata = () => {
    duration.value = refVideo.value?.duration || 0;
  };

  const onEnded = () => {
    isPlaying.value = false;
    currentPlaying.value = false;
    emit('ended');
  };

  const onPlaying = () => {
    currentPlaying.value = true;
    emit('playing');
  };

  const onWaiting = () => {
    currentPlaying.value = false;
  };

  const onPause = () => {
    currentPlaying.value = false;
    emit('pause');
  };

  const onLoadedData = () => {
    loadedData.value = true;
  };

  const checkScheduleTime = () => {
    if (scheduledTime === -1) return;

    if (initDone.value) {
      setCurrentTime(scheduledTime);
      scheduledTime = -1;
    }
  };

  const waitForPlayerInit = (cb: (...args: any[]) => void, args?: any[]) => {
    if (initDone.value) {
      cb.apply<null, any[], void>(null, args || []);
    } else {
      tasksWaitInit.set(cb, args);
      if (!unwatchWaitInit) {
        unwatchWaitInit = watch(initDone, (value) => {
          if (value) {
            unwatchWaitInit?.();
            unwatchWaitInit = null;
            Array.from(tasksWaitInit.entries())
            .forEach(([cb, args]) => cb.apply<null, any[], void>(null, args || []));
            tasksWaitInit.clear();
          }
        });
      }
    }
  };

  const onSeeked = () => {
    emit('seeked');
  };

  const runInitPlayer = async () => {
    if (initStarted.value) return;

    playerInited.value = false;
    const video = refVideo.value;
    const src = props.src;
    if (video && src) {
      initStarted.value = true;
      return initVideoPlayer(video, src)
      .then(() => {
        playerInited.value = true;
      });
    }
  };

  watch([() => props.src, refVideo], ([src, video]) => {
    if (video && src) {
      initStarted.value = false;
      // playerInited.value = false;
      runInitPlayer();
    }
  });

  watch(currentPlaying, (value: boolean) => {
    if (value) {
      startFakePlay();
    } else {
      stopFakePlay();
    }
  }, { immediate: true });

  watch([duration, playerInited], ([duration, inited]) => {
    if (duration && inited && refVideo.value) {
      const video = refVideo.value;
      emit('loaded', {
        duration: video.duration,
        videoWidth: video.videoWidth,
        videoHeight: video.videoHeight,
      });
    }
  });

  watch(initDone, (value) => {
    if (value) {
      checkScheduleTime();
    }
  });

  defineExpose({
    play,
    pause,
    set currentTime(time: number) {
      seek(time);
    },
    get currentTime() {
      return refVideo.value?.currentTime || 0;
    },
    get duration() {
      return duration.value;
    },
    setCurrentTime: seek,
    isPlaying,
    seek,
    clientWidth,
    clientHeight,
    setMute,
    setSpeed,
  });
</script>

<template>
  <div class="relative-position no-scroll">
    <video
        v-if="src"
        ref="refVideo"
        class="fit text-white relative-position"
        :class="videoClass"
        :src="src"
        :style="videoStyle"
        @loadedmetadata="onLoadMetadata"
        @ended="onEnded"
        @waiting="onWaiting"
        @playing="onPlaying"
        @pause="onPause"
        @loadeddata="onLoadedData"
        @seeked="onSeeked"
        :muted="muted"
        :poster="poster"
        :autoplay="autoplay"
        :preload="preload"
        playsinline
    >
      VIDEO
    </video>
    <QInnerLoading
        class="bg-transparent"
        :showing="!initDone || (isPlaying && (!currentPlaying || !playingStarted || !playerInited)) || showSeekLoader"
        color="master-brand"
        transition-show="none"
        transition-hide="none"
    />
  </div>
</template>