@import "@mixapixa-masters/styles/variables";
// Переопределение sass переменных фреймворка Quasar
$primary: $master-primary;
$generic-border-radius: $master-generic-border-radius;
$button-border-radius: $master-button-border-radius;