<script lang="ts" setup>
  import { computed } from 'vue';
  import type { MPUser } from '@mixapixa-masters/types';
  import { QBtn } from 'quasar';
  import { Icons } from '../index';
  import { GlobalModules } from '@mixapixa-masters/utils';

  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const user = computed<MPUser | null>(() => store?.getters['auth/user']);
  const iconLetter = computed(() => {
    if (!user.value) return '';
    if (user.value.firstName) return getFirstUppercaseChar(user.value.firstName);
    if (user.value.lastName) return getFirstUppercaseChar(user.value.lastName);
    return getFirstUppercaseChar(user.value.email);
  });
  const isAuthorized = computed<boolean>(() => store?.getters['auth/isAuthorized']);
  const accountIcon = computed(() => !isAuthorized.value ? Icons.account : undefined);

  function getFirstUppercaseChar(value: string) {
    return value.charAt(0).toUpperCase();
  }
</script>

<template>
  <QBtn
    round
    dense
    unelevated
    color="master-brand"
    :icon="accountIcon"
    text-color="white"
    :label="iconLetter"
    size="14px"
  >
    <slot/>
  </QBtn>
</template>