<script setup lang="ts">
  import IconTextButton from './IconTextButton.vue';

  interface AccountProfileActionButton {
    label: string,
  }

  defineProps<AccountProfileActionButton>();
</script>

<template>
  <IconTextButton
    class="q-px-md"
    button-size="20px"
    :label="label"
  />
</template>