<script setup lang="ts">
  import { capitalize, computed, defineProps, ref, watch } from 'vue';
  import type { MPPlan, MPUser } from '@mixapixa-masters/types';
  import { Dark, QItem, QItemLabel, QList, QRadio } from 'quasar';
  import AccountProfileActionButton from './AccountProfileActionButton.vue';
  import AccountProfilePanel from './AccountProfilePanel.vue';
  import { setupI18n } from '@mixapixa-masters/locales';
  import { GlobalModules } from '@mixapixa-masters/utils';

  interface AccountProfileProps {
    user: MPUser,
    plans: MPPlan[]
  }

  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const props = defineProps<AccountProfileProps>();

  const emit = defineEmits<{
    (e: 'logout'): void,
    (e: 'subscribe'): void,
  }>();
  const { t, locale } = setupI18n();
  const theme = ref(store.getters['auth/theme']);
  const currentPlan = computed(() => {
    if (!hasPlan.value) return null;
    const planName = customer.value?.plan;
    return props.plans.find((p) => p.name === planName);
  });

  const customer = computed(() => {
    return props.user.customer;
  });

  const hasPlan = computed<boolean>(() => {
    return customer.value.plan && customer.value.plan !== 'FREE' || false;
  });

  const expiresDate = computed<string>(() => {
    const expires = customer.value?.expiresAt;
    if (!expires) return '';
    const date = new Date(expires);
    return formatDate(date);
  });

  const startDate = computed<string>(() => {
    const expires = customer.value?.expiresAt;
    if (!expires || !currentPlan.value) return '';
    const plan = currentPlan.value;
    const date = new Date(expires);
    if (plan.interval.unit === 'month') {
      date.setMonth(date.getMonth() - plan.interval.count);
    } else if (plan.interval.unit === 'year') {
      date.setFullYear(date.getFullYear() - plan.interval.count);
    }
    date.setDate(date.getDate() - 1);
    return formatDate(date);
  });

  const planPeriod = computed<string>(() => {
    if (!currentPlan.value) return '';
    return capitalize(currentPlan.value.interval.unit);
  });

  const formatDate = (date: Date): string => {
    return date.toLocaleDateString();
  };

  watch(locale, (value) => {
    store.dispatch('auth/switchLanguage', value);
  });

  watch(theme, (value) => {
    Dark.set(theme.value === 'dark');
    store.dispatch('auth/switchTheme', value);
  });
</script>

<template>
  <QList class="q-pb-xl" dense>
    <QItem class="q-py-none q-mt-md">
      {{ t('email') }}: {{ user.email }}
    </QItem>
    <QItem>
      <AccountProfileActionButton
        class="bg-master-background-control"
        :label="t('unsubscribeNews')"
      />
    </QItem>
    <QItem>
      <AccountProfileActionButton
        class="bg-master-background-control"
        :label="t('signOut')"
        @click="emit('logout')"
      />
    </QItem>
    <QItemLabel
      class="q-mx-md q-mt-sm-lg q-mb-sm-sm q-pa-xs-md q-pa-sm-none"
      header
      style="font-size: 20px;"
    >
      {{ t('subscribe.subscription') }}
    </QItemLabel>
    <QItem v-if="hasPlan">
      <AccountProfilePanel>
        <div>{{ t('subscribe.planPeriod') }}: <b>{{ planPeriod }}</b></div>
        <div>{{ t('subscribe.expirationDate') }}: <b>{{ expiresDate }}</b></div>
        <div>{{ t('subscribe.startDate') }}: <b>{{ startDate }}</b></div>
      </AccountProfilePanel>
    </QItem>
    <QItem v-else>
      <AccountProfilePanel class="text-center">
        <div>
          {{ t('subscribe.nonSubscribe') }}<br/>
          {{ t('subscribe.videoWatermark') }}<br/>
          {{ t('subscribe.needUpgrade') }}
        </div>
        <AccountProfileActionButton
          class="q-mt-md"
          :label="t('subscribe.upgrade')"
          color="master-brand"
          text-color="white"
          @click="emit('subscribe')"
        />
      </AccountProfilePanel>
    </QItem>

    <!--  Language switcher  -->
    <QItemLabel
      class="q-mx-md q-mt-sm-lg q-mb-sm-sm q-pa-xs-md q-pa-sm-none"
      header
      style="font-size: 20px;"
    >
      {{ t('language.title') }}
    </QItemLabel>
    <QItem class="flex column">
      <QRadio
        class="q-my-xs"
        dense
        val="en"
        v-model="locale"
        :label="t('language.en')"
      />
      <QRadio
        class="q-my-xs"
        dense
        val="ru"
        v-model="locale"
        :label="t('language.ru')"
      />
    </QItem>

    <!--  Theme switcher  -->
    <QItemLabel
      class="q-mx-md q-mt-sm-lg q-mb-sm-sm q-pa-xs-md q-pa-sm-none"
      header
      style="font-size: 20px;"
    >
      {{ t('theme.title') }}
    </QItemLabel>
    <QItem class="flex column">
      <QRadio
        class="q-my-xs"
        dense
        val="dark"
        v-model="theme"
        :label="t('theme.dark')"
      />
      <QRadio
        class="q-my-xs"
        dense
        val="light"
        v-model="theme"
        :label="t('theme.light')"
      />
    </QItem>
  </QList>
</template>