<template>
  <div class="flex items-center full-height non-selectable">
    <QImg
        :src="SrcLogo"
        class="app-logo"
        no-spinner
    />
  </div>
</template>
<script lang="ts" setup>
  import { QImg } from "quasar";
  import SrcLogo from '../resources/mixa_logo_dark.svg';
</script>
<style lang="scss" scoped>
  .app-logo {
    height: 23px;
    width: 153px;
    margin-right: 14px;
  }
</style>