<script lang="ts" setup>
  defineProps<{
    version: string
  }>();
</script>

<style lang="scss" scoped>
  .app-version {
    opacity: 0.5;
    font-size: 10px;
  }
</style>

<template>
  <div class="app-version absolute-bottom-left q-pa-sm non-selectable text-master-text-color">
    {{ version }}
  </div>
</template>