<template>
  <div class="aspect-ratio">
    <slot/>
  </div>
</template>
<script>
  /**
   * Компонент, выставляющий размеры блоку с соотношением сторон
   */
  export default {
    name: 'AspectRatio',
    props: {
      /**
       * Указывает приоритет вычисления соотношения сторон по конкретной стороне
       * `both, width, height`
       */
      prioritySide: {
        type: String,
        default: 'both',
      },
      /**
       * Указывает значение соотношения по ширине
       */
      aspectX: {
        type: Number,
        default: 16,
      },
      /**
       * Указывает значение соотношения по высоте
       */
      aspectY: {
        type: Number,
        default: 9,
      },
      /**
       * Указывает дополнительную высоту, в которую входят элементы того же родителя, что и сам aspect-ratio.
       * Необходимо для того, чтобы соотношение сохранилось вне зависимости
       * от присутствия дополнительных блоков
       */
      deltaHeight: {
        type: [String, Number],
        default: 0,
      },
      offsetX: {
        type: [String, Number],
        default: 0,
      },
      /**
       * Указывает отступ со всех сторон блока. Значение участвует в вычислении размеров.
       */
      marginSide: {
        type: [String, Number],
        default: 0,
      },
      /**
       * Указывает родительский блок, внутри которого будет происходить вычисление размеров текущего элемента.
       * Высота родительского блока должна быть очевидной
       */
      parentSelector: {
        type: String,
        default: '',
      },
      /**
       * Флаг, отвечающий за навешивание события на изменение размера окна браузера.
       * Если true, то отключается слежение за размером окна браузера
       * Обычно работает вместе со свойством callResize.
       */
      manualResize: Boolean,
      /**
       * Отвечает за вызов метода setSize
       * Обычно работает вместе со свойством manualResize.
       */
      callResize: Boolean,
      updateOnce: Boolean,
      overflow: {
        type: Boolean,
        default: true,
      },
    },

    emits: ['resized', 'exitDocument', 'error', 'manualResized', 'update'],

    watch: {
      /**
       * Принудительное обновление размеров компонента
       * Генерирует событие 'manualResized'
       */
      callResize(arg) {
        this.manualResize && arg && this.sizeUpdate().then(this.$emit('manualResized'));
      },
    },
    mounted() {
      new Promise(resolve => {
        if (this.parentSelector)
          this.parent = document.querySelector(this.parentSelector);
        else
          this.parent = this.$el.parentElement;
        resolve();
      }).then(this.initSize).catch(err => {
        this.$emit('error', err);
        throw err;
      });
    },
    beforeUnmount() {
      this.exitDocument();
    },
    methods: {
      /**
       * Навешивание событий
       */
      enterDocument() {
        if (!this.manualResize) {
          window.addEventListener('resize', this.sizeUpdate);
          window.addEventListener('orientationchange', this.sizeUpdate);
        }
      },
      /**
       * Отвязывание событий
       */
      exitDocument() {
        if (!this.manualResize) {
          window.removeEventListener('resize', this.sizeUpdate);
          window.removeEventListener('orientationchange', this.sizeUpdate);
        }
        this.$emit('exitDocument');
      },
      /**
       * Первоначальная инициализация компонента, срабатывает только один раз при вызове activated
       */
      initSize() {
        this.$nextTick(() => {
          this.sizeUpdate();
          this.enterDocument();
        });
      },
      /**
       * Устанавливает размер элемента, и генерирует событие "sizeSet"
       */
      setSize() {
        let width = 0;
        let height = 0;
        let checkWidth = 0;
        let parentHeight = 0;
        let parentWidth = this.parent.offsetWidth;
        let internalDeltaHeight = +this.deltaHeight || this.deltaHeight_ || 0;
        let parentScrollHeight = this.parent.scrollHeight;

        // Скорее всего этот кейс работает не так как нужно, проверить работу
        // исправить ошибки
        if (this.prioritySide === 'width') {
          // Растягиваем элемент на всю доступную ширину
          this.$el.style.width = '100%';

          // Вычисляем его физическую величину с учетом опциональных отступов
          width = this.$el.offsetWidth - this.marginSide * 2;

          // Вычисляем пропорциональную высоту элемента, используя коэффициент пропорций
          height = width / (this.aspectX / this.aspectY);
          this.$el.style.height = `${height}px`;

          // Заново растягиваем элемент на всю доступную ширину экрана,
          // так как после выставления высоты у элемента, у родителя может появится скроллбар
          this.$el.style.width = '100%';

          // Если текущая ширина не соответствует старой ширине, то скорее всего появился скроллбар
          checkWidth = this.$el.offsetWidth - this.marginSide * 2;
          if (width !== checkWidth) {
            width = checkWidth;
            height = width / (this.aspectX / this.aspectY);
            this.$el.style.height = `${height}px`;
          }
        } else if (this.prioritySide === 'height') {
          // Скорее всего этот кейс работает не так как нужно, проверить работу
          // исправить ошибки.
          // Растягиваем элемент на всю доступную высоту
          this.$el.style.height = '100%';

          // Вычисляем его физическую высоту с учетом опциональных отступов
          height = this.$el.offsetHeight - (this.marginSide * 2) - this.$el.offsetTop - internalDeltaHeight;
          this.$el.style.height = `${height}px`;

          // Вычисляем пропорциональную ширину элемента, используя коэффициент пропорций
          width = height / (this.aspectX / this.aspectY);
          this.$el.style.width = `${width}px`;
        } else if (this.prioritySide === 'both') {
          // Растягиваем элемент на всю доступную ширину
          this.$el.style.width = '100%';
          this.$el.style.height = 0;

          // Получение родителя и его высоты
          if (this.parent) {
            parentHeight = this.parent.offsetHeight - internalDeltaHeight;
            if (parentHeight < 0 || parentHeight < internalDeltaHeight)
              parentHeight = +internalDeltaHeight;
          }

          // Вычисляем его текущую ширину с учетом опциональных отступов
          width = this.$el.offsetWidth - this.marginSide * 2;

          if (width > parentWidth)
            width = parentWidth - this.marginSide * 2;

          // Вычисляем его высоту, используя коэффициент пропорций
          height = width / (this.aspectX / this.aspectY);

          // Полученная высота не может быть больше родительской
          if (parentHeight > 0 && height > parentHeight) {
            height = parentHeight;
            width = height / (this.aspectY / this.aspectX);
          }

          width += this.offsetX;

          // Применяем полученные стили для компонента
          this.$el.setAttribute('style', `width:${width}px; height:${height}px; margin:${this.marginSide}px auto; position:relative`);
        }

        this.$emit('update', {width, height});
        this.$el.style.overflow = this.overflow ? 'hidden' : '';
        if (!this.updateOnce) {
          if (this.parent && !+internalDeltaHeight && parentScrollHeight > parentHeight) {
            this.deltaHeight_ = parentScrollHeight - parentHeight;
            this.setSize();
            return 0[0];
          }
        }
      },
      /**
       * Метод обновление размеров компонента при изменении размеров окна браузера
       * Генерирует событие 'resized'
       */
      sizeUpdate() {
        return new Promise(resolve => {
          this.setSize();
          resolve();
        }).then(() => {
          this.$emit('resized');
          this.deltaHeight_ = 0;
        });
      },
    },
  };
</script>
<style lang="scss" scoped>
  .aspect-ratio {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .aspect-ratio-after-block {
    opacity: 0;
    transition: opacity .5s ease;
    will-change: opacity;
  }
</style>