<script lang="ts" setup>
  import { MInputSlider } from '../index';
  import type { Position } from '@mixapixa-masters/types';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ControlZoomProps {
    modelValue: Position;
    preloading?: boolean;
  }

  const props = defineProps<ControlZoomProps>();
  const { t } = setupI18n();
  const emit = defineEmits<{
    (e: 'update:model-value', event: Position): void,
  }>();
  const min = -150;
  const max = 150;
  const step = 1;
  const boost = 2;

  function parse(value: string, axis: keyof Position): number {
    let result = +value;
    if (isNaN(result)) {
      return props.modelValue[axis];
    }
    return Math.min(Math.max(result, min), max);
  }

  function handlerUpdateModelX(x: number) {
    emit('update:model-value', { x, y: props.modelValue.y });
  }

  function handlerUpdateModelY(y: number) {
    emit('update:model-value', { x: props.modelValue.x, y });
  }
</script>

<template>
  <MInputSlider
      reset-control
      :label="t('scene.positionX')"
      :min="min"
      :max="max"
      :step="step"
      :boost="boost"
      :value="modelValue.x"
      :preloading="preloading"
      :reset-value="0"
      :parse="(event) => parse(event, 'x')"
      @update:value="handlerUpdateModelX"
  />
  <MInputSlider
      reset-control
      :label="t('scene.positionY')"
      :min="min"
      :max="max"
      :step="step"
      :boost="boost"
      :value="modelValue.y"
      :preloading="preloading"
      :reset-value="0"
      :parse="(event) => parse(event, 'y')"
      @update:value="handlerUpdateModelY"
  />
</template>