<script lang="ts" setup>
  import type { Size } from '@mixapixa-masters/types';
  import { computed, nextTick, ref, watch } from "vue";
  import { QResizeObserver } from 'quasar';
  import { MasterProgress, VideoPreloader } from '../index';

  interface CanvasVideoPlayerProps {
    src: string
    videoWidth: number
    videoHeight: number
    muted?: boolean
    loop?: boolean
    progress?: number
    playbackRate?: number
    /**
     * Если указан, видео будет воспроизводится с эффектов freezeFrame
     */
    freezeFrameSecond?: number | undefined
  }

  interface CanvasVideoPlayerEmits {
    (e: 'timeupdate', currentTime: number): void

    (e: 'ended', event: any): void

    (e: 'pause', event: any): void

    (e: 'play', event: any): void

    (e: 'loaded', data: any): void
  }

  const props = withDefaults(defineProps<CanvasVideoPlayerProps>(), {
    playbackRate: 1
  });

  const emit = defineEmits<CanvasVideoPlayerEmits>();
  const refVideo = ref<HTMLVideoElement | null>(null);
  const refCanvas = ref<HTMLCanvasElement | null>(null);
  const context = computed(() => refCanvas.value?.getContext('2d'));
  const canvasWidth = ref(0);
  const canvasHeight = ref(0);
  const videoDuration = ref(0);
  const hasProgress = ref(false);
  const hasPreloader = computed(() => !videoDuration.value && !hasProgress.value);
  const currentTime = ref(0);
  const intervalTimeout = computed(() => props.freezeFrameSecond && (props.freezeFrameSecond / props.playbackRate * 1000));

  let interval: number;

  function updateCanvas() {
    const video = refVideo.value;
    const canvas = refCanvas.value;

    if (!video || !context.value || !canvas) {
      return;
    }

    if (video.ended || video.paused) {
      return;
    }

    drawCanvasFrame();
    !intervalTimeout.value && requestAnimationFrame(updateCanvas);
  }

  function drawCanvasFrame() {
    let dx = 0;
    let dy = 0;

    /**
     * Центрирование кадра, в случае, если он меньше чем полотно
     */
    if (props.videoWidth < canvasWidth.value) {
      dx = canvasWidth.value / 2 - props.videoWidth / 2;
    }
    if (props.videoHeight < canvasHeight.value) {
      dy = canvasHeight.value / 2 - props.videoHeight / 2;
    }

    if (context.value && refVideo.value) {
      context.value.drawImage(
          refVideo.value,
          dx,
          dy,
          Math.min(props.videoWidth, canvasWidth.value),
          Math.min(props.videoHeight, canvasHeight.value),
      );
    }
  }

  function play() {
    refVideo.value?.play();
  }

  function pause() {
    refVideo.value?.pause();
  }

  function setCurrentTime(value: number) {
    if (!refVideo.value) return;
    refVideo.value.currentTime = value;
  }

  function onResize(event: Size) {
    const {width, height} = event;
    canvasWidth.value = width;
    canvasHeight.value = height;
    nextTick(drawCanvasFrame);
  }

  /**
   * @todo сбрасывать интервал, когда видео доходит до конца
   */
  function playWithInterval() {
    clearInterval(interval);
    interval = setInterval(updateCanvas, intervalTimeout.value);
  }

  function onPlay(event: any) {
    emit('play', event);
    if (intervalTimeout.value) {
      return playWithInterval();
    }

    requestAnimationFrame(updateCanvas);
  }

  function onLoadedData() {
    nextTick(() => {
      if (!refVideo.value) return;
      refVideo.value.currentTime = 0;
    });
  }

  function onSeeked() {
    drawCanvasFrame();
  }

  function onEnded(event: any) {
    emit('ended', event);
  }

  function onPause(event: any) {
    emit('pause', event);
  }

  function onLoadedMetaData(event: any) {
    const {duration, videoWidth, videoHeight} = event.target;
    const eventData = {
      duration,
      videoWidth,
      videoHeight
    }

    videoDuration.value = duration;
    emit('loaded', eventData);
    /**
     * При загрузки видео настройка playbackRate сбрасывается, потому ее изменение задано при загрузке видео,
     * и потому не используется immediate у  watch(() => props.playbackRate)
     */
    if (refVideo.value) {
      refVideo.value.playbackRate = props.playbackRate;
    }
  }

  function onTimeUpdate(event: any) {
    const t = event.target.currentTime;
    currentTime.value = t;
    emit('timeupdate', t);
  }

  watch(() => props.playbackRate, (value) => {
    if (refVideo.value) {
      refVideo.value.playbackRate = value;
    }
  });
  watch(() => props.progress, (value) => {
    if (value) {
      hasProgress.value = value > 0 && value < 1;
    }
  });

  defineExpose({
    get currentTime() {
      return refVideo.value?.currentTime || 0;
    },
    set currentTime(value: number) {
      setCurrentTime(value);
    },
    video: refVideo,
    play,
    pause,
    setCurrentTime,
  })
</script>

<template>
  <div class="fit">
    <QResizeObserver
        @resize="onResize"
    />
    <MasterProgress
        v-if="hasProgress"
        style="max-width: 400px"
        class="absolute-center"
        :value="progress"
    />
    <VideoPreloader v-if="hasPreloader"/>
    <video
        ref="refVideo"
        style="display: none"
        class="fit relative-position"
        :loop="loop"
        :src="src"
        :muted="muted"
        @play="onPlay"
        @loadeddata="onLoadedData"
        @loadedmetadata="onLoadedMetaData"
        @seeked="onSeeked"
        @ended="onEnded"
        @pause="onPause"
        @timeupdate="onTimeUpdate"
    />
    <canvas
        class="fit"
        ref="refCanvas"
        :width="canvasWidth"
        :height="canvasHeight"
    />
  </div>
</template>