<script lang="ts" setup>
  import { IconButton } from '../index';

  interface ColorPickerButtonProps {
    icon: string;
  }
  defineProps<ColorPickerButtonProps>();
</script>

<template>
  <IconButton
    class="color-picker-button rounded-borders cursor-pointer"
    button-size="8px"
    size="25px"
    :icon="icon"
  >
    <slot/>
  </IconButton>
</template>