<script lang="ts" setup>
  import type { QDialog as TypeQDialog } from 'quasar';
  import { QCard, QCardActions, QCardSection, QDialog } from 'quasar';
  import { defineEmits, ref } from 'vue';
  import { IconTextButton } from '../index';
  import { setupI18n } from '@mixapixa-masters/locales';

  const props = withDefaults(defineProps<{
    value: boolean,
    text?: string,
    labelYes?: string,
    labelNo?: string,
  }>(), {
    value: false,
  });
  const emit = defineEmits<{
    (e: 'confirm'): void,
    (e: 'abort'): void,
    (e: 'hide'): void,
    (e: 'update:value', value: boolean): void
  }>();
  const refDialog = ref<TypeQDialog>();
  const { t } = setupI18n();

  function updateModel() {
    emit('update:value', !props.value);
  }

  function handlerConfirm() {
    emit('confirm');
    updateModel();
  }

  function handlerAbort() {
    emit('abort');
    updateModel();
  }

  function handlerHide() {
    emit('hide');
  }
</script>

<template>
  <QDialog
    ref="refDialog"
    :model-value="value"
    persistent
    @hide="handlerHide"
  >
    <QCard
      class="relative-position full-width"
      style="max-width: 300px;"
    >
      <QCardSection>
        {{ text }}
      </QCardSection>
      <QCardActions
        align="right"
      >
        <IconTextButton
          class="bg-master-background-control"
          :label="labelYes || t('yes')"
          @click="handlerConfirm"
        />
        <IconTextButton
          class="bg-master-background-control"
          :label="labelNo || t('no')"
          @click="handlerAbort"
        />
      </QCardActions>
    </QCard>
  </QDialog>
</template>