<script setup lang="ts">
  import { defineEmits, defineProps } from 'vue';
  import ConfirmationDialog from './ConfirmationDialog.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ConfirmRemoveAudioDialog {
    value: boolean,
  }

  defineProps<ConfirmRemoveAudioDialog>();

  const emit = defineEmits<{
    (e: 'confirm'): void,
    (e: 'abort'): void,
    (e: 'hide'): void,
    (e: 'update:value', value: boolean): void
  }>();

  const { t } = setupI18n();
</script>

<template>
  <ConfirmationDialog
      :value="value"
      @update:value="emit('update:value', $event)"
      @confirm="emit('confirm')"
      @hide="emit('hide')"
      @abort="emit('abort')"
      :text="t('dialog.removeAudio')"
  />
</template>