<script setup lang="ts">
  import { computed, defineEmits, onBeforeMount, ref, watch } from 'vue';
  import { QIcon } from 'quasar';
  import { close, volumeOn } from '../icons';
  import IconButton from './IconButton.vue';
  import { convertSecondsToTimeFormat, isHours } from '@mixapixa-masters/utils';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ControlAudioProps {
    duration: number,
    progress: number,
    name: string,
  }

  const props = defineProps<ControlAudioProps>();

  const emit = defineEmits(['remove']);
  const { t } = setupI18n();
  const showProgress = ref<boolean>(false);

  const durationFormatted = computed<string>(() => {
    return convertSecondsToTimeFormat(props.duration, isHours(props.duration));
  });

  const progressFormatted = computed<string>(() => {
    return Math.round(props.progress * 100) + '%';
  });

  onBeforeMount(() => {
    if (props.progress < 1) {
      showProgress.value = true;
    }
  });

  watch(() => props.progress, (progress) => {
    if (1 - progress < 1e-6) {
      setTimeout(() => {
        showProgress.value = false;
      }, 500);
    }
  });
</script>

<style scoped lang="scss">
  @import "../styles/quasarVariables";

  .mp-control-audio {
    border-radius: $button-border-radius;
  }

  .no-width {
    width: 0 !important;
  }
</style>

<template>
  <div
      class="mp-control-audio fit row no-wrap items-center non-selectable"
  >
    <div class="row col-grow no-wrap items-center q-pa-xs">
      <QIcon
          :name="volumeOn"
          size="18px"
      />
      <template
          v-if="showProgress"
      >
        <div class="col-grow q-mx-sm ellipsis">
          {{ t('uploadingText') }} {{ progressFormatted }}
        </div>
      </template>
      <template
          v-else
      >
        <div class="col-grow ellipsis no-width q-mx-sm">{{ name }}</div>
        <div>{{ durationFormatted }}</div>
      </template>
    </div>
    <IconButton
        :icon="close"
        flat
        buttonSize="14px"
        @click="emit('remove')"
    />
  </div>

</template>