<script lang="ts" setup>
  import { MInputSlider } from '../index';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ControlZoomProps {
    value: number;
    preloading?: boolean;
  }

  const { t } = setupI18n();
  const props = defineProps<ControlZoomProps>();

  const emit = defineEmits<{
    (e: 'update:value', event: number): void,
  }>();

  const max = 5;
  const min = 0.1;
  const step = 0.001;

  function format(value: number | null) {
    if (value !== null) {
      return (Math.floor(value * 100)).toString(10);
    }
    return '';
  }

  function parse(value: string): number {
    let result = +value;
    if (isNaN(result)) {
      return props.value;
    }
    result /= 100;
    return Math.min(Math.max(result, min), max);
  }

  function handlerUpdateValue(event: number) {
    emit('update:value', event);
  }
</script>

<template>
  <MInputSlider
      reset-control
      :label="t('scene.zoom')"
      :min="min"
      :max="max"
      :step="step"
      :boost="2"
      :format="format"
      :parse="parse"
      :value="value"
      :preloading="preloading"
      :reset-value="1"
      @update:value="handlerUpdateValue"
  />
</template>