<script lang="ts" setup>
  import { Icons, IconTextButton } from '../index';
  import { isMobileBehavior } from '../utils/platform';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface CustomizerHeaderProps {
    label?: string | undefined;
    noCloseControl?: boolean | undefined;
  }

  interface CustomizerHeaderEmits {
    (e: 'apply'): void;
  }

  const emit = defineEmits<CustomizerHeaderEmits>();
  const { t } = setupI18n();
  defineProps<CustomizerHeaderProps>();
</script>

<style lang="scss" scoped>
  @import '../styles/variables';

  .customizer-header {
    height: 50px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    .customizer-header {
      border-top: 1px solid rgba(var($master-background-control-light), 0.2);
      height: 40px;
    }
  }
</style>


<template>
  <div class="flex q-px-md q-py-xs customizer-header items-center">
    <div class="col-grow">{{ label || t('settings') }}</div>
    <IconTextButton
      v-if="isMobileBehavior && !noCloseControl"
      color="master-background-control"
      text-color="white"
      button-size="12px"
      size="20px"
      :icon="Icons.close"
      @click="emit('apply')"
    />
  </div>
</template>