<script lang="ts" setup>
  import { IconTextButton } from '../index';
  import DropdownButtonMenu, { type IMenuItem, type TItemClick } from './DropdownButtonMenu.vue';
  import type { QMenu as TypeQMenu } from 'quasar';
  import { QDialog, QMenu, Screen } from 'quasar';
  import { computed, ref } from 'vue';

   const emit = defineEmits<{
    (e: 'click'): void
  }>();

  defineProps<{
    /**
     * Выпадающий список
     */
    menu: IMenuItem[],
    /**
     * Флаг, отвечающий за активное состояние компонента
     */
    disable?: boolean,
  }>();

  const refMenu = ref<TypeQMenu>();
  const isMobileBehavior = computed(() => Screen.lt.md);
  const dialog = ref(false);

  function handlerClickItem(event: Event, handler: TItemClick | undefined) {
    event.stopPropagation();
    event.preventDefault();
    refMenu.value?.hide();
    handler?.();
    emit('click');
    dialog.value = false;
  }
</script>

<template>
  <IconTextButton
      button-size="14px"
      size="20px"
      :disable="!!disable"
      @click="dialog = true;"
  >
    <slot/>
    <QDialog
        v-if="isMobileBehavior"
        v-model="dialog"
    >
      <DropdownButtonMenu
          :menu="menu"
          @click="handlerClickItem"
      />
    </QDialog>
    <QMenu
        v-else
        ref="refMenu"
        fit
        :no-parent-event="disable"
    >
      <DropdownButtonMenu
          :menu="menu"
          @click="handlerClickItem"
      />
    </QMenu>
  </IconTextButton>
</template>