<script lang="ts" setup>
  import { QList, QItem, QItemSection, QIcon } from 'quasar';

  export type TItemClick = <T>(event?: T) => void;

  export interface IMenuItem {
    label: string | number;
    icon?: string;
    click?: TItemClick;
    href?: string;
  }

  defineProps<{
    /**
     * Список элементов меню
     */
    menu: IMenuItem[],
  }>();

  const emits = defineEmits<{ click: [event: Event, handler: TItemClick] }>();

  function handlerClickItem(event: Event, handler: TItemClick) {
    emits('click', event, handler);
  }
</script>
<template>
  <QList
      dense
      class="full-width bg-master-background text-master-text-color"
  >
    <template
        v-for="item in menu"
        :key="item.label"
    >
      <QItem
          :href="item.href"
          class="items-center non-selectable"
          clickable
          @click="(event: Event) => handlerClickItem(event, item.click)"
      >
        <QItemSection
            v-if="item.icon"
            side
        >
          <QIcon :name="item.icon"/>
        </QItemSection>
        {{ item.label }}
      </QItem>
    </template>
  </QList>
</template>