<script setup lang="ts">
  import { IconTextButton } from '../index';
  import { setupI18n } from '@mixapixa-masters/locales';

  const emit = defineEmits<{
    (e: 'apply'): void,
    (e: 'cancel'): void,
  }>();

  const { t } = setupI18n();
</script>

<style scoped lang="scss">

</style>

<template>
  <div class="flex">
    <IconTextButton
      class="q-mr-sm bg-master-background-control"
      button-size="14px"
      :label="t('close')"
      @click="emit('cancel')"
    />
    <IconTextButton
      button-size="14px"
      color="master-brand"
      :label="t('applyClose')"
      @click="emit('apply')"
    />
  </div>
</template>