<script lang="ts" setup>
  import { IconTextButton } from '../index';
  import { isMobile } from '../utils/platform';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ExportButtonProps {
    label?: string;
  }

  const { t } = setupI18n();

  withDefaults(defineProps<ExportButtonProps>(), {
    label: 'Export',
  });
</script>

<template>
  <IconTextButton
      button-size="14px"
      color="master-brand"
      :label="t('export')"
      :style="`width: ${isMobile? '75' : '90'}px`"
  >
    <slot/>
  </IconTextButton>
</template>