<script lang="ts" setup>
  import { ref } from 'vue';
  import { IconTextButton } from '../index';
  import { setupI18n } from '@mixapixa-masters/locales';

  type TypeInputCapture = 'user' | 'environment';

  withDefaults(defineProps<{
    /**
     * Иконка перед текстом
     */
    icon?: string
    /**
     * Разрешает выбор более одного файла
     */
    multiple?: boolean,
    /**
     * Определяет типы файлов, которые должен принимать входные файлы
     */
    accept?: string,
    /**
     * Указывает, какую камеру использовать для захвата изображения или видео
     */
    capture?: TypeInputCapture | undefined
    /**
     * future development
     */
    validateType?: (e: string) => boolean
    /**
     * future development
     */
    validateSize?: (e: string) => boolean
    /**
     * Текст кнопки
     */
    label?: string,
    /**
     * Цвет текста/иконки
     */
    color?: string,
    /**
     * Размер текста
     */
    textSize?: string,
    /**
     * Размер кнопки
     */
    buttonSize?: string,

  }>(), {
    multiple: false,
    color: 'master-brand',
    textSize: '15px',
    buttonSize: '18px',
  });

  const { t } = setupI18n();
  const refInput = ref<HTMLInputElement | null>(null);
  const emit = defineEmits(['change']);

  function createEvent(name: string, detail: unknown) {
    return new CustomEvent(name, { detail });
  }

  function handlerClick() {
    refInput.value?.click();
  }

  /**
   * Обрабатывает событие @change контрола input
   * @param event
   */
  function handlerChange(event: Event) {
    const target = event.target as HTMLInputElement;

    if (!target.files) {
      return;
    }

    /**
     * Генерирование событие и его данных
     */
    const customEvent = createEvent('change', {
      /**
       * @deprecated
       */
      files: target.files,
    });

    /**
     * Отправка событие родителю
     */
    emit('change', customEvent);

    /**
     * Очистка значения выбранного пути, чтобы появилась возможность выбирать один и тот же файл бесконечное множество раз
     * @type {string}
     */
    if (refInput.value) {
      refInput.value.value = '';
    }
  }
</script>

<template>
  <IconTextButton
    :label="label || t('upload')"
    :class="[color ? `bg-${color}` : '', 'text-white']"
    :text-size="textSize ?? ''"
    :icon="icon ?? ''"
    :button-size="buttonSize ?? ''"
    @click="handlerClick"
  >
    <input
      ref="refInput"
      type="file"
      hidden
      :accept="accept"
      :capture="capture"
      :multiple="multiple"
      @change.prevent.stop="handlerChange"
      @input.prevent.stop
    />
  </IconTextButton>
</template>