<script lang="ts" setup>
  import { FileUploader, Icons, InformationDialog } from '../index';
  import { toRaw, ref } from 'vue';
  import Statistics from '@mixapixa-masters/statistics';
  import { FILE_VIDEO_TYPES } from '../utils/file';
  import { useMobileAccept } from './useMobileAccept';

  const props = withDefaults(defineProps<{
    /**
     * Разрешает выбор более одного файла
     */
    multiple?: boolean
    /**
     * Определяет типы файлов, которые должен принимать входные файлы
     */
    accept?: string
    /**
     * Масимальный размер файла в MB
     */
    maxSize?: number
  }>(), {
    accept: Object.keys(FILE_VIDEO_TYPES).join(', '),
  });

  const maxSizeBytes = props.maxSize ? toRaw(getSizeBytes(props.maxSize)) : Infinity;
  const modelInfo = ref(false);
  const alertText = ref('');

  const emit = defineEmits<{
    (e: 'update', detail: File[]): void
  }>();

  const {uploaderAccept} = useMobileAccept(props);

  function getSizeBytes(value: number) {
    return value * 1024 * 1024;
  }

  function handlerChange(event: CustomEvent) {
    const files: File[] = [...event.detail.files];
    const filesLength = files.length;

    for (let i = 0; i < filesLength; i++) {
      const file: File = files[i];
      if (file.size > maxSizeBytes) {
        modelInfo.value = true;
        alertText.value = `Error: Your file size is bigger than ${props.maxSize} MB.`;
        Statistics.sendEvent('master_error', {
          act: 'size_limit',
          file_type: file.type,
          file_size: file.size,
          file_name: file.name,
        });
        return;
      }

      Statistics.sendEvent('button_click', {
        act: 'choose_file',
        file_type: file.type,
        file_size: file.size,
        file_name: file.name,
      });
    }

    emit('update', files);
  }
</script>

<template>
  <div
      class="column justify-center items-center no-scroll bg-master-background"
      style="height: 100vh;"
  >
    <FileUploader
        id="master-upload-button"
        :icon="Icons.upload"
        :multiple="multiple"
        :accept="uploaderAccept"
        style="width:180px"
        @change="handlerChange"
    />
    <InformationDialog
        :text="alertText"
        label="Ok"
        v-model:value="modelInfo"
    />
  </div>
</template>