<script lang="ts" setup>
  /**
   * To add a new focus shake animation, you need to add a new key to shakeControl in the store.
   * You need to pass this key to FocusShakeAnimation in its shake property
   *
   * shakeNameAnimation name can take from https://animate.style/

   */
  import { onMounted, ref } from 'vue';

  interface FocusShakeAnimationProps {
    shake: number | string | symbol | undefined,
    shakeNameAnimation?: string | undefined
  }

  withDefaults(defineProps<FocusShakeAnimationProps>(), {
    shake: 'skahe',
    shakeNameAnimation: 'animate__tada',
  });

  const shakeAppear = ref(false);

  onMounted(() => {
    shakeAppear.value = true;
  });
</script>

<template>
  <div
      class="relative-position"
      :key="shake"
  >
    <transition
        :appear="shakeAppear"
        :enter-active-class="`animated ${shakeNameAnimation}`"
    >
      <slot/>
    </transition>
  </div>
</template>