<script lang="ts" setup>
  import { MasterSelect } from '../index';
  import { computed, defineEmits } from 'vue';

  const props = withDefaults(defineProps<{
    value: number
    start?: number
    end?: number
    step?: number
    color?: string
    bgColor?: string
  }>(), {
    start: 12,
    end: 60,
    step: 2,
  });

  const emit = defineEmits<{
    (e: 'update:value', value: number): void
  }>();

  const roundedValue = computed(() => Math.round(props.value));
  const list = computed(() => {
    return Array.from(
        { length: Math.floor((props.end - props.start) / props.step) + 1 },
        (_, i) => props.start + i * props.step,
    );
  });

  function handlerUpdateValue(value: number | string) {
    emit('update:value', +value || props.value);
  }
</script>

<template>
  <MasterSelect
    use-input
    style="width: 70px"
    options-selected-class="text-master-text-color"
    :color="color"
    :bg-color="bgColor"
    :model-value="roundedValue"
    :options="list"
    @update:model-value="handlerUpdateValue"
  >
    <template #selected-item>
      <span>{{ roundedValue }}</span>
    </template>
  </MasterSelect>
</template>