<script lang="ts" setup>
  import { QToolbar, QSpace } from 'quasar';
</script>

<style lang="scss" scoped>
  @import "../styles/variables";

  .master-footer-toolbar {
    min-height: $master-footer-toolbar-height;
  }
</style>
<template>
  <QToolbar class="q-px-md q-py-xs master-footer-toolbar">
    <slot name="start"/>
    <QSpace/>
    <slot/>
    <QSpace/>
    <slot name="end"/>
  </QToolbar>
</template>