<script setup lang="ts">
  import {computed, nextTick, ref, watch} from 'vue';
  import type {MPUser} from '@mixapixa-masters/types';
  import {type AuthEventData, AuthStage, type SignInData} from '@mixapixa-masters/types';
  import {
    AccountHeaderUserProfileControl,
    AccountProfile,
    Icons,
    MasterAuth,
    MasterTariffSelect,
    Modal,
    showError,
    useQuasar,
  } from '../index';
  import {Dark, QIcon, QItem, QItemSection, QList, QMenu, QToolbar} from 'quasar';
  import {Providers} from '@mixapixa-masters/providers';
  import {initAuthorization} from '../modules/authorization';
  import {GlobalModules} from '@mixapixa-masters/utils';
  import {setupI18n} from '@mixapixa-masters/locales';

  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const $q = useQuasar();
  const refMasterAuth = ref<typeof MasterAuth | null>(null);
  const showPlanSelect = ref<boolean>(false);
  const showAccount = ref<boolean>(false);
  const user = computed<MPUser>(() => store?.getters['auth/user']);
  const plans = computed(() => store?.getters['auth/plans']);
  const isAuthorized = computed<boolean>(() => store?.getters['auth/isAuthorized']);
  const {t} = setupI18n();
  const isDark = computed(() => Dark.isActive);
  const onRecoverPassword = (email: string) => {
    onAuth({
      type: AuthStage.RECOVER,
      data: {email},
    });
  };

  const onSignIn = (event: SignInData) => {
    onAuth({
      type: AuthStage.SIGN_IN,
      data: event,
    });
  };

  const onSignUp = (event: SignInData) => {
    onAuth({
      type: AuthStage.SIGN_UP,
      data: event,
    });
  };

  const onShowAuth = (stage: AuthStage) => {
    return runAuthorize(stage);
  };

  const runAuthorize = (stage: AuthStage, afterAuth?: () => void) => {
    return refMasterAuth.value?.run(stage, afterAuth);
  };

  const closeAuth = () => {
    refMasterAuth.value?.close();
  };

  let tariffSelectNext: (() => void) | null = null;
  const requestPayment = ({next}: any) => {
    showPlanSelect.value = true;
    tariffSelectNext = next;
  };

  const onTariffSelect = ({planId, provider}: { planId: string, provider: string }) => {
    const next = tariffSelectNext;
    if (store) {
      const unwatchWatermark = watch(() => store.getters['auth/watermark'], (value: boolean | undefined) => {
        if (value === false) {
          unwatchWatermark();
          next?.();
        }
      });
    }

    const mixaProvider = Providers.getProvider<Providers.mixapixa.MixaProvider>('mixapixa');
    if (!mixaProvider) return;

    mixaProvider.request('post', `/billing/plan/${planId}/subscribe`, {provider})
        .catch((error) => showError(error));

    return watchConfirmationUrl()
        .catch((err) => {
          if (err.message === 'POPUP_BLOCKED') {
            showError('Popup window blocked');
          }
        });
  };

  const onTariffSelectHide = () => {
    tariffSelectNext = null;
  };

  const watchConfirmationUrl = () => {
    return new Promise((resolve, reject) => {
      $q.loading.show();

      if (!store) {
        reject();
      }

      const confirmationUrlWatching = watch(() => store.getters['auth/confirmationUrl'], async (href) => {
        if (!href) return;

        nextTick(() => {
          showPlanSelect.value = false;
          $q.loading.hide();
          confirmationUrlWatching();
        });
        waitForPaymentDone(href)
            .then(resolve)
            .catch(reject);
      }, {immediate: true});
    });
  };

  const waitForPaymentDone = (url: string) => {
    return new Promise((resolve, reject) => {
      const popup = window.open(url, '_blank');
      if (!popup) {
        reject(Error('POPUP_BLOCKED'));
        return;
      }

      const onMessage = ({data}: MessageEvent) => {
        if (data.event === 'payment-success' || data.event === 'payment-cancel') {
          clearInterval(closeCheck);
          window.removeEventListener('message', onMessage);
          popup.close();
          resolve(data);
        }
      };

      window.addEventListener('message', onMessage);

      const closeCheck = setInterval(() => {
        if (popup && popup.closed) {
          clearInterval(closeCheck);
          resolve({event: 'payment_cancel'});
        }
      }, 1000);
    });
  };

  async function onAuth(data: AuthEventData) {
    if (!store) return;
    const user = await store.dispatch('auth/authorize', data);
    if (user) {
      closeAuth();
    }
  }

  async function onSignOut() {
    if (!store) return;
    await store.dispatch('auth/logOut');
  }

  function onSubscribe() {
    requestPayment({});
    showAccount.value = false;
  }

  const onAccountClick = () => {
    if (!isAuthorized.value) return;
    showAccount.value = true;
  };

  initAuthorization({runAuthorize, requestPayment, closeAuth});

  defineExpose({
    runAuthorize,
    requestPayment,
    closeAuth,
  });
</script>

<template>
  <AccountHeaderUserProfileControl>
    <QMenu
        :dark="isDark"
        fit
        anchor="bottom right"
        self="top right"
        :offset="[2, 12]"
        auto-close
    >
      <QList
          style="min-width: 100px"
          dense
      >
        <template v-if="!isAuthorized">
          <QItem
              clickable
              v-close-popup
              @click="onShowAuth(AuthStage.SIGN_IN)"
          >
            <QItemSection>{{ t('logIn') }}</QItemSection>
          </QItem>
          <QItem
              clickable
              v-close-popup
              @click="onShowAuth(AuthStage.SIGN_UP)"
          >
            <QItemSection>{{ t('createAccount') }}</QItemSection>
          </QItem>
        </template>
        <template v-else>
          <QItem
              clickable
              v-close-popup
              @click="onAccountClick"
          >
            <QItemSection>{{ t('userProfile') }}</QItemSection>
          </QItem>
          <QItem
              clickable
              v-close-popup
              @click="onSignOut"
          >
            <QItemSection>{{ t('signOut') }}</QItemSection>
          </QItem>
        </template>
      </QList>
    </QMenu>
    <MasterAuth
        v-if="!isAuthorized"
        ref="refMasterAuth"
        @signin="onSignIn"
        @signup="onSignUp"
        @recover="onRecoverPassword"
    />
    <MasterTariffSelect
        v-model="showPlanSelect"
        @select="onTariffSelect"
        @hide="onTariffSelectHide"
    />
    <Modal
        v-if="isAuthorized"
        v-model="showAccount"
        noBackdropDismiss
        :contentCss="{
        maxWidth: '570px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
    >
      <template #title>
        <QToolbar class="q-pa-none">
          <QIcon
              :name="Icons.account"
              size="30px"
          />
          <span class="q-ml-sm">{{ t('accountSettings') }}</span>
        </QToolbar>
      </template>
      <AccountProfile
          :user="user"
          :plans="plans"
          @logout="onSignOut"
          @subscribe="onSubscribe"
      />
    </Modal>
  </AccountHeaderUserProfileControl>
</template>