<script setup>
  import {QBtn, QIcon} from 'quasar';
  import {useSlots} from 'vue';

  const emits = defineEmits(['click']);
  defineProps({
    icon: String,
    size: String,
    buttonSize: {
      type: String,
      default: '10px',
    },
    color: String,
    textColor: String,
    disable: Boolean,
    readonly: Boolean,
    flat: Boolean,
    outline: Boolean,
    round: Boolean,
    ripple: {
      type: [Boolean, Object],
      default: true,
    },
    loading: Boolean,
    preloading: Boolean,
  });

  const handlerClick = (event) => emits('click', event);
  const slots = useSlots();
  const hasIconSlot = !!slots.icon;
</script>

<template>
  <QBtn
      dense
      unelevated
      :flat="flat"
      :outline="outline"
      :color="color"
      :textColor="textColor"
      :disable="disable"
      :readonly="readonly"
      :round="round"
      :size="buttonSize"
      :ripple="ripple"
      :loading="loading"
      :class="preloading && 'preloading'"
      @click="handlerClick"
  >
    <template v-if="hasIconSlot">
      <slot name="icon"/>
    </template>
    <template v-else-if="icon">
      <QIcon
          :name="icon"
          :size="size"
      />
      <slot name="default"/>
    </template>
  </QBtn>
</template>