<script lang="ts" setup>
  import { QDialog, QCardActions } from "quasar";
  import type { QDialog as TypeQDialog } from "quasar";
  import { defineEmits, ref } from "vue";
  import { IconTextButton } from "../index";

  const props = withDefaults(defineProps<{
    value: boolean,
    text?: string,
    label?: string,
  }>(), {
    value: false,
  });
  const emit = defineEmits<{
    (e: 'confirm'): void,
    (e: 'hide'): void,
    (e: 'update:value', value: boolean): void
  }>();
  const refDialog = ref<TypeQDialog>();

  function updateModel() {
    emit('update:value', !props.value);
  }

  function handlerConfirm() {
    emit('confirm');
    updateModel();
  }

  function handlerHide() {
    emit('hide');
  }
</script>

<template>
  <QDialog
      ref="refDialog"
      :model-value="value"
      persistent
      @hide="handlerHide"
  >
    <div
        class="relative-position bg-master-background-light full-width"
        style="max-width: 300px;"
    >
      <div class="q-pa-md text-white">
        {{ text }}
      </div>
      <QCardActions
          align="right"
          class="bg-master-background-toolbar text-white"
      >
        <IconTextButton
            :label="label"
            @click="handlerConfirm"
        />
      </QCardActions>
    </div>
  </QDialog>
</template>