<script lang="ts" setup>
  import { defineProps } from 'vue';
  import { QBtn } from 'quasar';

  interface LinkButtonProps {
    label?: string,
    href?: string,
  }

  defineProps<LinkButtonProps>();

  const emit = defineEmits<{
    (e: 'click', event: Event): void
  }>();

  const onClick = (event: Event) => {
    event.preventDefault();
    emit('click', event);
  }
</script>

<style lang="scss" scoped>
  @import "@/styles/variables.scss";

  a {
    :hover {
      .link-content {
        color: darken($master-brand, 7%) !important;
      }
    }
  }
</style>

<template>
  <QBtn
      style="margin: 0 -4px"
      flat
      noCaps
      textColor="transparent"
      dense
      type="a"
      :href="href"
      @click="onClick"
  >
    <div class="text-master-brand link-content">
      {{ label }}
    </div>
  </QBtn>
</template>