<script lang="ts" setup>
  import { defineProps } from 'vue';
  import { QBtn } from 'quasar';

  interface LinkAsButtonProps {
    label?: string,
  }

  defineProps<LinkAsButtonProps>();
</script>

<template>
  <QBtn
      style="margin: 0 -4px"
      flat
      noCaps
      color="master-brand"
      dense
  >
    <div>
      {{ label }}
    </div>
  </QBtn>
</template>