<template>
  <div
      class="fit relative-position"
      :style="styleVideoSize"
  >
    <div class="absolute-full no-scroll">
      <MasterProgress
          style="max-width: 400px"
          v-if="hasProgress"
          class="absolute-center"
          :value="progress"
      />
      <VideoPreloader v-show="hasPreloader"/>
      <video
          class="fit relative-position"
          :class="videoClass"
          :style="videoStyle"
          ref="refVideo"
          :loop="loop"
          :muted="muted"
          playsinline
          webkit-playsinline
          data-allow-muted-param="true"
          preload="auto"
          :src="src"
          @loadedmetadata="handlerLoadedMetaData"
          @timeupdate="handlerTimeUpdate"
          @ended="handlerEnded"
          @pause="handlerPause"
          @play="handlerPlay"
      />
    </div>
    <div class="absolute-full">
      <slot name="grid"/>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { computed, defineProps, nextTick, ref, type StyleValue, watch, watchEffect } from 'vue';
  import type { IEventLoadedMasterVideoPlayer } from './index';
  import { MasterProgress, VideoPreloader } from '../index';
  import type { Size } from '@mixapixa-masters/types';
  import { Platform } from 'quasar';
  import Statistics from '@mixapixa-masters/statistics';

  interface MasterVideoPlayerProps {
    /**
     * Ссылка на видео-контент
     */
    src?: string;
    /**
     * Размер видео в px
     */
    size?: Size;
    /**
     * Флаг, отвечающий за бесконечное повторение воспроизведение видео
     */
    loop?: boolean;
    /**
     * Флаг, отвечающий за отключение звука у видео
     */
    muted?: boolean;
    /**
     * Значние прогресса для отображение шкалы прогресса. Шкала прогресса будет видна только в случае, когда
     * progress >=0 и progress < 1
     * Значение должно быть от 0 до 1
     */
    progress?: number;
    /**
     * Класс, устанавливающийся в тэг video
     */
    videoClass?: any;
    /**
     * Стиль, устанавливающийся в тэг video
     */
    videoStyle?: StyleValue | undefined;
  }

  interface MasterVideoPlayerEmits {
    (e: 'timeupdate', currentTime: number): void;

    (e: 'loaded', data: IEventLoadedMasterVideoPlayer): void;

    (e: 'ended', event: any): void;

    (e: 'pause', event: any): void;

    (e: 'play', event: any): void;
  }

  const props = defineProps<MasterVideoPlayerProps>();
  const emit = defineEmits<MasterVideoPlayerEmits>();
  const hasProgress = ref(false);
  /**
   * Флаг, отвечающий за отображение прелоадера
   */
  const hasPreloader = computed(() => {
    return !videoDuration.value && !hasProgress.value;
  });
  /**
   * Длительность видео-ресурса (сек)
   */
  const videoDuration = ref(0);
  const refVideo = ref<HTMLVideoElement | null>(null);
  const currentTime = ref(0);
  const styleVideoSize = computed<string>(() => {
    if (props.size) {
      const {width, height} = props.size;
      return `max-width: ${width}px; max-height: ${height}px`;
    }
    return `max-width: ${window.innerWidth}px; max-height: ${0}px`;
  });

  const duration = computed(() => {
    if (videoDuration.value) {
      return videoDuration.value;
    }

    if (refVideo.value) {
      refVideo.value.duration;
    }

    return 0;
  });

  const width = computed(() => {
    return refVideo.value?.videoWidth;
  });

  const height = computed(() => {
    return refVideo.value?.videoHeight;
  });

  const clientWidth = computed(() => {
    return refVideo.value?.clientWidth;
  });

  const clientHeight = computed(() => {
    return refVideo.value?.clientHeight;
  });

  /**
   * Задает текущее время видео
   * @param value
   */
  function setCurrentTime(value: number) {
    if (!refVideo.value) return;
    refVideo.value.currentTime = value;
  }

  function setSpeed(value: number) {
    if (!refVideo.value) return;
    refVideo.value.playbackRate = value;
  }

  function setMute(value: boolean) {
    if (!refVideo.value) return;
    refVideo.value.muted = value;
  }

  /**
   * Обработчик событие @loadedmetadata видео
   * Определяется длительность видео
   * @param event
   */
  function handlerLoadedMetaData(event: Event) {
    Statistics.sendEvent('event', {
      act: 'video_loaded',
    });

    const target: any = event.target;
    const {duration, videoWidth, videoHeight} = target;
    videoDuration.value = duration;

    const eventData: IEventLoadedMasterVideoPlayer = {
      duration,
      videoWidth,
      videoHeight,
    };

    emit('loaded', eventData);
  }

  /**
   * Обработчик события @timeupdate видео
   * Определяет значение текущего времени видео (сек)
   * @param event
   */
  function handlerTimeUpdate(event: Event) {
    const target: any = event.target;
    emit('timeupdate', target.currentTime);
  }

  function handlerEnded(event: any) {
    emit('ended', event);
  }

  function handlerPause(event: any) {
    emit('pause', event);
  }

  function handlerPlay(event: any) {
    emit('play', event);
  }

  /**
   * Запускает проигрывание видео контента
   */
  function play() {
    refVideo.value?.play();
  }

  /**
   * Останавливает проигрывание видео контента
   */
  function pause() {
    refVideo.value?.pause();
  }

  const initPlayer = () => {
    if (!props.src) return;
    nextTick(() => {
      try {
        if (!Platform.is.ios) return;
        const element = refVideo.value;
        if (!element) return;
        const OnCanPlay = () => {
          element.removeEventListener('canplay', OnCanPlay);
          element.pause();
        };
        element.addEventListener('canplay', OnCanPlay);
        element.play();
      } catch (er) {
        if (import.meta.env.MODE === 'development') {
          console.error(er);
        }
      }
    });
  };

  watch(() => props.src, initPlayer, {immediate: true});
  watchEffect(() => {
    if (!refVideo.value) return;
    currentTime.value = refVideo.value.currentTime;
  });
  watch(() => props.progress, (value) => {
    if (value) {
      hasProgress.value = value > 0 && value < 1;
    }
  });

  defineExpose({
    get currentTime() {
      return refVideo.value?.currentTime || 0;
    },
    video: refVideo,
    duration,
    width,
    height,
    clientWidth,
    clientHeight,
    pause,
    play,
    setCurrentTime,
    setMute,
    setSpeed,
  });
</script>