<script setup lang="ts">
  import { defineEmits, defineProps, onBeforeMount, ref } from 'vue';
  import Modal from './Modal.vue';
  import { GlobalModules } from '@mixapixa-masters/utils';
  import Statistics from '@mixapixa-masters/statistics';
  import MasterTariffSelectStripe from './MasterTariffSelectStripe.vue';
  import MasterTariffSelectYooKassa from './MasterTariffSelectYooKassa.vue';
  import IconTextButton from './IconTextButton.vue';
  import { arrowLeft } from '../icons';
  import { setupI18n } from '@mixapixa-masters/locales';
  import StripeButton from './StripeButton.vue';
  import YoomoneyButton from './YoomoneyButton.vue';

  const { t } = setupI18n();

  interface MasterTariffSelectProps {
    modelValue: boolean,
  }

  defineProps<MasterTariffSelectProps>();

  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const paymentSystem = ref<'stripe' | 'yookassa' | ''>('');

  function onSelectPlan(planId: string, provider: string) {
    Statistics.sendEvent('button_click', {
      act: 'pay',
    });
    emit('select', { planId, provider });
  }

  function onModalHide() {
    paymentSystem.value = '';
    emit('hide');
  }

  onBeforeMount(() => {
    if (store) {
      store.dispatch('auth/initPlanList');
    }
  });

  const emit = defineEmits<{
    (e: 'update:modelValue', event: boolean): void,
    (e: 'show'): void,
    (e: 'hide'): void,
    (e: 'select', event: { planId: string, provider: string }): void,
  }>();
</script>
<template>
  <Modal
      noBackdropDismiss
      no-header-separator
      :modelValue="modelValue"
      :contentCss="{
        maxWidth: '620px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
      @hide="onModalHide"
      @show="emit('show')"
      @update:modelValue="emit('update:modelValue', $event)"
  >
    <template #title>
      <IconTextButton
          v-show="paymentSystem"
          size="22px"
          color="master-background-control"
          @click="paymentSystem = ''"
          :icon="arrowLeft"
          :label="t('back')"
      />
    </template>
    <div class="q-px-lg q-pb-lg">
      <div class="plans-header">{{ t('subscribe.removeWatermark') }}</div>
      <div class="plans-description">{{ t('subscribe.createDescription') }}</div>
      <div
          v-if="!paymentSystem"
          class="plans q-pb-lg column items-center justify-center"
          style="gap: 16px; height: 310px"
      >
        <StripeButton
            style="width: 50%"
            @click="paymentSystem = 'stripe'"
        />
        <YoomoneyButton
            style="width: 50%"
            @click="paymentSystem = 'yookassa'"
        />
      </div>
      <div
          v-else-if="paymentSystem === 'stripe'"
          class="plans flex justify-center row"
      >
        <MasterTariffSelectStripe
            @select-plan="onSelectPlan($event, 'stripe')"
        />
      </div>
      <div
          v-else-if="paymentSystem === 'yookassa'"
          class="plans flex justify-center row"
      >
        <MasterTariffSelectYooKassa
            @select-plan="onSelectPlan($event, 'yookassa')"
        />
      </div>
      <div
          v-else
          class="plans flex justify-center row"
      >
        Unknown payment system
      </div>
      <div class="footer-description">
        <div class="text-center">{{ t('subscribe.securePaymentsPlatform') }}</div>
        <div class="text-center">{{ t('subscribe.storePaymentInfo') }}</div>
        <div class="text-center" v-html="t('subscribe.refundTerm')"/>
      </div>
    </div>
  </Modal>
</template>

<style scoped lang="scss">
  .plans-header {
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
  }

  .plans-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .plan-tariff-card {
    width: 322px;
    height: 300px;
  }

  .plans::v-deep(.card) {
    margin-bottom: 10px;
  }

  .master-link {
    color: #3291FF;
    text-decoration: none;
  }

  .footer-description {
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
  }
</style>