<script lang="ts" setup>
  import { MasterInput, PropertyLabel } from '../index';
  import { computed } from 'vue';

  interface MasterDraggableInputProps {
    label?: string;
    value: number | null | undefined;
    format?: (e: number | null) => string;
    parse?: (e: string) => number;
    min?: number;
    max?: number;
    suffix?: string;
    step?: number;
    preloading?: boolean;
    selectOnFocus?: boolean | undefined;
    widthInput?: number | undefined;
    readonly?: boolean;
  }

  interface MasterDraggableInputEmits {
    (e: 'input:drag', event: number): void;

    (e: 'change', event: number | string | null): void;

    (e: 'drag:end'): void;

    (e: 'input:dragstart', event: number): void;
  }

  const props = withDefaults(defineProps<MasterDraggableInputProps>(), {
    widthInput: 100,
  });

  const emit = defineEmits<MasterDraggableInputEmits>();
  const widthInputPx = computed(() => props.widthInput + 'px');

  function handlerChange(event: number | string | null) {
    emit('change', event);
  }
</script>

<style lang="scss" scoped>
  .control-row {
    display: grid;
    grid-template-columns: auto min-content v-bind(widthInputPx);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 8px;
    grid-auto-flow: row dense;
    align-items: center;
    grid-template-areas:
    ". . .";
  }
</style>

<template>
  <div :class="label ? 'control-row' : ''">
    <PropertyLabel
      v-if="label"
      :label="label"
      :class="preloading && 'preloading'"
    />
    <div>
      <slot/>
    </div>
    <MasterInput
      :model-value="value"
      :format="format"
      :parse="parse"
      :suffix="suffix"
      :class="preloading && 'preloading'"
      :select-on-focus="selectOnFocus"
      :readonly="readonly"
      @update:model-value="handlerChange"
    />
  </div>
</template>