<script lang="ts" setup>
  import { QCheckbox, useQuasar } from 'quasar';
  import { defineEmits } from 'vue';

  const $q = useQuasar();

  interface MasterCheckboxProps {
    label: string;
    value: boolean;
    preloading?: boolean;
  }

  const emit = defineEmits(['update:value']);
  defineProps<MasterCheckboxProps>();

  function handlerUpdateModelValue(event: boolean) {
    emit('update:value', event);
  }
</script>

<template>
  <QCheckbox
    :dark="$q.dark.isActive"
    color="master-brand"
    class="non-selectable"
    :class="preloading && 'preloading'"
    :label="label"
    :model-value="value"
    left-label
    @update:model-value="handlerUpdateModelValue"
  />
</template>