<script setup lang="ts">
  import { QCard, QCardSection } from 'quasar';
  import IconTextButton from './IconTextButton.vue';

  interface MasterTariffSelectCardProps {
    interval?: string;
    currency: string;
    amount: number;
    description: string;
    header?: string;
    buttonLabel?: string;
  }

  defineProps<MasterTariffSelectCardProps>();

  const emit = defineEmits<{
    click: [],
  }>();
</script>

<style scoped lang="scss">
  .card {
    width: 260px;
    margin: 0 10px 20px;

    & .header {
      padding: 9px 25px;
      background-color: #15CC9E;
      color: #fff;
      font-size: 11px;
      line-height: 18px;
      font-weight: 600;
      border-radius: 10px 10px 0 0;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      transform: translateY(-100%);

      & + .body {
        border-radius: 0 0 10px 10px;
      }
    }

    & .body {
      border-radius: 11px;
      padding: 24px;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    }
  }

  .price {
    margin-bottom: 5px;
    font-size: 54px;
    font-family: Roboto, serif;
    line-height: 90px;
    font-weight: 300;

    & .amount {
      font-size: 96px;
      font-weight: 500;
    }
  }

  .price-description {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .apply-button {
    border-radius: 6px;
  }
</style>

<template>
  <QCard
      dense
      class="card text-center bg-transparent no-shadow"
  >
    <QCardSection
        v-if="header"
        class="header text-uppercase"
    >
      {{ header }}
    </QCardSection>
    <QCardSection class="body q-pa-none">
      <QCardSection class="text-bold q-pa-none">
        {{ interval }}
      </QCardSection>
      <QCardSection class="price q-pa-none flex justify-center items-center">
        {{ currency }}<span class="amount">{{ amount }}</span>
      </QCardSection>
      <QCardSection
          class="price-description q-pa-none"
          v-html="description"
      />
      <QCardSection class="q-pa-none">
        <IconTextButton
            class="full-width apply-button"
            :label="buttonLabel"
            color="master-brand"
            text-size="18px"
            button-size="20px"
            @click="emit('click')"
        />
      </QCardSection>
    </QCardSection>
  </QCard>
</template>