<script lang="ts" setup>
  import logoLight from '../resources/logo-light.svg';
  import logoDark from '../resources/logo-dark.svg';
  import { QImg } from 'quasar';

  interface MasterLogoProps {
    dark?: boolean
  }

  defineProps<MasterLogoProps>()
</script>

<template>
  <QImg
    style="width: 100px"
    no-spinner
    :src="dark ? logoLight :logoDark"
  />
</template>