<style lang="scss">
  .preloading {
    filter: url(#skeleton);
    pointer-events: none;
  }

  .master-skeleton {
    visibility: hidden;
    z-index: -999;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
</style>

<template>
  <svg class="master-skeleton">
    <filter
        id="skeleton"
        x="0%"
        y="0%"
        width="100%"
        height="100%"
        filterUnits="objectBoundingBox"
        primitiveUnits="userSpaceOnUse"
        color-interpolation-filters="linearRGB"
    >
      <feFlood
          id="skeleton-flood"
          flood-color="#798597"
          flood-opacity="1"
          x="0%"
          y="0%"
          width="100%"
          height="100%"
          result="flood"
      />
      <animate
          xlink:href="#skeleton-flood"
          id="anim-skeleton"
          attributeName="flood-opacity"
          values="1;0.3;1"
          dur="1.5s"
          repeatCount="indefinite"
      />
    </filter>
  </svg>
</template>