<script lang="ts" setup>
  interface MasterTitleProps {
    value?: string
  }

  defineProps<MasterTitleProps>();
</script>

<style lang="scss" scoped>
  .master-title {
    font-size: 20px;
  }
</style>

<template>
  <div class="master-title ellipsis">{{value}}</div>
</template>