<script setup lang="ts">
  import MasterTariffSelectCard from './MasterTariffSelectCard.vue';
  import { GlobalModules } from '@mixapixa-masters/utils';
  import { computed } from 'vue';
  import type { MPPlan } from '@mixapixa-masters/types';
  import { setupI18n } from '@mixapixa-masters/locales';

  const emit = defineEmits<{
    'select-plan': [id: string],
  }>();
  const { t } = setupI18n();
  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const plan1m = computed<MPPlan | null>(() => {
    return store.getters['auth/plans'].find((p: any) => p.name === 'MASTERS_STANDARD_1_M') || null;
  });
</script>

<template>
  <MasterTariffSelectCard
      class="plan-tariff-card"
      v-if="plan1m"
      :amount="plan1m.amount.value"
      currency="$"
      :description="t('subscribe.payDescription') + '<br/>' + t('subscribe.noAutoRenewal')"
      :button-label="t('subscribe.buttonToPay', {name: 'Stripe'})"
      @click="emit('select-plan', plan1m.id)"
  />
</template>