<script setup lang="ts">
  import { defineProps, ref } from 'vue';
  import MasterCheckbox from './MasterCheckbox.vue';
  import FileUploader from './FileUploader.vue';
  import ControlAudio from './ControlAudio.vue';
  import ConfirmationRemoveAudioDialog from './ConfirmationRemoveAudioDialog.vue';
  import { plus } from '../icons';
  import { useMobileAccept } from './useMobileAccept';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface SelectAudioProps {
    duration: number,
    fileName: string,
    loop: boolean,
    progress: number,
    accept?: string,
    textSize?: string,
    buttonSize?: string,
    uploadLabel?: string,
    confirmRemove?: boolean,
    color?: string
  }

  const props = withDefaults(defineProps<SelectAudioProps>(), {
    textSize: '15px',
    buttonSize: '14px',
    accept: 'audio/*',
    confirmRemove: true,
    color: 'master-background-light',
  });

  const { t } = setupI18n();
  const emit = defineEmits<{
    (e: 'update:loop', loop: boolean): void,
    (e: 'remove'): void
    (e: 'change', files: File[]): void,
  }>();

  const confirmRemoveDialog = ref<boolean>(false);
  const { uploaderAccept } = useMobileAccept(props);

  const onRemoveAudio = () => {
    if (props.confirmRemove) {
      confirmRemoveDialog.value = true;
    } else {
      emit('remove');
    }
  };
</script>

<template>
  <div>
    <template v-if="fileName">
      <ControlAudio
        :duration="duration"
        :progress="progress"
        :name="fileName"
        @remove="onRemoveAudio"
      />
      <MasterCheckbox
        class="q-mt-sm"
        :value="loop"
        @update:modelValue="emit('update:loop', $event)"
        :label="t('loop')"
      />
      <ConfirmationRemoveAudioDialog
        v-model:value="confirmRemoveDialog"
        @confirm="emit('remove')"
      />
    </template>
    <template v-else>
      <FileUploader
        class="fit text-master-text-color"
        :class="'bg-'+color"
        :icon="plus"
        :label="uploadLabel || t('addAudio')"
        :accept="uploaderAccept"
        :text-size="textSize"
        :button-size="buttonSize"
        @change="emit('change', $event.detail.files)"
      />
    </template>
  </div>
</template>