<script lang="ts" setup>
  import { QSelect } from 'quasar';
  import { useSlots } from 'vue';
  import { Icons } from '../index';

  interface MasterSelectProps {
    modelValue: any;
    bgColor?: string;
    color?: string;
    useInput?: boolean;
  }

  interface MasterSelectEmits {
    (e: 'update:model-value', value: any): void;
  }

  withDefaults(defineProps<MasterSelectProps>(), {
    bgColor: 'master-background-light',
    color: 'white',
  });

  const emit = defineEmits<MasterSelectEmits>();
  const slots = useSlots();
</script>

<style lang="scss" scoped>
  :deep .q-field__control {
    padding: 0 8px !important;
    margin: 0 !important;
    min-height: 20px !important;
  }

  .q-field--auto-height:deep .q-field__native {
    min-height: auto;
  }

  .q-select--with-input.q-field--auto-height:deep .q-field__native {
    padding: 3px;
  }

  .q-field--auto-height:deep .q-field__control {
    min-height: auto;
  }

  :deep .q-field__marginal {
    height: auto;
  }

  :deep .q-field__native {
    min-height: auto;
  }

  .q-select :deep .q-field__input {
    min-width: 40px !important;
  }
</style>

<template>
  <QSelect
    class="rounded-borders ellipsis non-selectable"
    rounded
    borderless
    options-dense
    :bg-color="bgColor"
    :color="color"
    :hide-selected="useInput"
    :use-input="useInput"
    :fill-input="useInput"
    :modelValue="modelValue"
    :dropdown-icon="Icons.menuDown"
    @update:model-value="emit('update:model-value', $event)"
    @input-value="emit('update:model-value', $event)"
  >
    <template
      v-for="slotName in Object.keys(slots)"
      #[slotName]="slotProps"
    >
      <slot :name="slotName" v-bind="slotProps"/>
    </template>
  </QSelect>
</template>