<script lang="ts" setup>
  import type {MasterColorPickerEventType} from '@mixapixa-masters/types';
  import { nextTick, ref, watch } from 'vue';
  import { QMenu, uid } from 'quasar';
  import ColorPicker from '@simonwep/pickr';
  import '@simonwep/pickr/dist/themes/monolith.min.css';
  import { isMobileBehavior } from '../utils/platform';

  interface MasterColorPickerProps {
    value: string;
    anchor?:
      | 'top left'
      | 'top middle'
      | 'top right'
      | 'top start'
      | 'top end'
      | 'center left'
      | 'center middle'
      | 'center right'
      | 'center start'
      | 'center end'
      | 'bottom left'
      | 'bottom middle'
      | 'bottom right'
      | 'bottom start'
      | 'bottom end'
      | undefined;
    self?:
      | 'top left'
      | 'top middle'
      | 'top right'
      | 'top start'
      | 'top end'
      | 'center left'
      | 'center middle'
      | 'center right'
      | 'center start'
      | 'center end'
      | 'bottom left'
      | 'bottom middle'
      | 'bottom right'
      | 'bottom start'
      | 'bottom end'
      | undefined;
    offset?: any;
  }

  interface MasterColorPickerEmits {
    (e: 'input', event: MasterColorPickerEventType): void;
  }

  const props = withDefaults(defineProps<MasterColorPickerProps>(), {
    anchor: 'center left',
    self: 'center right',
    offset: [6, 0],
  });

  const emit = defineEmits<MasterColorPickerEmits>();

  const containerId = 'color_' + uid();
  const ColorPickerComponent = ref<ColorPicker>();

  function onShow() {
    nextTick(() => {
      ColorPickerComponent.value = ColorPicker.create({
        el: '.color-picker',
        useAsButton: true,
        appClass: 'master-color-picker',
        theme: 'monolith', // or 'monolith', or 'nano'
        swatches: [
          'rgba(244, 67, 54, 1)',
          'rgba(233, 30, 99, 0.95)',
          'rgba(156, 39, 176, 0.9)',
          'rgba(103, 58, 183, 0.85)',
          'rgba(63, 81, 181, 0.8)',
          'rgba(33, 150, 243, 0.75)',
          'rgba(3, 169, 244, 0.7)',
          'rgba(0, 188, 212, 0.7)',
          'rgba(0, 150, 136, 0.75)',
          'rgba(76, 175, 80, 0.8)',
          'rgba(139, 195, 74, 0.85)',
          'rgba(205, 220, 57, 0.9)',
          'rgba(255, 235, 59, 0.95)',
          'rgba(255, 193, 7, 1)',
        ],
        showAlways: true,
        components: {
          preview: true,
          opacity: true,
          hue: true,
          interaction: {
            hex: true,
            rgba: true,
            input: true,
          },
        },
        container: '#' + containerId,
        default: props.value
      });

      ColorPickerComponent.value.on('change', (hsv: ColorPicker.HSVaColor) => {
        emit('input', {
          rgba: hsv.toRGBA().toString(),
          hex: hsv.toHEXA().toString(),
        });
      });
    });
  }

  watch(() => props.value, (value: string) => {
    ColorPickerComponent.value?.setColor(value);
  }, {
    immediate: true,
  });
</script>

<style lang="scss">
  .master-color-picker {
    position: static !important;
  }
</style>

<template>
  <QMenu
    class="bg-transparent"
    :offset="offset"
    :anchor="isMobileBehavior ? 'center left' : anchor"
    :self="isMobileBehavior ? 'center right' : self"
    max-height="388px"
    @before-show="onShow"
  >
    <div
      class="color-container"
      :id="containerId"
    >
      <div class="color-picker fit"/>
    </div>
  </QMenu>
</template>