<script setup lang="ts">
  import { QItem, QItemSection, QList, QMenu, QToolbar, QIcon } from 'quasar';
  import AppLogo from './AppLogo.vue'
  import IconButton from './IconButton.vue'
  import { account } from '../icons';
  import { computed, defineEmits, onBeforeMount, ref, watch } from 'vue';
  import { AuthStage, type MPUser } from '@mixapixa-masters/types';
  import AccountProfile from './AccountProfile.vue';
  import Modal from './Modal.vue';
  import { GlobalModules } from '@mixapixa-masters/utils';

  interface MasterHeaderProps {
    user?: MPUser | null,
  }

  defineProps<MasterHeaderProps>();
  const store = GlobalModules.get('store');

  const emit = defineEmits<{
    (e: 'showAuth', event: AuthStage): void
    (e: 'logout'): void
    (e: 'subscribe'): void
  }>();

  const showAccount = ref<boolean>(false);
  const isAuthorized = computed<boolean>(() => store.getters['auth/isAuthorized']);
  const plans = computed(() => store.getters['auth/plans']);

  const onSignOut = () => {
    emit('logout');
  }

  const onAccountClick = () => {
    if (!isAuthorized.value) return;
    showAccount.value = true;
  }

  const onSubscribe = () => {
    showAccount.value = false;
    emit('subscribe');
  }

  watch(isAuthorized, (value: boolean) => {
    if (!value) {
      showAccount.value = false;
    }
  })

  onBeforeMount(() => {
    if (store) {
      store.dispatch('auth/initPlanList');
    }
  });
</script>

<style scoped lang="scss">
  .mp-header-toolbar-content {
    flex: 1;
  }
</style>

<template>
  <QToolbar
      class="flex items-center"
  >
    <div>
      <AppLogo/>
    </div>
    <div class="mp-header-toolbar-content">
      <slot name="default"/>
    </div>
    <div>
      <IconButton
          :icon="account"
          button-size="18px"
      >
        <QMenu
            v-if="!isAuthorized"
            fit
            anchor="bottom right"
            self="top right"
            :offset="[0, 0]"
            auto-close
        >
          <QList style="min-width: 100px" dense>
            <QItem
                clickable v-close-popup
                @click="emit('showAuth', AuthStage.SIGN_IN)"
            >
              <QItemSection>Log in</QItemSection>
            </QItem>
            <QItem
                clickable v-close-popup
                @click="emit('showAuth', AuthStage.SIGN_UP)"
            >
              <QItemSection>Create an account</QItemSection>
            </QItem>
          </QList>
        </QMenu>
        <QMenu
            v-else
            fit
            anchor="bottom right"
            self="top right"
            :offset="[0, 0]"
            auto-close
        >
          <QList style="min-width: 100px" dense>
            <QItem
                clickable v-close-popup
                @click="onAccountClick"
            >
              <QItemSection>User profile</QItemSection>
            </QItem>
            <QItem
                clickable v-close-popup
                @click="onSignOut"
            >
              <QItemSection>Sign out</QItemSection>
            </QItem>
          </QList>
        </QMenu>
      </IconButton>
    </div>
  </QToolbar>
  <Modal
      v-if="isAuthorized"
      v-model="showAccount"
      noBackdropDismiss
      :contentCss="{
        maxWidth: '570px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
  >
    <template #title>
      <QToolbar class="q-pa-none">
        <QIcon
            :name="account"
            size="30px"
        />
        <span class="q-ml-sm">Account settings</span>
      </QToolbar>
    </template>
    <AccountProfile
        v-if="user"
        :user="user"
        :plans="plans"
        @logout="emit('logout')"
        @subscribe="onSubscribe"
    />
  </Modal>
</template>