<script setup lang="ts">
  import { QLinearProgress } from 'quasar';

  defineProps({
    size: {
      type: String,
      default: 'xl',
    },
    value: Number,
  });
</script>

<template>
  <QLinearProgress
    stripe
    rounded
    :size="size"
    :value="value"
    animation-speed="0.5"
    color="master-brand"
    track-color="master-background-control"
  />
</template>