<template>
  <QLayout
      view="hHh lpR fFf"
      class="bg-master-background"
  >
    <QHeader
        bordered
        class="bg-white text-primary q-px-lg flex items-center"
        :style="`height: ${headerHeight}`"
    >
      <AppLogo/>
      <slot name="header"/>
    </QHeader>

    <QPageContainer>
      <QPage>
        <slot/>
      </QPage>
    </QPageContainer>
  </QLayout>
</template>

<script lang="ts" setup>
  import { QHeader, QPageContainer, QLayout, QPage } from "quasar";
  import { AppLogo } from "../index";

  defineProps({
    headerHeight: {
      default: '57px',
      type: String,
    }
  })
</script>