<script lang="ts" setup>
  import { ToggleIconTextButton } from '../index';
  import { defineEmits, ref, watch } from 'vue';

  interface MasterButtonToggleGroupProps {
    modelValue: number;
    values: [number, string, string?][];
    suffix?: string | undefined;
    preloading?: boolean | undefined;
    bgColor?: string | undefined;
    color?: string | undefined;
  }

  const props = withDefaults(defineProps<MasterButtonToggleGroupProps>(), {
    suffix: '',
    bgColor: 'master-background-control',
    color: 'white',
  });
  const currentValue = ref<{ [index in number]: boolean }>({ [props.modelValue]: true });
  const emit = defineEmits<{
    (e: 'update:modelValue', event: number): void
  }>();

  function handlerUpdateModelValue(event: number) {
    currentValue.value = { [event]: true };
    emit('update:modelValue', event);
  }

  watch(() => props.modelValue, (payload: number) => {
    currentValue.value = { [payload]: true };
  });
</script>

<template>
  <div class="grid row q-col-gutter-xs">
    <div
        v-for="[value, label, icon] in values"
        :key="value"
        class="col-4"
    >
      <ToggleIconTextButton
          class="fit"
          :class="[`bg-${bgColor}`, `text-${color}`]"
          :preloading="preloading"
          :label="label + suffix"
          :icon="icon"
          :model-value="currentValue[value]"
          @update:model-value="handlerUpdateModelValue(value)"
      />
    </div>
  </div>
</template>