<script lang="ts" setup>
  import { FooterToolbar, PlayButton, ExportButton, MuteButton } from "../index";
  import { defineEmits } from "vue";
  import Statistics from '@mixapixa-masters/statistics'

  const props = withDefaults(defineProps<{
    /**
     * Модель состояния play панели инструментов
     */
    play?: boolean,
    /**
     * Модель состояния mute панели инструментов
     */
    mute?: boolean,
    /**
     * Флаг, отвечающий за скрытие контрола Mute
     */
    noMute?: boolean,
    /**
     * Флаг, отвечающий за скрытие контрола Play
     */
    noPlay?: boolean,
    /**
     * Флаг, отвечающий за скрытие контрола Export
     */
    noExport?: boolean,
    /**
     * Флаг соятояние loaded компонента, при котором все контролы оказываются недоступными для взаимодействия
     */
    loaded?: boolean,
    preloading?: boolean
  }>(), {
    play: false,
    mute: false,
    loaded: false,
  });

  const emit = defineEmits<{
    /**
     * Событие изменения модели play
     */
    (e: 'update:play', data: boolean): void,
    /**
     * Событие изменения модели mute
     */
    (e: 'update:mute', data: boolean): void,
    /**
     * Событие click по контролу Play
     */
    (e: 'click:play'): void,
    /**
     * Событие click по контролу Mute
     */
    (e: 'click:mute'): void,
    /**
     * Событие click по контролу Export
     */
    (e: 'click:export'): void,
  }>();

  function handlerExportButton() {
    Statistics.sendEvent('button_click', {
      act: 'export_file'
    });
    emit("click:export");
  }

  function handlerClickPlayButton() {
    emit('click:play');
    emit('update:play', !props.play);
  }

  function handlerClickMuteButton() {
    emit('click:mute');
    emit('update:mute', !props.mute);
  }
</script>

<template>
  <FooterToolbar>
    <template #start>
      <PlayButton
          v-if="!noPlay"
          class="q-mr-sm"
          :disable="loaded"
          :class="preloading && 'preloading'"
          :model-value="play"
          @click="handlerClickPlayButton"
      />
    </template>
    <MuteButton
        v-if="!noMute"
        class="q-mr-sm"
        :disable="loaded"
        :model-value="mute"
        :class="preloading && 'preloading'"
        @click="handlerClickMuteButton"
    />
    <!-- @slot Слот по-умолчанию, размещающий дополнительный контент между представленными контролами -->
    <slot/>
    <template #end>
      <ExportButton
          v-if="!noExport"
          :disable="loaded"
          :class="preloading && 'preloading'"
          @click="handlerExportButton"
      />
    </template>
  </FooterToolbar>
</template>