<script lang="ts" setup>
  import { QInput } from 'quasar';
  import { computed, defineEmits, ref, watch } from 'vue';
  import { SuffixAttribute } from '../index';

  interface MasterInputProps {
    modelValue: string | number | null | undefined;
    suffix?: string;
    prefix?: string;
    format?: (value: any) => any;
    parse?: (value: any) => any;
    selectOnFocus?: boolean | undefined;
  }

  interface MasterInputEmits {
    (e: 'update:model-value', payload: string | number): void;
  }

  const props = defineProps<MasterInputProps>();
  const emit = defineEmits<MasterInputEmits>();
  const shouldValue = ref(getShouldValue());
  const formatValue = computed(() => props.format ? props.format(props.modelValue) : props.modelValue);
  const refInput = ref<QInput | undefined>();

  let hasFocus = false;

  function getShouldValue() {
    return props.format ? props.format(props.modelValue) : props.modelValue;
  }

  function parseValue(value: string | number) {
    return props.parse ? props.parse(value) : value;
  }

  function onUpdateModelValue(value: string | number | null) {
    if (value !== null) {
      shouldValue.value = value;
      emit('update:model-value', parseValue(value));
    }
  }

  function onBlur() {
    shouldValue.value = formatValue.value;
    hasFocus = false;
  }

  function onFocus() {
    hasFocus = true;
    if (props.selectOnFocus) {
      refInput.value?.select();
    }
  }

  watch(() => props.modelValue, () => {
    if (hasFocus) {
      return;
    }

    shouldValue.value = getShouldValue();
  });
</script>

<style lang="scss" scoped>
  @mixin border-shadow {
    box-shadow: 0 0 0 2px #aaaeb1, 0 0 0 3px #d8e1e5;
    border-radius: 1px;
  }

  @mixin border-shadow-dark {
    box-shadow: 0 0 0 2px #38404b, 0 0 0 3px #b3b3b3;;
  }

  @mixin black-and-white {
    background: white;
    color: black !important;
  }

  .q-field {
    @include border-shadow;
  }

  .body--dark {
    .q-field {
      @include border-shadow-dark;
    }
  }

  .master-input {
    height: 24px;
  }

  .suffix,
  .prefix {
    color: #7e8b9e;
  }

  .prefix {
    margin-left: 3px;
  }

  .q-field--dense :deep .q-field__control {
    height: auto;
  }

  .q-field--dense :deep .q-field__marginal {
    height: auto;
  }

  .q-field--focused :deep input {
    @include black-and-white;
  }

  .q-field--focused :deep .q-field__append {
    @include black-and-white;
  }

  .q-field--focused :deep .q-field__prepend {
    @include black-and-white;
  }
</style>
<template>
  <QInput
    ref="refInput"
    class="master-input"
    borderless
    dense
    inputClass="text-right q-py-none self-center no-draggable"
    inputStyle="line-height: initial; height: 24px"
    :debounce="200"
    :model-value="shouldValue"
    @update:model-value="onUpdateModelValue"
    @blur="onBlur"
    @focus="onFocus"
  >
    <template #append>
      <SuffixAttribute
        v-if="suffix"
        class="suffix"
        :name="suffix"
      />
    </template>
    <template #prepend>
      <SuffixAttribute
        v-if="prefix"
        class="prefix"
        :name="prefix"
      />
    </template>
  </QInput>
</template>