<script setup lang="ts">
  import { computed, defineProps, ref, type StyleValue, defineExpose } from 'vue';
  import type { IEventLoadedMasterGifPlayer } from './index';
  import { VideoPreloader } from '../index';
  import type { Size } from '@mixapixa-masters/types';
  import Statistics from '@mixapixa-masters/statistics';


  interface MasterGifPlayerProps {
    /**
     * Ссылка на видео-контент
     */
    src?: string;
    /**
     * Размер видео в px
     */
    size?: Size;
    /**
     * Класс, устанавливающийся в тэг video
     */
    imageClass?: any;
    /**
     * Стиль, устанавливающийся в тэг video
     */
    imageStyle?: StyleValue | undefined;
  }

  interface MasterGifPlayerEmits {
    (e: 'loaded', data: IEventLoadedMasterGifPlayer): void;
  }

  const props = defineProps<MasterGifPlayerProps>();
  const emit = defineEmits<MasterGifPlayerEmits>();

  const loaded = ref<boolean>(false);
  const refImage = ref<HTMLImageElement | null>(null);

  /**
   * Флаг, отвечающий за отображение прелоадера
   */
  const hasPreloader = computed(() => {
    return !loaded.value;
  });

  const styleGifSize = computed<string>(() => {
    if (props.size) {
      const { width, height } = props.size;
      return `max-width: ${ width }px; max-height: ${ height }px`;
    }
    return `max-width: ${ window.innerWidth }px; max-height: ${ 0 }px`;
  });

  const width = computed(() => {
    return refImage.value?.naturalWidth;
  });

  const height = computed(() => {
    return refImage.value?.naturalHeight;
  });

  const clientWidth = computed(() => {
    return refImage.value?.clientWidth;
  });

  const clientHeight = computed(() => {
    return refImage.value?.clientHeight;
  });

  /**
   * Обработчик событие @load гиф
   * @param event
   */
  function handlerLoaded(event: Event) {
    Statistics.sendEvent('event', {
      act: 'video_loaded',
    });

    const target = event.target as unknown as HTMLImageElement;
    const { naturalWidth, naturalHeight } = target;

    loaded.value = true;

    const eventData: IEventLoadedMasterGifPlayer = {
      naturalWidth,
      naturalHeight,
    };

    emit('loaded', eventData);
  }

  defineExpose({
    image: refImage,
    width,
    height,
    clientWidth,
    clientHeight,
  });

</script>

<template>
  <div
      class="fit relative-position"
      :style="styleGifSize"
  >
    <div class="absolute-full no-scroll">
      <VideoPreloader v-show="hasPreloader" />
      <img
          v-show="!hasPreloader"
          ref="refImage"
          alt="image"
          class="fit relative-position"
          :class="imageClass"
          :style="imageStyle"
          :src="src"
          @load="handlerLoaded"
      />
    </div>
    <div class="absolute-full">
      <slot name="grid" />
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>
