<script setup lang="ts">
  import {computed, defineExpose, nextTick, ref, useSlots, watch} from 'vue';
  import type {AuthEventData, IVideoComponent, MPUser, Size} from '@mixapixa-masters/types';
  import {AuthStage, type SignInData} from '@mixapixa-masters/types';
  import Statistics from '@mixapixa-masters/statistics';
  import {GlobalModules} from '@mixapixa-masters/utils';
  import {Providers} from '@mixapixa-masters/providers';
  import {useQuasar} from 'quasar';
  import {
    Icons,
    IconTextButton,
    type IEventLoadedMasterVideoPlayer,
    MasterAuth,
    MasterGifPlayer,
    MasterTariffSelect,
    MasterVideoPlayer,
    PlaybackTimeline,
    PlayButton,
    Progress,
    ResultOutputPanel,
    ResultOutputPanelItem,
    saveToService,
    ScenePlayerCurrentTime,
    ScenePlayerToolbar,
    showError,
    StageHeader,
    VideoCustomizerLayout,
  } from '../index';

  import {isMobileBehavior} from '../utils/platform';
  import type {IEventLoadedMasterGifPlayer} from './index';
  import {setupI18n} from '@mixapixa-masters/locales';

  interface MasterResultStateProps {
    downloadFileId?: string;
    uploadProgress?: number;
    processProgress?: number;
    pathPrefix?: string;
    homePageUrl?: string;
    user?: MPUser;
    watermark?: boolean;
    fileSourceName?: string;
    sourceFileMetadata?: any;
  }

  interface MasterResultStateEmits {
    /**
     * Событие нажатие контрола для попытки скачивания видео файла
     * @param e
     */
    (e: 'click:download'): void

    /**
     * Событие нажатие контрола при выборе инструмента открытия текущего контента
     * @param e
     */
    (e: 'click:tool'): void

    /**
     * Click event from control to return to master first stage
     * @param e
     */
    (e: 'click:repeat'): void

    /**
     * Click event from control to return to site home page
     * @param e
     */
    (e: 'click:home'): void

    /**
     * Auth event
     * @param e
     * @param data
     */
    (e: 'auth', data: AuthEventData): void

    /**
     * Logout event
     * @param e
     */
    (e: 'logout'): void

    /**
     * Save to service event
     * @param e
     * @param data
     */
    (e: 'saveToService', data: any): void

    /**
     * Update event
     * @param e
     */
    (e: 'update'): void,
  }

  const emit = defineEmits<MasterResultStateEmits>();

  const props = withDefaults(defineProps<MasterResultStateProps>(), {
    uploadProgress: 0,
    processProgress: 0,
    watermark: true,
  });

  const slots = useSlots();
  const $q = useQuasar();
  const {t} = setupI18n();
  const aspectX = ref(300);
  const aspectY = ref(300);
  const stateLoading = ref(true);
  const modelPlay = ref(false);
  const modelMute = ref(false);
  const refVideo = ref<IVideoComponent>();
  const src = ref('');
  const stateVideoLoading = ref(false);
  const refMasterAuth = ref<typeof MasterAuth | null>(null);
  const showPlanSelect = ref<boolean>(false);
  /**
   * Флаг отвечает за наличие/отсутствие водяного знака на видео
   */
  const hasWatermark = ref<boolean>(props.watermark);
  /**
   * Флаг показывает, что водяной знак был убран в этой стадии
   */
  const watermarkRemoved = ref<boolean>(false);
  /**
   * Прогресс загрузки файла во внешний сервис
   */
  const serviceUploadProgress = ref<number>(-1);
  const repeatUrl = ref(window.location.href);
  /**
   * Ссылка на скачивание видео файла без водяного знака
   */
  const downloadLink = computed(() => {
    if (!props.downloadFileId) {
      return '';
    }
    const mastersProvider = Providers.getProvider<Providers.masters.Provider>('masters');
    return mastersProvider.getDownloadLink(props.downloadFileId);
  });

  /**
   * Возвращает значение заголовка над прогрессом
   */
  const progressLabel = computed(() => {
    if (downloadLink.value) {
      return t('result.progress.complete');
    }

    if (props.uploadProgress < 1) {
      return t('result.progress.file');
    }

    if (watermarkRemoved.value) {
      return t('result.progress.watermark');
    }

    return t('result.progress.video');
  });
  /**
   * Возвращает значение прогресса
   */
  const progressValue = computed(() => {
    if (props.uploadProgress < 1) {
      return props.uploadProgress;
    }
    return props.processProgress;
  });

  const resultVideoDuration = ref(0);
  const currentTime = ref(0);

  const isGif = computed<boolean>(() => {
    const ext = src.value.slice(-3).toLowerCase();
    return ext === 'gif' || ext === 'png';
  });

  function handlerLoadedVideo(event: IEventLoadedMasterVideoPlayer) {
    resultVideoDuration.value = event.duration;
    renderComplete({
      width: event.videoWidth,
      height: event.videoHeight,
    });
  }

  function handlerLoadedGif(event: IEventLoadedMasterGifPlayer) {
    renderComplete({
      width: event.naturalWidth,
      height: event.naturalHeight,
    });
  }

  function renderComplete({width, height}: Size) {
    Statistics.sendEvent('event', {
      act: 'render_complete',
    });
    aspectX.value = width;
    aspectY.value = height;
    stateLoading.value = false;
    nextTick(() => {
      document.documentElement.scrollTop = window.innerHeight * 0.45;
    });
  }

  function play() {
    refVideo.value?.play();
  }

  function pause() {
    refVideo.value?.pause();
  }

  function handlerPauseVideo() {
    modelPlay.value = false;
  }

  function onTimeUpdate(value: number) {
    if (!modelPlay.value) return;
    currentTime.value = value;
  }

  function handlerEndedVideo() {
    modelPlay.value = false;
  }

  function progressFormat() {
    return Math.floor(progressValue.value * 100);
  }

  function onClickRemoveWatermark() {
    Statistics.sendEvent('button_click', {
      act: 'remove_wm',
    });

    removeWatermark({
      next: () => {
        hasWatermark.value = false;
      },
    });
  }

  function getStoreWithAuth() {
    return getStoreWithModule('auth');
  }

  function getStoreWithModule(name: string) {
    const store = GlobalModules.get('store');
    if (!store || !store.hasModule(name)) {
      return null;
    }
    return store;
  }

  function setCurrentTime(time: number) {
    currentTime.value = time;
    refVideo.value?.setCurrentTime(time);
  }

  async function removeWatermark({next}: any) {
    const store = getStoreWithAuth();
    if (!store) return;

    const fnRemoveWatermark = () => {
      next();
      emit('update');
    };

    const isAuthorized = store.getters['auth/isAuthorized'];
    const watermark = store.getters['auth/watermark'];
    // const user = store.getters['auth/user'];
    // const watermark = store.getters['auth/watermark'];
    if (watermark && !isAuthorized) {
      runAuthorize(AuthStage.SIGN_IN, () => {
        removeWatermark({next});
      });
    } else if (watermark) {
      // Значит нет прав/денег на снятие вотермарка и тут нужно будет вывести оплату тарифа
      requestPayment({
        next: fnRemoveWatermark,
      });
    } else {
      fnRemoveWatermark();
    }
  }

  function onClickDownload() {
    Statistics.sendEvent('button_click', {
      act: 'download',
    });

    emit('click:download');
  }

  function onClickTool() {
    Statistics.sendEvent('button_click', {
      act: 'another_tools',
    });

    emit('click:tool');
  }

  function onClickRepeat() {
    Statistics.sendEvent('button_click', {
      act: 'repeat',
    });
    location.reload();
    emit('click:repeat');
  }

  function onClickHome() {
    Statistics.sendEvent('button_click', {
      act: 'home',
    });

    emit('click:home');
  }

  function onPositionChanged(value: number | null) {
    const time = value ?? 0;
    setCurrentTime(time);
  }

  async function onClickSaveToService(name: string) {
    Statistics.sendEvent('button_click', {
      act: 'saveToService:' + name,
    });

    serviceUploadProgress.value = 0;
    const mastersProvider = Providers.getProvider('masters');
    const onProgress = ({progress}: { progress: number }) => {
      serviceUploadProgress.value = progress;
    };
    const eventName = `${name}-upload-progress`;
    mastersProvider.on(eventName, onProgress);

    const result = await saveToService(props.downloadFileId || '', name, props.sourceFileMetadata)
        .catch(showError);

    mastersProvider.off(eventName, onProgress);
    if (result) {
      emit('saveToService', result);
    }
  }

  async function handlerConfirm() {
    modelPlay.value = false;
    stateVideoLoading.value = true;
    await setPlayableUrl(downloadLink.value);
    stateVideoLoading.value = false;
  }

  /**
   * Получение проигрываемого урла
   */
  function setPlayableUrl(url: string) {
    src.value = url;
  }


  const onRecoverPassword = (email: string) => {
    onAuth({
      type: AuthStage.RECOVER,
      data: {email},
    });
  };

  const onSignIn = (event: SignInData) => {
    onAuth({
      type: AuthStage.SIGN_IN,
      data: event,
    });
  };

  const onSignUp = (event: SignInData) => {
    onAuth({
      type: AuthStage.SIGN_UP,
      data: event,
    });
  };

  const onShowAuth = (stage: AuthStage) => {
    return runAuthorize(stage);
  };

  const runAuthorize = (stage: AuthStage, afterAuth?: () => void) => {
    return refMasterAuth.value?.run(stage, afterAuth);
  };

  const closeAuth = () => {
    refMasterAuth.value?.close();
  };

  let tariffSelectNext: (() => void) | null = null;
  const requestPayment = ({next}: any) => {
    showPlanSelect.value = true;
    tariffSelectNext = next;
  };

  const onTariffSelect = ({planId, provider}: { planId: string, provider: string }) => {
    const next = tariffSelectNext;
    const store = GlobalModules.get('store');
    const unwatchWatermark = watch(() => store.getters['auth/watermark'], (value: boolean | undefined) => {
      if (value === false) {
        unwatchWatermark();
        next?.();
      }
    });

    const mixaProvider = Providers.getProvider<Providers.mixapixa.MixaProvider>('mixapixa');
    if (!mixaProvider) return;

    mixaProvider.request('post', `/billing/plan/${planId}/subscribe`, {provider})
        .catch((error) => showError(error));

    return watchConfirmationUrl()
        .catch((err) => {
          if (err.message === 'POPUP_BLOCKED') {
            showError('Popup window blocked');
          }
        });
  };

  const onTariffSelectHide = () => {
    tariffSelectNext = null;
  };

  const watchConfirmationUrl = () => {
    return new Promise((resolve, reject) => {
      const store = GlobalModules.get('store');
      if (!store) {
        reject(Error('GLOBAL_STORE_NOT_FOUND'));
        return;
      }

      if (!store.hasModule('auth')) {
        reject(Error('AUTH_MODULE_NOT_FOUND'));
        return;
      }

      $q.loading.show();

      const confirmationUrlWatching = watch(() => store.getters['auth/confirmationUrl'], async (href) => {
        if (!href) {
          $q.loading.hide();
          return;
        }

        nextTick(() => {
          showPlanSelect.value = false;
          $q.loading.hide();
          confirmationUrlWatching();
        });
        waitForPaymentDone(href)
            .then(resolve)
            .catch(reject);
      });
    });
  };

  const waitForPaymentDone = (url: string) => {
    return new Promise((resolve, reject) => {
      const popup = window.open(url, '_blank');
      if (!popup) {
        reject(Error('POPUP_BLOCKED'));
        return;
      }

      const onMessage = ({data}: MessageEvent) => {
        if (data.event === 'payment-success' || data.event === 'payment-cancel') {
          clearInterval(closeCheck);
          window.removeEventListener('message', onMessage);
          popup.close();
          resolve(data);
        }
      };

      window.addEventListener('message', onMessage);

      const closeCheck = setInterval(() => {
        if (popup && popup.closed) {
          clearInterval(closeCheck);
          resolve({event: 'payment_cancel'});
        }
      }, 1000);
    });
  };

  async function onAuth(data: AuthEventData) {
    const store = getStoreWithAuth();
    if (!store) return;
    const user = await store.dispatch('auth/authorize', data);
    if (user) {
      closeAuth();
    }
    emit('auth', data);
  }

  async function onLogOut() {
    const store = getStoreWithAuth();
    if (store) {
      await store.dispatch('auth/logOut');
    }
    emit('logout');
  }

  function onSubscribe() {
    requestPayment({});
  }

  watch(modelPlay, (value: boolean) => {
    value ? play() : pause();
  });

  watch(downloadLink, async (url: string) => {
    if (url) {
      await handlerConfirm();
    }
  });

  watch(hasWatermark, (value) => {
    if (!value) {
      watermarkRemoved.value = true;
    }
  });

  defineExpose({
    closeAuth,
    runAuthorize: (afterAuth?: () => void) => {
      return runAuthorize(AuthStage.SIGN_IN, afterAuth);
    },
  });
</script>


<style lang="scss" scoped>
  @import '../styles/variables';

  :deep .aspect-ratio-container {
    min-height: 120px;
  }

  :deep .aspect-ratio {
    outline: 0 none;
  }

  :deep {
    .customizer {
      > .scroll-y {
        padding-top: 8px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    :deep {
      .customizer {
        > .scroll-y {
          padding-top: 16px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          > div {
            width: 48%;
          }

          > div:last-child {
            margin-top: 5px;
            margin-bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }
</style>

<template>
  <VideoCustomizerLayout
      :aspect-x="aspectX"
      :aspect-y="aspectY"
      landing-state
      aside-width="500px"
  >
    <!-- HEADER -->
    <template #header>
      <StageHeader
          class="bg-master-background"
          style="z-index: 1"
      >
        <template #start>
          <IconTextButton
              v-if="downloadLink"
              class="bg-master-background-control"
              size="26px"
              button-size="8px"
              :label="t('back')"
              :href="repeatUrl"
              :icon="Icons.arrowLeft"
              @click="onClickRepeat"
          />
        </template>
      </StageHeader>
    </template>

    <!-- SCENE -->
    <MasterGifPlayer
        v-if="isGif"
        :src="src"
        :size="{width: aspectX, height: aspectY}"
        @loaded="handlerLoadedGif"
    />
    <MasterVideoPlayer
        v-else
        ref="refVideo"
        :src="src"
        :size="{width: aspectX, height: aspectY}"
        :muted="modelMute"
        @loaded="handlerLoadedVideo"
        @ended="handlerEndedVideo"
        @pause="handlerPauseVideo"
        @timeupdate="onTimeUpdate"
    />

    <!-- SCENE-CONTROL -->
    <template #scene-control>
      <ScenePlayerToolbar
          style="height: 40px"
          class="q-px-md"
      >
        <template #start>
          <ScenePlayerCurrentTime
              class="bg-master-background-control q-px-sm"
              v-if="resultVideoDuration"
              :duration="resultVideoDuration"
              :current-time="currentTime"
          />
        </template>
        <template #default>
          <PlayButton
              v-if="resultVideoDuration"
              v-model:model-value="modelPlay"
          />
        </template>
      </ScenePlayerToolbar>
    </template>

    <!-- SCENE-TIMELINE -->
    <template #scene-timeline>
      <div
          class="flex items-center"
          style="height: 40px"
          :style="isMobileBehavior ? 'padding: 0 38px' : 'padding: 0 16px'"
      >
        <PlaybackTimeline
            v-if="resultVideoDuration"
            :thumb-size="isMobileBehavior ? '30px' : '18px'"
            :track-size="isMobileBehavior ? '8px' : '2px'"
            inner-track-color="master-background-control"
            track-color="master-brand"
            marker-color="white"
            marker-text-color="black"
            thumb-color="master-brand"
            :no-marker="isMobileBehavior"
            :duration="resultVideoDuration"
            :time="currentTime"
            @position:changed="onPositionChanged"
        />
      </div>
    </template>

    <!-- CUSTOMIZER -->
    <template #customizer>
      <div
          class="q-pa-md scroll-y full-height"
      >
        <Progress
            v-if="progressValue < 1 && !downloadLink"
            :progress="progressValue"
            :label="progressLabel"
            :format="progressFormat"
            suffix="%"
        />
        <ResultOutputPanel
            v-if="downloadLink"
            no-home-control
            no-repeat-control
            :path-prefix="pathPrefix"
            :download-link="src"
            :download-file-id="downloadFileId"
            :origin-file-id="downloadFileId"
            :watermark="hasWatermark"
            :loaded="stateVideoLoading"
            :home-page-url="homePageUrl"
            :file-source-name="fileSourceName"
            :service-progress="serviceUploadProgress"
            :select-tool="!isGif"
            @click:remove-watermark="onClickRemoveWatermark"
            @click:download="onClickDownload"
            @click:tool="onClickTool"
            @click:repeat="onClickRepeat"
            @click:home="onClickHome"
            @click:saveToService="onClickSaveToService"
        >
          <ResultOutputPanelItem
              v-if="slots['result-text'] && progressValue >= 1"
          >
            <slot name="result-text"/>
          </ResultOutputPanelItem>
        </ResultOutputPanel>
      </div>


    </template>
    <MasterAuth
        v-if="!props.user || props.user.username === 'guest'"
        ref="refMasterAuth"
        @signin="onSignIn"
        @signup="onSignUp"
        @recover="onRecoverPassword"
    />
    <MasterTariffSelect
        v-model="showPlanSelect"
        @select="onTariffSelect"
        @hide="onTariffSelectHide"
    />
  </VideoCustomizerLayout>
</template>