<script setup lang="ts">
  import { AuthStage, type SignInData } from '@mixapixa-masters/types';
  import { defineExpose, ref } from 'vue';
  import SignInModal from './SignInModal.vue';
  import SignUpModal from './SignUpModal.vue';
  import RecoverPasswordModal from './RecoverPasswordModal.vue';

  const emit = defineEmits<{
    (e: 'signin', data: SignInData): void,
    (e: 'signup', data: SignInData): void,
    (e: 'recover', email: string): void,
    (e: 'hide'): void,
  }>();

  const showSignIn = ref<boolean>(false);
  const showSignUp = ref<boolean>(false);
  const showRecover = ref<boolean>(false);

  let afterAuthCallback: (() => void) | undefined = undefined;

  const setStage = (stage: AuthStage) => {
    showSignIn.value = stage === AuthStage.SIGN_IN;
    showSignUp.value = stage === AuthStage.SIGN_UP;
    showRecover.value = stage === AuthStage.RECOVER;
  }

  const emitSignEvent = (name: 'signin' | 'signup', data: SignInData) => {
    data.afterAuth = afterAuthCallback;
    emit(name as any, data);
  }

  defineExpose({
    run: (stage: AuthStage, afterAuth?: () => void) => {
      afterAuthCallback = afterAuth;
      setStage(stage);
    },
    close: () => setStage(AuthStage.EMPTY),
  });
</script>

<template>
  <SignInModal
      v-model="showSignIn"
      @signin="emitSignEvent('signin', $event)"
      @signup="setStage(AuthStage.SIGN_UP)"
      @recover="setStage(AuthStage.RECOVER)"
  />
  <SignUpModal
      v-model="showSignUp"
      @signin="setStage(AuthStage.SIGN_IN)"
      @signup="emitSignEvent('signup', $event)"
  />
  <RecoverPasswordModal
      v-model="showRecover"
      @recover="emit('recover', $event)"
  />
</template>