<script setup lang="ts">
  import { defineEmits, defineProps, ref } from 'vue';

  interface MasterAudioPlayerHidden {
    src: string,
    muted?: boolean,
  }

  defineProps<MasterAudioPlayerHidden>();
  const emit = defineEmits<{
    (e: 'ended'): void,
  }>();

  const refAudio = ref<HTMLAudioElement | null>(null);

  const play = () => {
    return refAudio.value?.play();
  }

  const pause = () => {
    return refAudio.value?.pause();
  }

  defineExpose({
    play,
    pause,
    get currentTime(): number {
      return refAudio.value?.currentTime || 0;
    },
    set currentTime(time: number) {
      if (refAudio.value) {
        refAudio.value.currentTime = time;
      }
    },
  });
</script>

<template>
  <audio
      ref="refAudio"
      class="hidden"
      :src="src"
      :muted="muted"
      @ended="emit('ended')"
  />
</template>