<script lang="ts" setup>
  import { Icons, IconTextButton, MasterDraggableInput } from '../index';
  import { QSlider, QTooltip } from 'quasar';
  import { computed } from 'vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface IInputSliderOptions {
    min?: number;
    max?: number;
    step?: number;
    boost?: number;
    suffix?: string;
  }

  interface MInputSliderProps {
    value: number;
    label?: string;
    min?: number;
    max?: number;
    boost?: number;
    step?: number;
    suffix?: string;
    format?: (e: number | null) => string;
    parse?: (e: string) => number;
    preloading?: boolean;
    resetControl?: boolean;
    resetValue?: number;
    resetLabel?: string;
  }

  const props = withDefaults(defineProps<MInputSliderProps>(), {
    format: (e: number | null) => {
      if (e !== null) {
        return (Math.floor(e)).toString(10);
      }
      return '';
    },
    resetLabel: 'Reset to default',
  });
  const { t } = setupI18n();
  const emit = defineEmits<{
    (e: 'update:value', event: number): void,
  }>();

  const options = computed<IInputSliderOptions>(() => {
    return {
      min: props.min,
      max: props.max,
      step: props.step,
      boost: props.boost,
      suffix: props.suffix,
    };
  });

  function dispatchUpdateValue(event: number) {
    emit('update:value', event);
  }

  function handlerInputDrag(event: number) {
    dispatchUpdateValue(event);
  }

  function handlerChange(event: number | string) {
    dispatchUpdateValue(+event);
  }

  function handlerUpdateModelValueQSlider(event: number | null) {
    if (event !== null) {
      dispatchUpdateValue(event);
    }
  }

  function onClickResetToDefault() {
    if (props.resetValue !== undefined) {
      dispatchUpdateValue(props.resetValue);
    }
  }
</script>

<template>
  <div>
    <MasterDraggableInput
      class="col-grow"
      select-on-focus
      :preloading="preloading"
      :label="label"
      :format="format"
      :parse="parse"
      :value="value"
      :min="options.min"
      :max="options.max"
      :step="options.step"
      :suffix="options.suffix"
      :width-input="50"
      @input:drag="handlerInputDrag"
      @change="handlerChange"
    >
      <IconTextButton
        v-if="resetControl"
        class="q-ml-sm"
        :icon="Icons.restore"
        text-color="master-text-color"
        color="master-background-control"
        button-size="10px"
        @click="onClickResetToDefault"
      >
        <QTooltip>{{ t('scene.reset') }}</QTooltip>
      </IconTextButton>
    </MasterDraggableInput>
    <QSlider
      class="q-mt-sm"
      color="master-text-color"
      track-size="1px"
      thumb-size="15px"
      track-color="master-background-control"
      inner-track-color="master-background-control"
      :model-value="value"
      :min="options.min"
      :max="options.max"
      :step="options.step"
      :class="preloading && 'preloading'"
      @update:model-value="handlerUpdateModelValueQSlider"
    />
  </div>
</template>