<script lang="ts" setup>
  import { MasterDraggableInput } from '../index';
  import { convertSecondsToTimeFormat, convertTimeFormatToSeconds, isHours } from '@mixapixa-masters/utils';

  const props = withDefaults(defineProps<{
    /**
     * Заголовок компонента. Отображает текст слева от поля ввода
     */
    label?: string
    /**
     * Значение компонента
     */
    value?: number
    /**
     * Максимальное значение, которое может принимать компонент при вводе с клавиатуры
     * или при драге
     */
    duration?: number
    /**
     * Минимальное значение, которое может принимать компонент при вводе с клавиатуры
     * или при драге
     */
    min?: number
    preloading?: boolean
    suffix?: string
    selectOnFocus?: boolean | undefined
    readonly?: boolean
  }>(), {
    duration: Infinity,
    value: 0,
    min: 0,
    suffix: 's',
  });

  function format(value: number | null) {
    if (value !== null) {
      return convertSecondsToTimeFormat(value, isHours(value));
    }
    return '';
  }

  function parse(value: string) {
    return convertTimeFormatToSeconds(value) || 0;
  }

  const emit = defineEmits<{
    /**
     * Событие драга
     */
    (e: 'input:drag', event: number): void
    /**
     * Событие изменения значения при вводе с клавиатуры
     */
    (e: 'change', event: number): void
    /**
     * Событие обновление значение. Работает с v-model
     */
    (e: 'update:value', event: number): void
    /**
     * Событие окончания драга
     */
    (e: 'drag:end'): void
    /**
     * Событие начала драга. Событие возвращает значение в момент драга
     */
    (e: 'input:dragstart', event: number): void
  }>();

  function dispatchEventUpdateValue(value: number) {
    emit('update:value', value);
  }

  function handlerChange(value: number | null) {
    if (value === null || isNaN(value)) {
      return props.value;
    }

    const result = Math.min(Math.max(+value, 0), props.duration);
    emit('change', result);
    dispatchEventUpdateValue(result);
  }

  function handlerInputDrag(event: number) {
    emit('input:drag', event);
    dispatchEventUpdateValue(event);
  }

  function handlerDragEnd() {
    emit('drag:end');
  }

  function handlerDragStart(event: number) {
    emit('input:dragstart', event);
  }
</script>

<template>
  <MasterDraggableInput
    class="full-width q-pb-md"
    :preloading="preloading"
    :label="label"
    :value="value"
    :format="format"
    :parse="parse"
    :min="min"
    :max="duration"
    :step="0.005"
    :suffix="suffix"
    :select-on-focus="selectOnFocus"
    :readonly="readonly"
    @input:drag="handlerInputDrag"
    @change="handlerChange"
    @drag:end="handlerDragEnd"
    @input:dragstart="handlerDragStart"
  />
</template>