<script lang="ts" setup>
  import { Icons, ToggleIconButton } from "../index";
  import { computed, defineEmits } from "vue";

  const props = defineProps<{
    modelValue: boolean
  }>();

  const emit = defineEmits(['click', 'update:modelValue']);
  const tooltipText = computed(() => props.modelValue ? 'Unmute sound' : 'Mute sound');

  function handlerClick(event: MouseEvent) {
    emit('click', event);
  }
</script>

<template>
  <ToggleIconButton
      :icon="Icons[modelValue ? 'volumeOff' : 'volumeOn']"
      :model-value="modelValue"
      active-color="white"
      :tooltip="tooltipText"
      @click="handlerClick"
  />
</template>