<script setup lang="ts">
  import { Screen } from 'quasar';
  import OAuthProviderButton from './OAuthProviderButton.vue';
  import LogoGoogle from '../resources/brand_google.svg';
  import LogoFacebook from '../resources/brand_facebook.svg';
  import { setupI18n } from '@mixapixa-masters/locales';

  const emit = defineEmits<{
    enterProvider: [provider: string]
  }>();
  const { t } = setupI18n();
</script>

<template>
  <div class="row flex-center q-col-gutter-x-lg">
    <div class="col-6">
      <OAuthProviderButton
          class="full-width"
          label="Google"
          :style="{ height: Screen.gt.xs ? '50px' : 'auto' }"
          :icon="LogoGoogle"
          @click="emit('enterProvider', 'google')"
      />
    </div>
    <div class="col-6">
      <OAuthProviderButton
          class="full-width"
          label="Facebook"
          :style="{ height: Screen.gt.xs ? '50px' : 'auto' }"
          :icon="LogoFacebook"
          @click="emit('enterProvider', 'facebook')"
      />
    </div>
  </div>
  <div class="row q-py-sm-lg q-py-xs-sm items-center justify-center q-my-xs">
    <div class="col-2 text-center">
      {{ t('auth.or') }}
    </div>
  </div>
</template>