<script setup lang="ts">
  import { QBtn } from 'quasar';

  interface OAuthProviderButtonProps {
    label: string,
    icon: string,
    disable?: boolean,
  }

  defineProps<OAuthProviderButtonProps>();
</script>

<style scoped lang="scss">

</style>

<template>
  <QBtn
      no-caps
      outline
      :disable="disable"
  >
    <div class="no-wrap flex items-center">
      <img
          style="width: 32px; height: 32px"
          :src="icon"
          :alt="label"
      />
      <div class="q-mr-xs text-no-wrap">
        {{ label }}
      </div>
    </div>
  </QBtn>
</template>