<script lang="ts" setup>
  import { IconButton, Icons } from '../index';
  import { computed } from 'vue';
  import { isMobileBehavior } from '../utils/platform';

  interface ScenePlayControlsToolbarProps {
    modelValue: boolean;
  }

  interface ScenePlayControlsToolbarEmits {
    (e: 'update:model-value', value: boolean): void;
  }

  const props = defineProps<ScenePlayControlsToolbarProps>();
  const emit = defineEmits<ScenePlayControlsToolbarEmits>();
  const icon = computed(() => props.modelValue ? Icons.pause : Icons.play);


  function onPlayClick() {
    emit('update:model-value', !props.modelValue);
  }
</script>

<template>
  <IconButton
      button-size="0px"
      :icon="icon"
      :size="isMobileBehavior ? '45px' : '30px'"
      @click="onPlayClick"
  />
</template>