<script lang="ts" setup>
  import { computed } from 'vue';
  import MasterProgress from './MasterProgress.vue';

  const props = defineProps({
    progress: {
      type: Number,
      default: 0,
    },
    label: String,
    suffix: {
      type: String,
      default: '%',
    },
    format: {
      type: Function,
      default: (out: number) => out,
    },
  });

  const resultProgress = computed(() => {
    return props.progress >= 0 ? props.progress : 0;
  });
  const progressFormat = computed(() => props.format(props.progress));
</script>

<template>
  <div class="full-width non-selectable">
    <div class="flex justify-between">
      <div>
        {{ label }}
      </div>
      <div class="text-right">
        {{ progressFormat }}{{ suffix }}
      </div>
    </div>
    <MasterProgress
      :value="resultProgress"
    />
  </div>
</template>