<script setup lang="ts">
  import { Icons, IconTextButton, showError } from '../index';
  import { computed } from 'vue';
  import { GlobalModules } from '@mixapixa-masters/utils';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface ProjectListControlProps {
    accountUrl?: string;
  }

  const store = GlobalModules.get('store');
  if (!store) {
    throw new Error('STORE_NOT_FOUND');
  }

  const props = defineProps<ProjectListControlProps>();
  const isAuthorized = computed<boolean>(() => store?.getters['auth/isAuthorized']);
  const { t } = setupI18n();
  const onClickShowList = () => {
    if (!props.accountUrl) {
      showError('Account URL not found');
    }
    window.open(props.accountUrl, '_self');
  };
</script>

<template>
  <IconTextButton
    color="master-background-control"
    text-color="master-text-color"
    size="26px"
    button-size="8px"
    :icon="Icons.arrowLeft"
    :label="isAuthorized ? t('projects') : t('templates')"
    @click="onClickShowList"
  />
</template>