<script setup lang="ts">
  interface PropertyLabelProps {
    label: string
    preloading?: boolean
  }

  defineProps<PropertyLabelProps>();
</script>

<style lang="scss" scoped>
  .property-label {
    font-size: 14px;
    font-weight: 300;
    flex: 1;
  }
</style>

<template>
  <div
      class="ellipsis non-selectable property-label"
      :class="preloading && 'preloading'"
  >
    {{ label }}
  </div>
</template>