<script setup lang="ts">
  import { defineEmits, defineProps } from 'vue';
  import { PropertyLabel } from '../index';
  import SimpleColorSelection from './SimpleColorSelection.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface PropertyColorProps {
    value: string;
    format?: 'hex' | 'hexa';
    icon?: string;
    preloading?: boolean;
  }

  defineProps<PropertyColorProps>();
  const { t } = setupI18n();

  interface PropertyColorEmits {
    (event: 'input', color: string): void,
  }

  const emit = defineEmits<PropertyColorEmits>();
</script>

<style scoped lang="scss">
  .mp-color-picker-control {
    border: 1px solid white;
    padding: 0;

    &::-webkit-color-swatch-wrapper {
      border: 0;
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0;
      padding: 0;
    }
  }

  .mp-color-picker-label {
    flex: 0 0 auto;
  }
</style>

<template>
  <div class="row items-center">
    <PropertyLabel
      class="mp-color-picker-label"
      :label="t('color')"
      :class="preloading && 'preloading'"
    />
    <SimpleColorSelection
      :preloading="preloading"
      class="mp-color-picker-control q-ml-sm"
      :value="value"
      :format="format"
      :icon="icon"
      @input="emit('input', $event)"
    />
  </div>
</template>