<script setup lang="ts">
  import { defineProps, defineEmits } from 'vue';
  import Modal from './Modal.vue';
  import RecoverPassword from './RecoverPassword.vue';

  interface RecoverPasswordModalProps {
    modelValue: boolean,
  }

  defineProps<RecoverPasswordModalProps>();

  const emit = defineEmits<{
    (e: 'update:modelValue', event: boolean): void,
    (e: 'show'): void,
    (e: 'hide'): void,
    (e: 'recover', email: string): void,
  }>();
</script>

<style scoped lang="scss">

</style>

<template>
  <Modal
      :modelValue="modelValue"
      noBackdropDismiss
      :contentCss="{
        maxWidth: '570px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
      @hide="emit('hide')"
      @show="emit('show')"
      @update:modelValue="emit('update:modelValue', $event)"
  >
    <template #title>
      Recover password
    </template>
    <div class="flex justify-center q-ma-lg">
      <RecoverPassword
          @recover="emit('recover', $event)"
      />
    </div>
  </Modal>
</template>