<script setup lang="ts">
  import { defineEmits, ref } from 'vue';
  import { QInput, Screen, QBtn } from 'quasar';

  const emit = defineEmits<{
    (e: 'recover', email: string): void,
  }>();

  const email = ref<string>('');

  const recoverHandler = () => {
    emit('recover', email.value);
  }
</script>

<template>
  <div
      class="full-width"
      style="max-width:300px"
  >
    <div class="row flex-center">
      <div class="col">
        <p class="text-center">
          Enter your email
        </p>
        <QInput
            v-model="email"
            outlined
            no-error-icon
            type="email"
            autocomplete="email"
            label="Email"
            :bottom-slots="false"
            :rules="['email']"
            error-message="Enter a valid email"
            :dense="Screen.lt.sm"
            @keyup.enter="recoverHandler"
        />
      </div>
    </div>
    <div class="row flex-center q-py-md">
      <QBtn
          class="full-width"
          color="master-brand"
          unelevated
          label="Recover password"
          @click="recoverHandler"
      />
    </div>
  </div>
</template>