<script lang="ts" setup>
  import { MasterCheckbox } from '../index';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface RemoveControlProps {
    preloading?: boolean;
    value: boolean;
  }

  defineProps<RemoveControlProps>();
  const { t } = setupI18n();
</script>

<template>
  <MasterCheckbox
    :class="preloading && 'preloading' || null"
    class="non-selectable"
    :label="t('removeSound')"
    :value="value"
  />
</template>