<script lang="ts" setup>
  import { DropdownButton, Icons, IconTextButton, ResultOutputPanelItem } from '../index';
  import { QIcon } from 'quasar';
  import { computed, ref, withDefaults } from 'vue';
  import { toolsList } from '../modules/toolsList';
  import { setupI18n } from '@mixapixa-masters/locales';
  import {useRouter} from "vue-router";

  interface ResultOutputPanelProps {
    /**
     * Ссылка для скачивания файла
     */
    downloadLink?: string
    /**
     * Идентификатор файла, это может быть как идентификатор файла с водяным знаком, так и без него
     */
    downloadFileId?: string
    /**
     * Идентификатор файла без водяного знака. Нужно передавать, чтобы имелась возможность открывать файл в другом мастере
     */
    originFileId?: string
    /**
     * Флаг определяет наличие, либо отсутствие водяного знака на видео
     */
    watermark?: boolean
    /**
     * Состояние занятости компонента, при котором все контролы станут недоступными для взаимодейтсвия
     */
    loaded?: boolean
    progress?: number
    pathPrefix?: string
    /**
     * Путь до домашней страницы мастера
     */
    homePageUrl?: string
    /**
     * Имя сервиса источника файла. По умолчанию masters
     */
    fileSourceName?: string
    /**
     * Прогресс загрузки файла на внешний сервис
     */
    serviceProgress?: number,

    /**
     * Кнопка выбора мастера для дальнейшего редактирования
     */
    selectTool?: boolean,
    noRepeatControl?: boolean | undefined,
    noHomeControl?: boolean | undefined,
  }

  interface ResultOutputPanelEmits {
    /**
     * Событие нажатие контрола для попытки удаления водяного знака с видео
     * @param e
     */
    (e: 'click:removeWatermark'): void;

    /**
     * Событие нажатие контрола для попытки скачивания видео файла
     * @param e
     */
    (e: 'click:download'): void;

    /**
     * Событие нажатие контрола при выборе инструмента открытия текущего контента
     * @param e
     */
    (e: 'click:tool'): void;

    /**
     * Click event from control to return to master first stage
     * @param e
     */
    (e: 'click:repeat'): void;

    /**
     * Click event from control to return to site home page
     * @param e
     */
    (e: 'click:home'): void;

    /**
     * Click event from control to save result file to external service
     * @param e
     * @param name
     */
    (e: 'click:saveToService', name: string): void;
  }

  const props = withDefaults(defineProps<ResultOutputPanelProps>(), {
    watermark: false,
    loaded: false,
    pathPrefix: '',
    progress: 0,
    serviceProgress: -1,
    selectTool: true,
  });

  const router = useRouter();
  const { t } = setupI18n();
  const emit = defineEmits<ResultOutputPanelEmits>();
  const repeatUrl = ref(window.location.href);
  const watermarkButtonLabel = computed(() => {
    return props.watermark ? t('watermark.remove') : t('watermark.removed');
  });
  /**
   * Сколько отображать иконок в кнопки выбора открытия в новом мастере
   */
  const previewMasterIconCount = 4;

  /**
   * Открывает новый мастер, передавая в адресную строку идентификатор видео-файла
   * @param id
   */
  function openInMasterById(id: string) {
    window.open(getMasterLink(id));
  }

  const menuMasters = toolsList.map(({ label, icon, id }) => {
    return {
      label, icon,
      click: () => openInMasterById(id),
      href: getMasterLink(id),
    };
  });

  const masterIcons = computed(() => menuMasters.slice(0, previewMasterIconCount).map((elm) => elm.icon));

  function onClickRemoveWatermark() {
    emit('click:removeWatermark');
  }

  function onClickDownload() {
    emit('click:download');
  }

  function onClickTool() {
    emit('click:tool');
  }

  function onClickRepeat() {
    emit('click:repeat');
  }

  function onClickHome() {
    emit('click:home');
  }

  function onClickSaveToService(name: string) {
    emit('click:saveToService', name);
  }

  function getMasterLink(masterId: string) {
    return `${props.pathPrefix}${masterId}/#/?fileid=${props.originFileId}`;
  }
</script>

<style lang="scss" scoped>
  @import '../../src/styles/variables';

  .control-select-tool {
    box-shadow: inset 0 0 0 5px var($master-background-control);
    padding: 0
  }

  .body--dark {
    .control-select-tool {
      box-shadow: inset 0 0 0 5px white;
    }
  }
</style>
<template>
  <div
    v-if="!noRepeatControl && !noHomeControl"
    class="row justify-between q-mb-xl"
  >
    <IconTextButton
      v-if="!noRepeatControl"
      class="col-5 bg-master-background-control"
      :label="t('back')"
      target="_blank"
      size="20px"
      button-size="14px"
      :icon="Icons.repeat"
      :disable="!!loaded"
      :href="repeatUrl"
      @click="onClickRepeat"
    />
    <IconTextButton
      v-if="!noHomeControl"
      class="col-5 bg-master-background-control"
      :label="t('home')"
      size="20px"
      target="_blank"
      button-size="14px"
      :icon="Icons.home"
      :disable="!!loaded"
      :href="homePageUrl"
      @click="onClickHome"
    />
  </div>
  <slot/>
  <ResultOutputPanelItem>
    <IconTextButton
      v-if="watermark"
      :icon="Icons.watermark"
      :label="watermarkButtonLabel"
      :disable="!watermark || !!loaded"
      size="20px"
      color="master-brand"
      button-size="14px"
      @click="onClickRemoveWatermark"
    />
  </ResultOutputPanelItem>
  <ResultOutputPanelItem>
    <IconTextButton
      download
      rel="noopener noreferrer"
      class="bg-master-background-control"
      button-size="14px"
      :label="t('download')"
      target="_blank"
      size="20px"
      :loading="progress > 0 && progress < 1"
      :percentage="progress * 100"
      :icon="Icons.download"
      :disable="!!loaded"
      :href="downloadLink"
      @click="onClickDownload"
    />
  </ResultOutputPanelItem>
  <ResultOutputPanelItem v-if="fileSourceName === 'dropbox'">
    <IconTextButton
      download
      button-size="14px"
      size="20px"
      class="bg-master-background-control"
      :loading="serviceProgress >= 0 && serviceProgress < 1"
      :progress="serviceProgress * 100"
      :icon="Icons.dropbox"
      :label="serviceProgress >= 1 ? t('dropbox.saved') : t('dropbox.save')"
      :disable="!!loaded"
      @click="onClickSaveToService('dropbox')"
    />
  </ResultOutputPanelItem>
  <ResultOutputPanelItem
    v-if="selectTool"
    class="q-mb-xl"
  >
    <DropdownButton
      size="20px"
      button-size="14px"
      class="control-select-tool bg-master-background-control"
      :disable="loaded"
      :menu="menuMasters"
      @click="onClickTool"
    >
      <div class="q-pa-md">
        <div class="q-pb-xs">
          <QIcon
            v-for="icon in masterIcons"
            :key="icon"
            :name="icon"
          />
        </div>
        <span class="q-pl-sm">{{ t('editAnotherTool') }}</span>
      </div>
    </DropdownButton>
  </ResultOutputPanelItem>
</template>