<script lang="ts" setup>
  import { computed } from 'vue';
  import { formatBytes } from '../utils/file';
  import SimpleSuffixAttribute from '../components/SimpleSuffixAttribute.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  const props = defineProps<{
    /**
     * Начальное количество байтов
     */
    was: number
    /**
     * Конечное количество байтов
     */
    became: number
  }>();

  const { t } = setupI18n();
  const wasText = computed(() => formatBytes(props.was));
  const becameText = computed(() => formatBytes(props.became));
  const diffText = computed(() => {
    if (props.was && props.became) {
      return Math.ceil(100 - ((props.became * 100) / props.was));
    }
    return 0;
  });
</script>

<style lang="scss" scoped>
  .result-text-line {
    line-height: 18px;
  }
</style>

<template>
  <div class="text-center result-text-line">
    <div>{{ t('result.size.was') }} <span class="result-output">{{ wasText }}</span></div>
    <div>{{ t('result.size.now') }} <span class="result-output">{{ becameText }}</span></div>
    <div>{{ t('result.size.better') }} <span class="result-output">{{ diffText }}<SimpleSuffixAttribute name="%"/></span></div>
  </div>
</template>