<script lang="ts" setup>
  import { ResultTextDuration, ResultTextHeader, ResultTextResolution, ResultTextSize } from '../index';
  import { type Component, computed } from 'vue';

  type DescriptionAreaFormatType = 'size' | 'duration' | 'resolution';
  type ComponentListType = { [index: string]: Component };

  const props = defineProps<{
    title: string
    format?: DescriptionAreaFormatType
    was?: number | [number, number]
    became?: number | [number, number]
  }>();

  const ls: ComponentListType = {
    'size': ResultTextSize,
    'duration': ResultTextDuration,
    'resolution': ResultTextResolution,
  };

  const resultComponent = computed<Component | null>(() => {
    if (props.format && props.was && props.became) {
      const component = ls[props.format];
      if (component) {
        return component;
      }
    }
    return null;
  });
</script>

<template>
  <div class="column non-selectable">
    <ResultTextHeader>
      {{ title }}
    </ResultTextHeader>
    <component
      v-if="resultComponent"
      :is="resultComponent"
      :was="was"
      :became="became"
    />
  </div>
</template>