<script lang="ts" setup>
  import { computed } from 'vue';
  import { convertSecondsToTimeFormat, isHours } from '@mixapixa-masters/utils';
  import SimpleSuffixAttribute from '../components/SimpleSuffixAttribute.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  const props = defineProps<{
    was: number
    became: number
  }>();

  const { t } = setupI18n();
  const wasText = computed(() => convertSecondsToTimeFormat(props.was, isHours(props.was)));
  const becameText = computed(() => convertSecondsToTimeFormat(props.became));
</script>

<style lang="scss" scoped>
  .result-text-line {
    line-height: 18px;
  }
</style>

<template>
  <div class="text-center result-text-line">
    <div>{{ t('result.duration.was') }} <span class="result-output">{{ wasText }}<SimpleSuffixAttribute
      :name="t('secondShort')"/></span></div>
    <div>{{ t('result.duration.now') }} <span class="result-output">{{ becameText }}<SimpleSuffixAttribute
      :name="t('secondShort')"/></span></div>
  </div>
</template>