<script lang="ts" setup>
  import { Icons } from '../index';
  import SimpleSuffixAttribute from '../components/SimpleSuffixAttribute.vue';

  import { QIcon } from 'quasar';
  import type { TwoDimensionalNumericArrayType } from './index';
  import { setupI18n } from '@mixapixa-masters/locales';

  defineProps<{
    was: TwoDimensionalNumericArrayType
    became: TwoDimensionalNumericArrayType
  }>();
  const { t } = setupI18n();
</script>

<style lang="scss" scoped>
  .result-text-line {
    line-height: 18px;
  }
</style>

<template>
  <div class="text-center result-text-line">
    <div class="items-center">{{ `${t('result.resolution.was')} ${was[0]}` }}
      <QIcon :name="Icons.close" size="9px"/>
      {{ was[1] }}
      <SimpleSuffixAttribute
        name="px"/>
    </div>
    <div class="items-center">{{ `${t('result.resolution.now')} ${became[0]}` }}
      <QIcon :name="Icons.close" size="9px"/>
      {{ became[1] }}
      <SimpleSuffixAttribute
        name="px"/>
    </div>
  </div>
</template>