<style lang="scss" scoped>
  @import '../styles/variables';

  .scene-toolbar-player {
    height: 50px;
    display: grid;
    grid-template-columns: minmax(140px, auto) 1fr minmax(140px, auto);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row dense;
    align-items: center;
    align-content: center;
    grid-template-areas:
    "left-slot center-slot right-slot";
  }

  .left-slot {
    grid-area: left-slot;
    justify-self: left;
  }

  .center-slot {
    grid-area: center-slot;
    justify-self: center;
  }

  .right-slot {
    grid-area: right-slot;
    justify-self: right;
  }

  @media screen and (max-width: $breakpoint-xs) {
    .stage-header {
      grid-template-columns: min-content 1fr min-content;
    }
  }
</style>

<template>
  <div class="scene-toolbar-player">
    <div class="left-slot">
      <slot name="start"></slot>
    </div>
    <div class="center-slot">
      <slot></slot>
    </div>
    <div class="right-slot">
      <slot name="end"></slot>
    </div>
  </div>
</template>