<script lang="ts" setup>
  import { computed } from 'vue';
  import { convertSecondsToTimeFormat } from '@mixapixa-masters/utils';
  import { isMobileBehavior } from '../utils/platform';

  interface ScenePlayControlsToolbarProps {
    duration: number;
    currentTime: number;
  }

  const props = defineProps<ScenePlayControlsToolbarProps>();
  const durationFormatted = computed(() => {
    const result = convertSecondsToTimeFormat(props.duration);
    return isMobileBehavior.value ? removeTimeMs(result) : result;
  });
  const currentTimeFormatted = computed(() => {
    const result = convertSecondsToTimeFormat(props.currentTime);
    return isMobileBehavior.value ? removeTimeMs(result) : result;
  });

  function removeTimeMs(value: string) {
    return value.substring(0, value.length - 2);
  }
</script>


<style lang="scss" scoped>
  .current-time-output {
    border-radius: 4px;
    height: 30px;
  }
</style>

<template>
  <div class="current-time-output flex items-center">
    <pre
      class="q-ma-none"
      style="font-size: 14px"
    ><span>{{ currentTimeFormatted }}</span> / <span>{{ durationFormatted }}</span></pre>
  </div>
</template>