<script lang="ts" setup>
  import scrollIndicator from '../resources/scroll-indicator.svg';
</script>

<style lang="scss" scoped>
  .scroll-indicator {
    background: #292E36;
    height: 10px;

    img {
      opacity: 0.7;
    }
  }
</style>

<template>
  <div class="relative-position scroll-indicator">
    <img
        :src="scrollIndicator"
        alt="ind"
        class="absolute-center"
    />
  </div>
</template>