<script setup lang="ts">
  import { QBtn, QForm, QInput, Screen } from 'quasar';
  import { defineEmits, reactive } from 'vue';
  import LinkButton from './LinkButton.vue';
  import type { SignInData } from '@mixapixa-masters/types';
  import OAuthProviders from './OAuthProviders.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  const emit = defineEmits<{
    signin: [data: SignInData]
    signup: [data: SignInData]
    recover: []
  }>();
  const { t } = setupI18n();
  const form = reactive({
    email: '',
    password: '',
  });

  const handlerLogIn = (provider: string) => {
    emit('signin', {
      provider,
      ...form,
    });
  };

  const handlerPasswordForgot = () => {
    emit('recover');
  };

  const gotoSignUp = (provider: string) => {
    emit('signup', {
      provider,
      ...form,
    });
  };
</script>

<style scoped lang="scss">
  .mp-sign-in {
    max-width: 350px;
  }

  .mp-sign-in-header {
    font-size: 20px;
  }
</style>

<template>
  <div
      class="mp-sign-in full-width"
  >
    <OAuthProviders
        @enterProvider="handlerLogIn($event)"
    />

    <div class="q-mb-lg">
      <QForm
          class="q-gutter-y-lg"
          @submit="handlerLogIn('local')"
      >
        <QInput
            v-model="form.email"
            outlined
            no-error-icon
            type="email"
            autocomplete="email"
            :label="t('email')"
            error-message="Enter a valid email"
            :bottom-slots="false"
            :rules="['email']"
            :dense="Screen.lt.sm"
            @keyup.enter="handlerLogIn('local')"
        />
        <QInput
            v-model="form.password"
            outlined
            no-error-icon
            type="password"
            autocomplete="current-password"
            :label="t('password')"
            hide-hint
            error-message="Enter password"
            :dense="Screen.lt.sm"
            :rules="[(v) => !!v]"
            @keyup.enter="handlerLogIn('local')"
        />
      </QForm>
    </div>
    <div class="row flex-center q-py-sm q-mb-sm">
      <QBtn
          class="full-width"
          color="master-brand"
          unelevated
          :label="t('logIn')"
          @click="handlerLogIn('local')"
      />
    </div>
    <div class="flex flex-center">
      <LinkButton
          class="text-weight-light"
          :label="t('auth.restorePassword')"
          @click="handlerPasswordForgot"
      />
    </div>
    <div class="flex items-center flex-center">
      <span
          class="q-pr-sm text-weight-light"
      >
        {{ t('auth.firstTimeHere') }}
      </span>
      <LinkButton
          class="text-weight-light"
          :label="t('createAccount')"
          @click="gotoSignUp('local')"
      />
    </div>
  </div>
</template>