<script setup lang="ts">
  import { defineEmits, defineProps } from 'vue';
  import type { SignInData } from '@mixapixa-masters/types';
  import Modal from './Modal.vue';
  import SignIn from './SignIn.vue';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface SignInModalProps {
    modelValue: boolean,
  }

  defineProps<SignInModalProps>();

  const emit = defineEmits<{
    'update:modelValue': [event: boolean]
    show: []
    hide: []
    signin: [data: SignInData]
    signup: [data: SignInData]
    recover: []
  }>();
  const { t } = setupI18n();
</script>

<template>
  <Modal
      :modelValue="modelValue"
      noBackdropDismiss
      :contentCss="{
        maxWidth: '570px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
      @hide="emit('hide')"
      @show="emit('show')"
      @update:modelValue="emit('update:modelValue', $event)"
  >
    <template #title>
      {{ t('auth.loginForRemoveWatermark')}}
    </template>
    <div class="flex justify-center q-ma-lg">
      <SignIn
          @signin="emit('signin', $event)"
          @signup="emit('signup', $event)"
          @recover="emit('recover')"
      />
    </div>
  </Modal>
</template>