<script setup lang="ts">
  import { Screen, QForm, QInput, QBtn } from 'quasar';
  import { defineEmits, reactive } from 'vue';
  import OAuthProviders from './OAuthProviders.vue';
  import LinkButton from './LinkButton.vue';
  import type { SignInData } from '@mixapixa-masters/types';

  const emit = defineEmits<{
    (e: 'signup', data: SignInData): void
    (e: 'signin', data: SignInData): void
  }>();

  const form = reactive({
    email: '',
    password: '',
  });

  const termsHtml = '<span>By submitting you agree to our<br><a href="https://mixapixa.com/ofer" target="_blank" class="text-brand mixa-link">terms of use</a> and <a href="http://mixapixa.com/zpd" target="_blank" class="text-brand mixa-link">privacy policy</a></span>';

  const handlerRegistry = (provider: string) => {
    emit('signup', {
      provider,
      ...form
    });
  }

  const gotoSignIn = (provider: string) => {
    emit('signin', {
      provider,
      ...form
    });
  }

</script>

<style scoped lang="scss">

</style>

<template>
  <div
      class="full-width"
      style="max-width:350px"
  >
    <div>

      <OAuthProviders
          @enterProvider="handlerRegistry($event)"
      />

      <div class="q-mb-lg">
        <QForm
            class="q-gutter-y-lg"
            @submit="handlerRegistry('local')"
        >
          <QInput
              v-model="form.email"
              outlined
              no-error-icon
              type="email"
              autocomplete="email"
              label="Email"
              :bottom-slots="false"
              :rules="['email']"
              error-message="Enter a valid email"
              :dense="Screen.lt.sm"
              @keyup.enter="handlerRegistry('local')"
          />
          <QInput
              v-model="form.password"
              outlined
              no-error-icon
              type="password"
              autocomplete="current-password"
              label="Password"
              hide-hint
              :dense="Screen.lt.sm"
              :rules="[(v) => !!v, (v) => v.length > 5]"
              error-message="Enter a password of at least 6 characters"
              @keyup.enter="handlerRegistry('local')"
          />
        </QForm>
      </div>
    </div>
    <div class="row flex-center q-py-sm q-mb-sm">
      <QBtn
          class="full-width"
          color="master-brand"
          unelevated
          label="Create"
          @click="handlerRegistry('local')"
      />
    </div>
  </div>
  <div class="full-width col-grow">
    <div class="flex flex-center text-center">
      <div
          class="q-mr-sm text-weight-light"
          v-html="termsHtml"
      >
      </div>
    </div>
  </div>
  <div class="full-width self-end">
    <div class="flex flex-center q-mt-sm-lg q-mt-xs-sm">
      <span
          class="q-mr-sm text-weight-light"
      >
        Already have an account?
      </span>
      <LinkButton
          class="text-weight-light"
          label="Log in"
          @click="gotoSignIn('local')"
      />
    </div>
  </div>
</template>