<script setup lang="ts">
  import { defineProps, defineEmits } from 'vue';
  import type { SignInData } from '@mixapixa-masters/types';
  import Modal from './Modal.vue';
  import SignUp from './SignUp.vue';

  interface SignUpModalProps {
    modelValue: boolean,
  }

  defineProps<SignUpModalProps>();

  const emit = defineEmits<{
    (e: 'update:modelValue', event: boolean): void,
    (e: 'show'): void,
    (e: 'hide'): void,
    (e: 'signin', data: SignInData): void,
    (e: 'signup', data: SignInData): void,
    (e: 'recover', email: string): void,
  }>();
</script>

<style scoped lang="scss">

</style>

<template>
  <Modal
      :modelValue="modelValue"
      noBackdropDismiss
      :contentCss="{
        maxWidth: '570px',
        maxHeight: '80vh',
        width: '100%',
        height: 'auto',
      }"
      @hide="emit('hide')"
      @show="emit('show')"
      @update:modelValue="emit('update:modelValue', $event)"
  >
    <template #title>
      Create Free Account
    </template>
    <div class="flex justify-center q-ma-lg">
      <SignUp
          @signin="emit('signin', $event)"
          @signup="emit('signup', $event)"
      />
    </div>
  </Modal>
</template>