<script lang="ts" setup>
  import { withDefaults, defineProps, defineEmits, computed } from 'vue';
  import { QColor, QPopupProxy } from 'quasar';
  import IconButton from './IconButton.vue';

  interface SimpleColorSelectionProps {
    value?: string
    format?: "auto" | "hex" | "rgb" | "hexa" | "rgba" | undefined;
    icon?: string
    preloading?: boolean
  }

  const props = withDefaults(defineProps<SimpleColorSelectionProps>(), {
    value: '#000',
    format: 'hex',
    icon: 'none',
  });

  const emit = defineEmits<{
    (e: 'input', value: string): void
  }>();

  const style = computed(() => {
    const st: any = {
      color: props.value,
    };
    if (props.icon == 'none') {
      st.backgroundColor = props.value;
    }
    return st;
  });

  const handlerInput = (color: string | null) => {
    if (color) {
      emit('input', color);
    }
  }
</script>

<style scoped lang="scss">
  @import "../../src/styles/variables";

  .mp-color-picker-control {
    padding: 0;
    width: 30px;
    height: 30px;

    &::-webkit-color-swatch-wrapper {
      border: 0;
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0;
      padding: 0;
    }
  }
</style>

<template>
  <IconButton
    class="mp-color-picker-control rounded-borders cursor-pointer"
    size="26px"
    :style="style"
    :icon="icon ?? ''"
    :class="preloading && 'preloading'"
  >
    <QPopupProxy>
      <QColor
        :model-value="value"
        @update:modelValue="handlerInput"
        :format-model="format"
        no-footer
        default-view="spectrum"
      />
    </QPopupProxy>
  </IconButton>
</template>