<template>
  <span class="non-selectable suffix-attribute">
    {{ name }}
  </span>
</template>
<script setup lang="ts">
  defineProps<{
    name: string
  }>();
</script>
<style>
  .suffix-attribute {
    font-size: 12px;
    margin-left: 2px;
    line-height: inherit;
    font-family: Tahoma, serif;
  }
</style>