<script lang="ts" setup>
  import { QSpace, QToolbar } from 'quasar';
  import { computed } from 'vue';

  interface SimpleToolbarProps {
    height?: number;
    color?: string;
  }

  const props = withDefaults(defineProps<SimpleToolbarProps>(), {
    height: 50,
    color: 'master-background',
  });

  const heightStyle = computed(() => `height: ${props.height}px; min-height: ${props.height}px;`);
  const colorClassName = computed(() => `bg-${props.color}`);
</script>

<template>
  <QToolbar
    :class="colorClassName"
    :style="heightStyle"
  >
    <slot name="start"/>
    <QSpace/>
    <slot/>
    <QSpace/>
    <slot name="end"/>
  </QToolbar>
</template>