<script lang="ts" setup>
  import { HeaderAuthorization } from '../index';
</script>

<style lang="scss" scoped>
  @import '../styles/variables';

  .stage-header {
    height: 50px;
    display: grid;
    grid-template-columns: minmax(140px, auto) 1fr minmax(140px, auto);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row dense;
    align-items: center;
    grid-template-areas:
    ". center-slot right-slot";
  }
  .center-slot {
    grid-area: center-slot;
    justify-self: center;
  }
  .right-slot {
    grid-area: right-slot;
    justify-self: right;
  }

  @media screen and (max-width: $breakpoint-xs) {
    .stage-header {
      grid-template-columns: min-content 1fr max-content;
    }
  }
</style>
<template>
  <div
      class="stage-header q-px-md full-width"
  >
    <div>
      <slot name="start"/>
    </div>
    <div class="center-slot">
      <slot/>
    </div>
    <div class="right-slot no-wrap flex items-center">
      <slot name="end"/>
      <HeaderAuthorization/>
    </div>
  </div>
</template>