<template>
  <div class="non-selectable suffix-attribute">
    {{ name }}
  </div>
</template>
<script setup lang="ts">
  defineProps<{
    name: string
  }>();
</script>
<style lang="scss" scoped>
  .suffix-attribute {
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    min-width: 13px;
    margin-left: -6px;
    font-family: Tahoma, serif;
  }
</style>