<script lang="ts" setup>
  import type { TextAlignType } from '@mixapixa-masters/types';
  import { ref, watch } from 'vue';
  import { IconButton, Icons } from '../index';

  const props = defineProps<{
    value: TextAlignType
  }>();

  const emit = defineEmits<{
    (e: 'update:value', value: TextAlignType): void
  }>();
  const values: TextAlignType[] = ['left', 'center', 'right'];
  const icons = [Icons.textLeft, Icons.textCenter, Icons.textRight];
  const toggleCount = values.length - 1;
  const currentToggleIndex = ref(0);

  watch(() => props.value, () => {
    let index = values.findIndex((elm) => elm === props.value);

    if (index < 0) {
      index = 0;
    }

    currentToggleIndex.value = index;
  }, {
    immediate: true,
  });

  function handlerClick() {
    currentToggleIndex.value++;
    if (currentToggleIndex.value > toggleCount) {
      currentToggleIndex.value = 0;
    }

    emit('update:value', values[currentToggleIndex.value]);
  }
</script>

<template>
  <IconButton
    button-size="10px"
    size="25px"
    :icon="icons[currentToggleIndex]"
    @click="handlerClick"
  />
</template>