<script lang="ts" setup>
  import IconButton from "./IconButton.vue";
  import { computed, ref, watchEffect } from "vue";
  import { QTooltip } from 'quasar';

  interface ToggleIconButtonProps {
    icon: string
    tooltip?: string
    activeColor?: string
    modelValue: boolean
    preloading?: boolean
  }

  const props = withDefaults(defineProps<ToggleIconButtonProps>(), {
    modelValue: false,
    activeColor: 'master-brand'
  });

  const emit = defineEmits(['update:modelValue'])

  const refTooltip = ref();
  const toggledState = ref();

  const color = computed(() => toggledState.value ? props.activeColor : 'white');

  watchEffect(() => {
    toggledState.value = props.modelValue;
  });

  function handlerClick() {
    refTooltip.value?.hide();
    emit('update:modelValue', !props.modelValue);
  }
</script>

<template>
  <IconButton
      :preloading="preloading"
      :icon="icon"
      :text-color="color"
      @click="handlerClick"
  >
    <QTooltip
        v-if="tooltip"
        ref="refTooltip"
    >
      {{ tooltip }}
    </QTooltip>
  </IconButton>
</template>