<script setup lang="ts">
  import { computed, defineEmits } from 'vue';
  import IconTextButton from './IconTextButton.vue';
  import { colors } from 'quasar';
  const getPaletteColor = colors.getPaletteColor;

  interface ToggleIconTextButtonProps {
    icon?: string;
    label?: string;
    modelValue: boolean;
    preloading?: boolean;
    bgColor?: string;
    selectColor?: string;
  }

  const props = withDefaults(defineProps<ToggleIconTextButtonProps>(), {
    modelValue: false,
    bgColor: 'master-background-light',
    selectColor: 'master-brand',
  });

  const emit = defineEmits(['update:modelValue']);
  const toggled = computed<string>(() => props.modelValue ? 'toggled' : '');
  const selectStyle = computed(() => `border-color: ${getPaletteColor(props.selectColor)}`);
  function handlerClick() {
    emit('update:modelValue', !props.modelValue);
  }
</script>

<style scoped lang="scss">
  @import '../styles/quasarVariables';

  .mp-masters-icon-text-button {
    border: 1px solid transparent;
  }
</style>

<template>
  <IconTextButton
    class="mp-masters-icon-text-button"
    text-color="master-text-color"
    button-size="14px"
    :preloading="preloading ?? false"
    :style="toggled && selectStyle"
    :label="label ?? ''"
    :icon="icon ?? ''"
    :color="bgColor ?? ''"
    @click="handlerClick"
  />
</template>