<script lang="ts" setup>
  import { computed, onMounted, ref, shallowRef, useSlots, watch } from 'vue';
  import { Screen, uid } from 'quasar';
  import { AspectRatio } from '../index';
  import { isMobileBehavior } from '../utils/platform';

  interface VideoCustomizerLayoutProps {
    /**
     * Ширина боковой панели параметров
     */
    asideWidth?: string | undefined;
    aspectX?: number | undefined;
    aspectY?: number | undefined;
    /**
     * Внутренний отступ для AspectRatio. Он учитывается в delta-height компонента AspectRatio
     */
    innerOffset?: number | undefined;
    /**
     * Применяет стиль overflow: hidden для контейнера aspect-ratio
     */
    aspectRatioOverflow?: boolean | undefined;
    /**
     * quasar свойство компонента QLayout
     */
    container?: boolean | undefined;
    modelCustomizer?: boolean | undefined;
    modelFloat?: boolean | undefined;
    /**
     * Флаг, позволяющий убрать внутренний скролл из контейнера customizer при мобильном варианте.
     * С этим флагом появляется общий скролл всего контента
     */
    landingState?: boolean | undefined;
  }

  const props = withDefaults(defineProps<VideoCustomizerLayoutProps>(), {
    asideWidth: '332px',
    innerOffset: 16,
    aspectRatioOverflow: true,
    modelCustomizer: true,
  });
  const slots = useSlots();
  /**
   * Ширина правой боковой скролируемой области, она учитывается только в состоянии desktop
   * @description Используется в блоке style
   */
  const asideStyleWidth = computed(() => slots.customizer ? props.asideWidth : '0px');
  const valueAspectX = computed(() => props.aspectX ?? window.outerWidth);
  const valueAspectY = computed(() => props.aspectY ?? window.outerHeight);
  const landingStateClassName = computed(() => props.landingState ? 'landing' : '');
  const customizerHeightStyle = computed(() => Screen.height - aspectRatioContainerHeight.value + 'px');
  /**
   * Высота области под контентом. Высота вычисляется, для правильного отображения области контента. Это значение
   * передается в delta-height компонента AspectRatio
   */
  const refAspectRatio = shallowRef();
  const aspectRatioContainerHeight = ref(0);
  const callResize = ref(false);
  const refHeader = ref();
  const refSceneControl = ref();
  const refSceneTimeline = ref();
  const refProjectMusic = ref();
  const refFooterToolbar = ref();
  /**
   * Generating a random target selector id for avoid repeating
   */
  const aspectRatioTargetId = 'target_' + uid();

  /**
   * Forced call to update refAspectRatio component. Old implementation from Mixapixa
   */
  function callToUpdateAspectRatio() {
    setTimeout(() => {
      callResize.value = true;
    }, 100);
  }

  function update() {
    const maxScreenHeight = Screen.height;
    const sceneControlHeight = refSceneControl.value?.offsetHeight ?? 0;
    const sceneTimelineHeight = refSceneTimeline.value?.offsetHeight ?? 0;
    const musicHeight = refProjectMusic.value?.offsetHeight ?? 0;
    const footerToolbarHeight = refFooterToolbar.value?.offsetHeight ?? 0;

    aspectRatioContainerHeight.value = maxScreenHeight - sceneControlHeight - sceneTimelineHeight - musicHeight - footerToolbarHeight;
    callToUpdateAspectRatio(); // async
  }

  onMounted(() => {
    update();
    screen.orientation.addEventListener('change', () => {
      /**
       * При смене ориентации высота видимой области не соотвествует текущей высоте, чтобы этого избежать, добавляется
       * watch на изменение Screen.height. Предполагается, что высота меняется не в момент смены ориентации, а по
       * прошествии определенного времени после её смены
       */
      const unwatchScreenHeight = watch(() => Screen.height, () => {
        update();
        unwatchScreenHeight();
      });
    });

    window.onresize = () => {
      update();
    };
  });

  watch(isMobileBehavior, (value: boolean) => {
    if (value) {
      update();
    }
  });

  watch([valueAspectX, valueAspectY], () => {
    callResize.value = true;
    update();
  });

  defineExpose({
    update,
  });
</script>

<style lang="scss" scoped>
  @import '../styles/variables';

  .container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr v-bind(asideStyleWidth);
    grid-template-rows: min-content 1fr min-content min-content min-content min-content;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row dense;
    align-items: center;
    grid-template-areas:
    "main-header customizer"
    "scene customizer"
    "scene-control customizer"
    "scene-timeline customizer"
    "music customizer"
    "footer-toolbar customizer";
  }

  .main-header {
    grid-area: main-header;
  }

  .scene {
    grid-area: scene;
  }

  .scene-control {
    grid-area: scene-control;
  }

  .scene-timeline {
    grid-area: scene-timeline;
  }

  .music {
    grid-area: music;
  }

  .scene-list {
    grid-area: scene-list;
  }

  .footer {
    grid-area: footer;
  }

  .footer-toolbar {
    grid-area: footer-toolbar;
  }

  .customizer {
    position: relative;
    grid-area: customizer;
    height: 100%;
    width: 100%;
  }

  .aspect-ratio {
    outline: 1px dashed #8d8d8d;
  }

  .float-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: $breakpoint-sm) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
      "main-header"
      "scene"
      "scene-control"
      "scene-timeline"
      "music"
      "footer-toolbar";

      &.landing {
        overflow: auto;
      }

      .customizer {
        position: fixed;
        display: none;
        bottom: 0;
        width: 100% !important;
        height: v-bind(customizerHeightStyle);
        z-index: 100;
      }
    }

    .container {
      &.landing {
        grid-template-rows: min-content minmax(190px, 1fr) min-content min-content min-content min-content min-content;
        align-items: unset;
        grid-template-areas:
        "main-header"
        "scene"
        "scene-control"
        "scene-timeline"
        "music"
        "footer-toolbar"
        "customizer";

        .customizer {
          position: relative;
          height: unset;
          z-index: unset;
          display: block;
        }
      }
    }
  }
</style>

<template>
  <div
      class="container absolute-full"
      :class="landingStateClassName"
  >
    <div
        ref="refHeader"
        class="main-header fit bg-master-background-light"
    >
      <slot name="header"/>
    </div>
    <div
        :id="aspectRatioTargetId"
        class="scene bg-master-background-light fit flex items-center q-px-md"
    >
      <AspectRatio
          ref="refAspectRatio"
          class="flex justify-center items-center aspect-ratio"
          :parent-selector="'#' + aspectRatioTargetId"
          manual-resize
          update-once
          :overflow="aspectRatioOverflow"
          :aspect-x="valueAspectX"
          :aspect-y="valueAspectY"
          :delta-height="innerOffset"
          :callResize="callResize"
          @resized="callResize = false"
      >
        <slot/>
      </AspectRatio>
    </div>
    <div
        ref="refSceneControl"
        class="scene-control bg-master-background-light fit"
    >
      <slot name="scene-control"/>
    </div>
    <div
        ref="refSceneTimeline"
        class="scene-timeline bg-master-background-light fit"
    >
      <slot name="scene-timeline"/>
    </div>
    <div
        ref="refProjectMusic"
        class="music bg-master-background-light fit no-scroll"
    >
      <slot name="music"/>
    </div>
    <div
        ref="refFooterToolbar"
        class="footer-toolbar relative-position fit no-scroll"
    >
      <div class="scene-list bg-master-background-light">
        <slot name="scene-list"/>
      </div>
      <div class="footer bg-master-background-light fit">
        <slot name="footer"/>
      </div>
      <slot name="footer-toolbar"/>
      <div
          class="float-panel no-pointer-events"
      >
        <slot name="float"/>
      </div>
    </div>
    <div
        class="customizer bg-master-background"
        :style="{display: isMobileBehavior ? (modelCustomizer ? 'block' : 'none') : 'block'}"
    >
      <slot name="customizer"/>
    </div>
  </div>
</template>