<script lang="ts" setup>
  /**
   * Компонент: индикатор воспроизведения видео.
   *
   * Позволяет отслеживать и изменять позицию воспроизведения видео.
   *
   * Отображает маркер позиции воспроизведения:
   * - на десктопе - желаемой;
   * - на мобильных устройствах - текущей.
   *
   * Свойства: см. `VideoPlaybackTimelineProps`.
   * События: см. `VideoPlaybackTimelineEmits`.
   */

  import { onBeforeUnmount, onMounted, ref, watch } from 'vue';
  import PlaybackTimeline from './PlaybackTimeline.vue';

  type VideoPlaybackPosition = number;
  type VideoDuration = number;

  interface VideoPlaybackTimelineProps {
    // элемент HTML5 видео
    videoElement: any
    preloading?: boolean
  }

  interface VideoPlaybackTimelineEmits {
    (event: "position:changed", payload: VideoPlaybackPosition | null): void,
  }

  const props = defineProps<VideoPlaybackTimelineProps>();
  const emit = defineEmits<VideoPlaybackTimelineEmits>();

  const currentTime = ref<number>(0);

  /**
   * Элемент <video>.
   */
  const videoElement = ref<any>(null);

  /**
   * Длительность видео (в секундах).
   */
  const duration = ref<VideoDuration>(0);

  /**
   * Обработчики событий.
   */

  /**
   * Обработчик события установки позиции проигрывания пользователем.
   * @param value
   */
  const onPlaybackPositionChanged = (value: VideoPlaybackPosition | null) => {
    if (value != null) {
      // установить новую текущую позицию слайдера и видео
      videoElement.value.currentTime = value;
      emit("position:changed", value);
    }
  };

  /**
   * Обработчик события загрузки метаданных видео.
   */
  const onMetadataLoaded = () => {
    setDuration(videoElement.value?.duration);
  };

  /**
   * Обработчик события изменения позиции проигрывания (при проигрывании видео).
   */
  const onTimeUpdate = () => {
    currentTime.value = videoElement.value.currentTime;
  };

  const setDuration = (value: number) => {
    duration.value = value || 0;
  };

  /**
   * Отслеживать готовность элемента HTML5 video.
   */
  watch(() => props.videoElement, (videoElt) => {
    if (videoElt != null) {
      videoElement.value = videoElt;
      videoElement.value?.addEventListener('timeupdate', onTimeUpdate);
      videoElement.value?.addEventListener('loadedmetadata', onMetadataLoaded);

      setDuration(videoElt.duration);
    }
  });

  onMounted(() => {
    // при разработке (HMR) элемент видео может быть уже инициализирован
    // и ждать загрузки его метаданных не нужно
    if (props.videoElement) {
      videoElement.value = props.videoElement;

      setDuration(videoElement.value?.duration);
      videoElement.value.addEventListener('timeupdate', onTimeUpdate);
    }
  });

  onBeforeUnmount(() => {
    videoElement.value?.removeEventListener('timeupdate', onTimeUpdate);
    videoElement.value?.removeEventListener('loadedmetadata', onMetadataLoaded);
  });
</script>

<template>
  <PlaybackTimeline
      :class="preloading && 'preloading'"
      :duration="duration"
      :time="currentTime"
      :disabled="!videoElement"
      @position:changed="onPlaybackPositionChanged"
  />
</template>