<script lang="ts" setup>
  import { computed } from 'vue';
  import { QSpinnerHourglass } from 'quasar';
  import { setupI18n } from '@mixapixa-masters/locales';

  const props = withDefaults(defineProps<{
    size?: string,
    color?: string,
    textColor?: string,
    text?: string,
  }>(), {
    size: '80px',
    color: 'master-text-color',
    textColor: 'master-text-color',
  });

  const { t } = setupI18n();
  const classNameTextColor = computed(() => `text-${props.textColor}`);
</script>

<style lang="scss" scoped>
  .loader-text {
    color: inherit;
  }
</style>
<template>
  <div
    class="absolute-center flex justify-center"
    :class="classNameTextColor"
  >
    <QSpinnerHourglass
      :color="color"
      size="80px"
    />
    <div class="text-weight-medium loader-text ellipsis">
      {{ text || t('resultWait') }}
    </div>
  </div>
</template>