<template>
  <div
      :class="['absolute video-marker', classIndicatorColor]"
      :style="{
      left: horizontalPosition,
      bottom: verticalPosition,
      height: indicatorPinHeight,
    }"
      @mouseenter="emit('mouseenter')"
      @mouseleave="emit('mouseleave')">
    <div
        :class="[
        'absolute video-marker__indicator rounded-borders row justify-center items-center',
        classColor,
        classTextColor
      ]"
        :style="{
        height: indicatorHeight,
        width: indicatorWidth,
        left: indicatorHorizontalPosition,
      }"
    >
      <slot/>
    </div>
  </div>
</template>

<script lang="ts" setup>

  /**
   * Компонент: маркер позиции видео.
   *
   * Позволяет визуализировать позицию воспроизведения видео.
   *
   * Родительский элемент должен быть абсолютно/относительно позиционирован.
   *
   * Свойства: см. `VideoMarkerProps`.
   * События: см. `VideoMarkerEmits`.
   * Слоты:
   * - default: текст надписи.
   */

  import { computed } from "vue";


  interface VideoMarkerProps {
    // цвет фона надписи
    color: string,
    // цвет текста надписи
    textColor: string,
    // цвет "ножки" надписи (по умолчанию совпадает с цветом фона надписи)
    indicatorColor?: string,
    // высота надписи (любая строка, допустимая при указании размеров, по умолчанию '16px')
    indicatorHeight?: string,
    // ширина надписи (любая строка, допустимая при указании размеров, кроме 'auto', по умолчанию '70px')
    indicatorWidth?: string,
    // высота "ножки" надписи (любая строка, допустимая при указании размеров, по умолчанию '100% + 8px')
    indicatorPinHeight?: string,
    // позиция маркера по горизонтали относительно левого края родителя (любая строка, допустимая при указании
    // позиции элемента, по умолчанию '0')
    horizontalPosition?: string,
    // позиция маркера по вертикали относительно нижнего края родителя (любая строка, допустимая при указании
    // позиции элемента, по умолчанию '0')
    verticalPosition?: string,
  }

  interface VideoMarkerEmits {
    // начало наведения курсора на компонент
    (event: "mouseenter"): void,

    // конец наведения курсора на компонент
    (event: "mouseleave"): void,
  }


  const props = defineProps<VideoMarkerProps>();
  const emit = defineEmits<VideoMarkerEmits>();

  const classColor = computed(() => `bg-${props.color}`);
  const classTextColor = computed(() => `text-${props.textColor}`);
  const classIndicatorColor = computed(() => `text-${props.indicatorColor || props.color}`);
  const indicatorHeight = computed(() => props.indicatorHeight != null ?
      props.indicatorHeight : '16px');
  const indicatorWidth = computed(() => props.indicatorWidth != null ?
      props.indicatorWidth : '70px');
  const indicatorPinHeight = computed(() => props.indicatorPinHeight != null ?
      props.indicatorPinHeight : 'calc(100% + 8px)');
  const horizontalPosition = computed(() => props.horizontalPosition != null ?
      props.horizontalPosition : 0);
  const verticalPosition = computed(() => props.verticalPosition != null ?
      props.verticalPosition : 0);

  const indicatorHorizontalPosition = computed(() => {
    if (indicatorWidth.value != null && indicatorWidth.value !== 'auto') {
      return `calc(-${indicatorWidth.value} / 2 + 5px)`;
    } else {
      return '';
    }
  });
</script>

<style lang="scss" scoped>
  @import "src/styles/variables.scss";

  .video-marker {
    cursor: e-resize;
    width: 10px;
    margin-left: -5px;
    height: calc(100% + 8px);

    &:after {
      position: absolute;
      content: '';
      background: currentColor;
      top: 0;
      height: 100%;
      width: 2px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__indicator {
      left: -30px;
      text-align: center;
      bottom: 100%;
      font-size: 12px;
    }
  }
</style>