<script lang="ts" setup>
  import { IconTextButton } from '../index';

  const emits = defineEmits<{
    click: []
  }>()
</script>

<template>
  <IconTextButton
      class="q-pa-sm"
      color="master-background-control"
      text-color="master-text-color"
      @click="emits(
          'click'
      )"
  >
    <svg viewBox="0 0 349 56" width="176" height="25" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><title>Yoomoney logo</title>
      <path
          d="M95 16.6698L106.137 42.4662L101.682 54.0176H108.468L122.817 16.6698H115.824L109.556 34.1782L102.304 16.6698H95Z"></path>
      <path
          d="M138.006 16.1C130.029 16.1 124.175 21.8498 124.175 29.6198C124.175 37.4416 130.029 43.1396 138.006 43.1396C145.983 43.1396 151.836 37.4416 151.836 29.6198C151.836 21.8498 145.983 16.1 138.006 16.1ZM138.006 22.1606C142.202 22.1606 144.947 25.165 144.947 29.6198C144.947 34.1264 142.202 37.1308 138.006 37.1308C133.81 37.1308 131.013 34.1264 131.013 29.6198C131.013 25.165 133.81 22.1606 138.006 22.1606Z"></path>
      <path
          d="M169.268 16.1C161.291 16.1 155.437 21.8498 155.437 29.6198C155.437 37.4416 161.291 43.1396 169.268 43.1396C177.245 43.1396 183.098 37.4416 183.098 29.6198C183.098 21.8498 177.245 16.1 169.268 16.1ZM169.268 22.1606C173.464 22.1606 176.209 25.165 176.209 29.6198C176.209 34.1264 173.464 37.1308 169.268 37.1308C165.072 37.1308 162.275 34.1264 162.275 29.6198C162.275 25.165 165.072 22.1606 169.268 22.1606Z"></path>
      <path
          d="M188.668 42.6216H195.246V26.719C195.246 23.352 197.577 22.1606 199.857 22.1606C202.343 22.1606 204.001 23.7146 204.001 26.719V42.6216H210.579V26.719C210.579 23.3002 212.91 22.1606 215.189 22.1606C217.676 22.1606 219.333 23.7146 219.333 26.719V42.6216H225.912V26.201C225.912 19.5706 221.768 16.1 216.64 16.1C213.221 16.1 210.786 17.654 208.922 19.9332C207.264 17.395 204.57 16.1 201.514 16.1C198.717 16.1 196.593 17.3432 194.936 19.208L194.573 16.6698H188.668V42.6216Z"></path>
      <path
          d="M244.742 16.1C236.765 16.1 230.911 21.8498 230.911 29.6198C230.911 37.4416 236.765 43.1396 244.742 43.1396C252.719 43.1396 258.573 37.4416 258.573 29.6198C258.573 21.8498 252.719 16.1 244.742 16.1ZM244.742 22.1606C248.938 22.1606 251.683 25.165 251.683 29.6198C251.683 34.1264 248.938 37.1308 244.742 37.1308C240.546 37.1308 237.749 34.1264 237.749 29.6198C237.749 25.165 240.546 22.1606 244.742 22.1606Z"></path>
      <path
          d="M264.142 42.6216H270.721V28.014C270.721 23.6628 273.725 22.2124 276.47 22.2124C279.527 22.2124 281.702 24.1808 281.702 28.014V42.6216H288.281V26.978C288.281 19.8296 283.619 16.1 278.076 16.1C275.175 16.1 272.534 17.1878 270.462 19.2598L270.099 16.6698H264.142V42.6216Z"></path>
      <path
          d="M307.011 43.1396C313.279 43.1396 317.785 40.187 319.339 35.007L313.227 33.7638C312.398 35.9394 310.43 37.4416 307.011 37.4416C303.281 37.4416 300.64 35.6804 300.018 31.64H319.288C319.495 30.6558 319.598 29.6198 319.598 28.6874C319.598 21.1764 314.315 16.1 306.7 16.1C298.827 16.1 293.284 21.9016 293.284 29.7752C293.284 37.4934 298.412 43.1396 307.011 43.1396ZM306.7 21.539C310.015 21.539 312.139 23.352 312.709 26.6154H300.225C301.158 23.1966 303.696 21.539 306.7 21.539Z"></path>
      <path
          d="M321.119 16.6698L332.256 42.4662L327.801 54.0176H334.587L348.936 16.6698H341.943L335.675 34.1782L328.423 16.6698H321.119Z"></path>
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.0626 27.9236C23.1041 12.5408 35.701 0 51.5303 0C67.2056 0 80.1783 12.5823 79.9981 28C79.9981 43.4177 67.2056 56 51.5303 56C35.8807 56 23.1044 43.6356 23.0626 28.0767V48.9114H12.9727L0 8.15186H23.0626V27.9236ZM40.8999 28C40.8999 33.6709 45.7646 38.4557 51.5303 38.4557C57.4761 38.4557 62.1607 33.6709 62.1607 28C62.1607 22.3291 57.2959 17.5443 51.5303 17.5443C45.7646 17.5443 40.8999 22.3291 40.8999 28Z"
            fill="#0070F0"></path>
    </svg>
  </IconTextButton>
</template>