<template>
  <VideoMarkerElement
      class="no-pointer-events"
      style="opacity: 0.5"
      color="master-background-control"
      text-color="master-text-color"
      indicator-color="master-background-control"
  >
    <slot/>
  </VideoMarkerElement>
</template>

<script lang="ts" setup>
  import VideoMarkerElement from "./VideoMarkerElement.vue";
</script>