<script>
  import { h, resolveDirective, withDirectives } from 'vue';
  import { colors } from 'quasar';

  const getPaletteColor = colors.getPaletteColor;

  const NODE_RANGE_CONTROL_SKINS = {
    RANGE: 'range',
    SIMPLE: 'simple',
    TRIM: 'trim',
  };

  const NODE_RANGE_CONTROL_SIDE = {
    LEFT: 'left',
    RIGHT: 'right',
  };

  const NODE_RANGE_SIDE_PREFIX = {
    [NODE_RANGE_CONTROL_SIDE.LEFT]: -1,
    [NODE_RANGE_CONTROL_SIDE.RIGHT]: 1,
  };

  const PARENT_TAG = {
    [NODE_RANGE_CONTROL_SKINS.SIMPLE]: 'svg',
    [NODE_RANGE_CONTROL_SKINS.RANGE]: 'svg',
    [NODE_RANGE_CONTROL_SKINS.TRIM]: 'div',
  }

  function mxDragFilter(event) {
    return event.button === 0 || (event.touches?.length === 1);
  }

  export default {
    name: 'NodeRangeControl',

    props: {
      side: {
        type: String,
        default: NODE_RANGE_CONTROL_SIDE.LEFT,
        validator: v => Object.values(NODE_RANGE_CONTROL_SIDE).includes(v),
      },

      skin: {
        type: String,
        default: NODE_RANGE_CONTROL_SKINS.RANGE,
        validator: v => Object.values(NODE_RANGE_CONTROL_SKINS).includes(v),
      },

      indicatorRadius: {
        type: Number,
        default: 6,
      },

      height: {
        type: String,
        default: '29px',
      },

      overlayCursor: String,

      color: String,
    },

    emits: ['dragstart', 'drag', 'dragend', 'mouseenter', 'mouseleave'],

    computed: {
      bgColor() {
        return getPaletteColor(this.color ?? '');
      },
    },

    render() {
      const {skin, height, indicatorRadius, side, overlayCursor} = this;
      const indicatorHeight = skin === NODE_RANGE_CONTROL_SKINS.RANGE ? indicatorRadius * 2 : 0;
      const svgHeight = indicatorHeight + parseInt(height);

      const rangeControl = () => {
        if (skin === NODE_RANGE_CONTROL_SKINS.RANGE) {
          return [
            h('circle', {
              cx: 6,
              cy: 6,
              r: indicatorRadius,
              fill: 'black',
            }),
            h('rect', {
              x: 5,
              y: indicatorHeight,
              width: 2,
              height: parseInt(height),
            }),
          ]
        } else if (skin === NODE_RANGE_CONTROL_SKINS.SIMPLE) {
          return [
            h('rect', {
              x: 5,
              y: indicatorHeight,
              width: 2,
              height: parseInt(height),
            }),
          ]
        } else if (skin === NODE_RANGE_CONTROL_SKINS.TRIM) {
          if (side === 'left') {
            return [
              h('div', {}),
            ]
          }

          return [
            h('div', {}),
          ]

        }
      }

      return withDirectives(h(PARENT_TAG[skin], {
        style: {
          width: '20px',
          height: `${svgHeight}px`,
          transform: `translate(${NODE_RANGE_SIDE_PREFIX[side] * 50}%, -${indicatorHeight}px)`,
        },
        class: [
          {
            [`absolute-top-${side}`]: true,
          },
          `skin--${skin}`,
          `type--${side}`,
          'mp-node-range-control',
        ],
        viewBox: `0 0 12 ${svgHeight}`,
        onDragstart: (event) => this.$emit('dragstart', event),
        onDrag: (event) => this.$emit('drag', event),
        onDragend: (event) => this.$emit('dragend', event),
        onMouseenter: (event) => this.$emit('mouseenter', event),
        onMouseleave: (event) => this.$emit('mouseleave', event),
      }, rangeControl()), [
        [
          resolveDirective('draggable'),
          {
            filter: mxDragFilter,
            overlayCursor: overlayCursor ?? '',
          },
        ],
      ]);
    },
  };
</script>

<style scoped lang="scss">
  .mp-node-range-control {
    cursor: ew-resize;
  }

  .skin {
    $border-radius: 6px;
    $indH: 10px;
    $widthNode: 14px;
    $widthParent: $widthNode + 10px;

    &--trim {
      //width: $widthParent !important;
      div {
        position: relative;
        width: $widthNode;
        background: v-bind(bgColor);
        height: calc(100% + $indH);
        top: -$indH / 2;
      }

      $dragIndH: $indH + 6px;
      @mixin dragInd{
        content: '';
        position: absolute;
        width: 2px;
        height: calc(100% - $dragIndH);
        background: white;
        top: $dragIndH / 2;
      }

      &.type--left {
        div {
          position: relative;
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
          left: -4px;


          &:before,
          &:after {
            @include dragInd;
          }

          &:before {
            left: 4px;
          }

          &:after {
            left: 8px;
          }
        }
      }

      &.type--right {
        div {
          position: relative;
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          right: -10px;

          &:before,
          &:after {
            @include dragInd;
          }

          &:before {
            left: 4px;
          }

          &:after {
            left: 8px;
          }
        }
      }
    }


  }
</style>