<template>
  <div
      :class="`mp-slider-body absolute-top-left inline-block bg-${color} text-${textColor}`"
      :style="`height: ${height}`"
  >
    <slot/>
  </div>
</template>
<script lang="ts" setup>
  defineProps({
    color: {
      type: String,
      default: 'brand',
    },
    textColor: {
      type: String,
      default: 'white',
    },
    height: {
      type: String,
      default: '29px',
    },
  });
</script>
<style lang="scss">
  .mp-slider-body {
    cursor: default;
  }
</style>