<template>
  <svg
      class="absolute timeline-indicator-ghost"
      :style="`width:12px; transform: translate(-50%, 0px); height: ${height}`"
      :viewBox="`0 0 12 ${h}`"
      fill="#38404B"
  >
    <rect
        x="5"
        y="0"
        width="2"
        :height="h"
    />
  </svg>
</template>
<script lang="ts" setup>
  const props = defineProps({
    height: {
      type: String,
      default: '29px'
    }
  });
  const h = parseInt(props.height);
</script>
<style>
  .timeline-indicator-ghost {
    width: 0;
    height: 100%;
    opacity: 0.5;
  }
</style>