<script setup lang="ts">
  import { createEvent } from '../../utils/event';
  import MTimeDraggableInput from '../MTimeDraggableInput.vue';
  import { computed, defineProps } from 'vue';
  import type { IOptionsRange } from './types';
  import { setupI18n } from '@mixapixa-masters/locales';

  interface TrimVideoCustomizerProps {
    videoDuration: number;
    rangeStart: number;
    rangeEnd: number;
    maxRange: number;
    preloading?: boolean;
  }

  const props = defineProps<TrimVideoCustomizerProps>();
  const emit = defineEmits(['update', 'dragstart:input', 'dragend:input']);
  const { t } = setupI18n();
  /**
   * Настройки определения значения пределов движения начала диапазона
   */
  const optionsRangeStart = computed((): IOptionsRange => {
    return {
      min: relativeToSecond(Math.max(0, props.rangeEnd - props.maxRange)),
      max: relativeToSecond(props.rangeEnd),
    };
  });

  /**
   * Настройки определения значения пределов движения конца диапазона
   */
  const optionsRangeEnd = computed((): IOptionsRange => {
    return {
      min: relativeToSecond(props.rangeStart),
      max: relativeToSecond(Math.min(100, props.rangeStart + props.maxRange)),
    };
  });

  /**
   * Настройки определения значения пределов движения всего диапазона
   */
  const optionsRangeDuration = computed((): IOptionsRange => {
    return {
      min: relativeToSecond(0),
      max: relativeToSecond(100 - props.rangeStart),
    };
  });

  const trimDuration = computed(() => {
    return (props.videoDuration * (props.rangeEnd - props.rangeStart)) / 100;
  });

  function handlerInputDragRangeStart(value: number) {
    emitUpdate({
      start: secondToRelativeValue(value),
    });
  }

  function handlerInputDragRangeEnd(value: number) {
    emitUpdate({
      end: secondToRelativeValue(value),
    });
  }

  /**
   * Обработчик изменения значения в поле ввода начала диапазона
   * @param value Значение в секундах
   */
  function handlerInputRangeStart(value: number) {
    const min = relativeToSecond(Math.max(0, props.rangeEnd - props.maxRange));
    const out = Math.min(Math.max(value, min), relativeToSecond(props.rangeEnd));

    if (Number.isFinite(out) && out >= 0) {
      const outInRelative = secondToRelativeValue(out);
      emitUpdate({
        start: outInRelative,
      });
    }
  }

  /**
   * Обработчик изменения значения в поле ввода конца диапазона
   * @param value Значение в секундах
   */
  function handlerInputRangeEnd(value: number) {
    const max = relativeToSecond(Math.min(100, props.rangeStart + props.maxRange));
    const out = Math.min(Math.max(value, relativeToSecond(props.rangeStart)), max);

    if (Number.isFinite(out) && out >= 0) {
      const outInRelative = secondToRelativeValue(out);
      emitUpdate({
        end: outInRelative,
      });
    }
  }

  function handlerInputDragRangeDuration(value: number) {
    emitUpdate({
      end: props.rangeStart + secondToRelativeValue(value),
    });
  }

  /**
   * Обработчик изменения значения в поле ввода длительности диапазона
   * @param value Значение в секундах
   */
  function handlerInputRangeDuration(value: number) {
    const initValue = relativeToSecond(100 - props.rangeStart);
    const max = Math.min(initValue, value);
    const out = Math.min(Math.max(value, initValue), max);

    if (Number.isFinite(out) && out >= 0) {
      const outInRelative = secondToRelativeValue(out);
      emitUpdate({
        end: props.rangeStart + outInRelative,
      });
    }
  }

  function emitUpdate(data: { start?: number, end?: number, max?: number }) {
    emit('update', createEvent('update', {
      start: props.rangeStart,
      end: props.rangeEnd,
      max: props.maxRange,
      ...data,
    }));
  }

  /**
   * Конвертируент относительное значение в секунды относительно videoDuration.value
   * @param value
   */
  function relativeToSecond(value: number) {
    return (props.videoDuration * value) / 100;
  }

  /**
   * Конвертирует секунды в относительное значение относительно 100
   * @param value
   */
  function secondToRelativeValue(value: number) {
    return (value * 100) / props.videoDuration;
  }
</script>

<style scoped lang="scss">

</style>

<template>
  <MTimeDraggableInput
      suffix=""
      :label="t('startSec')"
      :value="videoDuration * rangeStart / 100"
      :duration="optionsRangeStart.max"
      :min="optionsRangeStart.min"
      :preloading="preloading"
      @input:drag="handlerInputDragRangeStart"
      @change="handlerInputRangeStart"
      @drag:end="emit('dragend:input')"
      @input:dragstart="emit('dragstart:input')"
  />
  <MTimeDraggableInput
      suffix=""
      :label="t('endSec')"
      :value="videoDuration * rangeEnd / 100"
      :duration="optionsRangeEnd.max"
      :min="optionsRangeEnd.min"
      :preloading="preloading"
      @input:drag="handlerInputDragRangeEnd"
      @change="handlerInputRangeEnd"
      @drag:end="emit('dragend:input')"
      @input:dragstart="emit('dragstart:input')"
  />
  <MTimeDraggableInput
      suffix=""
      :label="t('durationSec')"
      :value="trimDuration"
      :duration="optionsRangeDuration.max"
      :min="optionsRangeDuration.min"
      :preloading="preloading"
      @input:drag="handlerInputDragRangeDuration"
      @change="handlerInputRangeDuration"
      @drag:end="emit('dragend:input')"
      @input:dragstart="emit('dragstart:input')"
  />
</template>