<script setup lang="ts">
  import { createEvent } from '../../utils/event';
  import { isMobile } from '../../utils/platform';
  import VideoTimeline from './VideoTimeline.vue';
  import VideoTrimRange from './VideoTrimRange.vue';
  import type { StyleValue } from 'vue';
  import { computed, defineProps, ref } from 'vue';

  interface TrimVideoTimeline {
    videoDuration: number;
    currentTime: number;
    height?: string | undefined;
    start?: number | undefined;
    end?: number | undefined;
    bodyColor?: string | undefined;
    rangeColor?: string | undefined;
    rangeStyle?: StyleValue | undefined;
    preloading?: boolean | undefined;
    skin?: 'simple' | 'trim';
    rangeControlColor?: string | undefined;
    hideRange?: boolean;
  }

  const props = withDefaults(defineProps<TrimVideoTimeline>(), {
    start: 15,
    end: 85,
    skin: 'simple',
  });

  const emit = defineEmits(['update:time', 'dblclick:timeline', 'update:trimRange']);
  const refVideoTrimRange = ref<typeof VideoTrimRange | null>(null);
  /**
   * Высота области обеих шкал
   */
  const timelineHeight = computed(() => {
    if (props.height !== undefined) {
      return props.height;
    }
    return isMobile ? '30px' : '29px';
  });

  function handlerDblClickVideoTimeline({ timeMarkerPosition }: { timeMarkerPosition: number }) {
    if (!refVideoTrimRange.value) return;
    const { rangeStart, rangeEnd, maxRange } = refVideoTrimRange.value;
    /**
     * Получение относительного значения положения маркера относительно действующего диапазона
     */
    const delta = timeMarkerPosition - rangeStart;
    /**
     * Получения значения половины длины действующего диапазона
     */
    const halfDuration = (rangeEnd - rangeStart) / 2;

    const eventData = {
      start: rangeStart,
      end: rangeEnd,
      max: maxRange,
    };

    if (delta <= halfDuration) {
      refVideoTrimRange.value.setStart(timeMarkerPosition);
      eventData.start = timeMarkerPosition;
    } else {
      refVideoTrimRange.value.setEnd(timeMarkerPosition);
      eventData.end = timeMarkerPosition;
    }

    emit('update:trimRange', createEvent('update', eventData));
  }

  defineExpose({
    refVideoTrimRange,
  });
</script>

<style lang="scss" scoped>
  .timeline-skin {
    &--trim {
      :deep .video-marker {
        height: calc(100% - 9px);

        &:after {
          height: calc(100% + 32px);
          top: -21px;
        }
      }
    }
  }
</style>

<template>
  <div
      class="column full-width"
      :class="`timeline-skin--${skin}`"
  >
    <div class="relative-position">
      <VideoTimeline
          :preloading="preloading"
          :bg-color="props.bodyColor"
          :height="timelineHeight"
          :duration="videoDuration"
          :current-time="currentTime"
          @update="emit('update:time', $event)"
          @dblclick="handlerDblClickVideoTimeline"
      >
        <VideoTrimRange
            v-if="!hideRange"
            ref="refVideoTrimRange"
            class="absolute-top"
            :preloading="preloading"
            :bg-color="props.rangeColor"
            :range-control-color="props.rangeControlColor"
            :body-style="props.rangeStyle"
            :skin="skin"
            :height="timelineHeight"
            :start="props.start"
            :end="props.end"
            :duration="videoDuration"
            @update="emit('update:trimRange', $event)"
        >
          <slot/>
        </VideoTrimRange>
      </VideoTimeline>
    </div>
  </div>
</template>