<template>
  <div
      :style="{height: height}"
      class="relative-position col-grow items-center flex"
      :class="preloading && 'preloading'"
      ref="refSliderContainer"
      @click="handlerMarkerPositionSetting"
      @mousemove="handlerMouseoverCurrentTimePosition"
      @mouseout="handlerMouseoutVideoTimeline"
      @mousedown.capture="handlerMouseDownVideoTimeline"
      @dblclick="handlerDblClick"
  >
    <SliderBody
        :height="height"
        :color="props.bgColor"
        class="full-width"
    />
    <slot/>
    <CurrentTimeGhost
        v-if="!noGhostMarker && mouseEntered"
        :style="ghostCurrentTimeMarkerPosition"
    >
      {{ convertSeconds(ghostCurrentTime) }}
    </CurrentTimeGhost>
    <VideoMarkerElement
        :no-label="noTimeLabel"
        :style="[currentTimeMarkerPosition, 'z-index: 1']"
        class="non-selectable"
        color="master-background-control-light"
        text-color="black"
        v-draggable="{overlayCursor: 'e-resize'}"
        @dragstart="handlerDragStartCurrentTimeMarker"
        @drag="handlerDragCurrentTimeMarker"
    >
      {{ convertSeconds(currentTime) }}
    </VideoMarkerElement>
  </div>
</template>

<script lang="ts" setup>
  import SliderBody from './SliderBody.vue';
  import VideoMarkerElement from './VideoMarkerElement.vue';
  import { computed, ref, watchEffect } from 'vue';
  import { convertSeconds } from '../../utils/time';
  import CurrentTimeGhost from './CurrentTimeGhost.vue';

  const props = withDefaults(defineProps<{
    duration: number
    currentTime: number
    height: string
    bgColor?: string
    preloading?: boolean
    noTimeLabel?: boolean | undefined
    noGhostMarker?: boolean
  }>(), {
    bgColor: 'timeline-light',
  });

  const emit = defineEmits(['update', 'dblclick']);

  /**
   * Абсолютное значение положения индикатора текущего времени (%)
   */
  const currentTimeMarker = ref(0);
  const currentTime = ref(0);
  const ghostCurrentTimeMarker = ref(0);
  const ghostCurrentTime = ref(0);
  const mouseEntered = ref(false);
  /**
   * Родительский контейнер компонента
   */
  const refSliderContainer = ref<HTMLElement>(document.createElement('div'));
  let widthSliderContainer: number;
  let rectSliderContainer: DOMRect;

  /**
   * Возвращает стили положения маркера текущего времени
   */
  const currentTimeMarkerPosition = computed(() => {
    return {
      left: `${currentTimeMarker.value}%`,
    };
  });

  const ghostCurrentTimeMarkerPosition = computed(() => {
    return {
      left: `${ghostCurrentTimeMarker.value}%`,
    };
  });

  watchEffect(() => {
    currentTime.value = props.currentTime;
    currentTimeMarker.value = props.currentTime / props.duration * 100;
  });

  /**
   * Возвращает значение положения индикатора текущего времени (%) и значение текущего времени видео (сек)
   * по переданному значению координаты х
   * @param x
   */
  function getTimeByX(x: number): { timeMarkerPosition: number, time: number } {
    /**
     * Длительность видео контента
     */
    const { duration } = props;
    /**
     * Ширина контейнера шкалы времени
     */
    const width = refSliderContainer.value?.offsetWidth;
    /**
     * Координаты курсора относительно шкалы времени
     */
    const cursorX = Math.min(Math.max(0, x - refSliderContainer.value.getBoundingClientRect().x), width);
    /**
     * Относительное значение положения индикатора текущего времени (%)
     */
    const timeMarkerPosition = (cursorX / width) * 100;
    /**
     * Значение текущего времени (сек)
     */
    const time = (duration * timeMarkerPosition) / 100;

    return {
      timeMarkerPosition,
      time,
    };
  }

  /**
   * Изменение текущего времени при клике на шкалу времени
   * @param event
   */
  function handlerMarkerPositionSetting(event: MouseEvent) {
    const { timeMarkerPosition, time } = getTimeByX(event.clientX);

    currentTime.value = time;
    currentTimeMarker.value = timeMarkerPosition;

    emit('update', currentTime.value);
  }

  function handlerMouseoverCurrentTimePosition(event: MouseEvent) {
    /**
     * Нужно непосредственное поведение движения мыши по элементу, чтобы показать призрак текущего времени.
     * Может появиться ситуация, когда призрак не отобразится, потому что событие mouseover уже было.
     * Т.е. призрак времени не появится более при движении мыши по элементу и это надо было исключить.
     */
    mouseEntered.value = true;

    const { timeMarkerPosition, time } = getTimeByX(event.clientX);

    ghostCurrentTime.value = time;
    ghostCurrentTimeMarker.value = timeMarkerPosition;
  }

  function handlerMouseoutVideoTimeline() {
    mouseEntered.value = false;
  }

  function handlerMouseDownVideoTimeline() {
    mouseEntered.value = false;
  }

  /**
   * Инициализация драга. Получение актуальных размеров контейнеров, которые участвуют в вычислении значений драга
   */
  function beforeDrag() {
    if (!refSliderContainer.value) return;

    const container = refSliderContainer.value;
    widthSliderContainer = container.offsetWidth;
    rectSliderContainer = container.getBoundingClientRect();
  }

  /**
   * Обработчик события @dragstart маркера текущего времени видео
   */
  function handlerDragStartCurrentTimeMarker() {
    beforeDrag();
  }

  /**
   * Обработчик события @drag маркера текущего времени видео
   */
  function handlerDragCurrentTimeMarker({ x }: { x: number }) {
    const currentX = x - rectSliderContainer.x;
    const relativeX = currentX / widthSliderContainer * 100;
    const value = Math.min(Math.max(relativeX, 0), 100);

    currentTime.value = props.duration * value / 100;
    currentTimeMarker.value = value;

    emit('update', currentTime.value);
  }

  function handlerDblClick(event: MouseEvent) {
    const { timeMarkerPosition, time } = getTimeByX(event.clientX);

    emit('dblclick', {
      time,
      timeMarkerPosition,
    });
  }


</script>
<style lang="scss" scoped>
  .range-marker {
    width: 60px;
    text-align: center;
    height: 16px;
    bottom: -25px;
    color: black;
    font-size: 12px;
  }
</style>