<style scoped lang="scss">
  .timeline-range-ghost {
    height: 100%;
    opacity: 0.5;

    &__stripes {
      background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
      background-size: 20px 20px
    }
  }
</style>

<template>
  <div class="absolute no-pointer-events timeline-range-ghost">
    <div class="timeline-range-ghost__stripes fit"/>
  </div>
</template>