<script lang="ts" setup>
  import { computed } from "vue";

  interface VideoMarkerElementProps {
    color: string,
    textColor: string,
    indicatorColor?: string | undefined,
    noLabel?: boolean | undefined
  }

  const props = defineProps<VideoMarkerElementProps>();
  defineEmits(['mouseleave', 'mouseenter']);

  const classColor = computed(() => `bg-${props.color}`);
  const classTextColor = computed(() => `text-${props.textColor}`);
  const classIndicatorColor = computed(() => `text-${props.indicatorColor || props.color}`);
</script>

<style lang="scss" scoped>
  @import "../../styles/variables";

  .video-marker {
    cursor: e-resize;
    width: 10px;
    margin-left: -5px;
    height: calc(100% + 8px);
    bottom: 0;

    &.no-label {
      height: 100%;
    }

    &:after {
      position: absolute;
      content: '';
      background: currentColor;
      top: 0;
      height: 100%;
      width: 4px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__indicator {
      top: -37px;
      left: -30px;
      width: 70px;
      text-align: center;
      height: 16px;
      bottom: -25px;
      font-size: 12px;
    }
  }
</style>

<template>
  <div
      :class="['absolute video-marker', classIndicatorColor, noLabel && 'no-label']"
      @mouseenter="$emit('mouseenter')"
      @mouseleave="$emit('mouseleave')"
  >
    <div
        v-if="!noLabel"
        :class="['absolute video-marker__indicator rounded-borders', classColor, classTextColor]"
    >
      <slot/>
    </div>
  </div>
</template>