<script setup lang="ts">
  import { DropdownButton, VideoCustomizerLayout } from './index';

  const menu = [{
    label: 1,
    click: () => {
      console.log(1);
    },
  }, {
    label: 2,
    click: () => {
      console.log(2);
    },
  }, {
    label: 3,
    click: () => {
      console.log(3);
    },
  }, {
    label: 4,
    click: () => {
      console.log(4);
    },
  }];
</script>

<template>
  <VideoCustomizerLayout
      behavior="simple"
      :aspect-x="1"
      :aspect-y="1"
  >
    <DropdownButton
        class="bg-orange-13"
        :menu="menu"
    >
      SOme text
    </DropdownButton>
    <!--    <MasterTariffSelect-->
    <!--        :model-value="true"-->
    <!--    />-->
    <!--    <template #customizer>-->
    <!--      <TrimVideoCustomizer-->
    <!--          :video-duration="600"-->
    <!--          :range-start="10"-->
    <!--          :range-end="50"-->
    <!--          :max-range="100"-->
    <!--          @update="handlerUpdateVideoTrimRange"-->
    <!--      />-->
    <!--    </template>-->
  </VideoCustomizerLayout>
</template>